		.rating-stars-div {margin-top: 8px;}
		.user-answer {padding: 0 2px;}
		tr.odd:hover .jStar {background-image: url(/lams/images/css/jquery.jRating-stars-grey.png)!important;}
		tr.even:hover .jStar {background-image: url(/lams/images/css/jquery.jRating-stars-light-grey.png)!important;}
		tr.odd .jStar {background-image: url(/lams/images/css/jquery.jRating-stars-light-blue.png)!important;}
		td.username {min-width: 250px;}
		td.rating {width:150px;}
		td.comment {min-width: 250px;}
		.alert {padding:8px}
		.extra-controls-inner:after {
		   margin-top: -10px;
		}
		.rating-comment{
			background-image: none;
			background-color: rgba(205, 205, 205, 0.1);
			border: 1px solid rgba(205, 205, 205, 0.2);
		}
		textarea {
		    margin: 10px 0px;
		    width: 88%;
		}
		.add-comment {
		    margin-top: 60px;
		}