@import "_lams_variables.scss";

.user-answer {padding: 0 2px;}

/* override the usual jrating greyed area */
textarea[id^=comment-textarea-] {
	color: inherit !important;
}

td.username {min-width: 150px;width: 25%}
td.rating {width:150px;}
td.comment {min-width: 250px;}
.alert {padding:8px}
.extra-controls-inner:after {
   margin-top: -10px;
}
.criteria-title{
	margin-top: 10px;
	font-weight: bold;	
}
textarea {
    margin: 10px 0px;
    width: 88%;
}
.add-comment {
    margin-top: 60px;
}
@media (max-width: 768px)  {
	.add-comment {
		margin-top: 10px;
	}
}

.ui-jqgrid {
	border-left-style: none !important;
	border-right-style: none !important;
	border-bottom-style: none !important;
}

.ui-jqgrid tr {
	border-left-style: none !important;
}

.ui-jqgrid td {
	border-style: none !important;
	padding: 0px 4px 4px 4px;
}

.ui-jqgrid tr.jqgrow td {
	padding: 8px 8px 8px 8px;
}

.ui-jqgrid .ui-jqgrid-view {
	font-size: $font-size-base;
	font-family: $font-family-base;
}

.divrankx {
    padding: 5px;
}

.divrankxlabel {
    height: 20px;
    margin: 5px;
    padding: 5px;
}

.email-button {
	margin: 2px;
	font-size: $font-size-small !important; // force it to be small or the jqgrid setting will override
}

#no-users-info {
	display: none;
}

.tablesorter {
	margin-bottom: 0px;
}