div.error, div.message {
    background-color: #ffffcc;
    border: 1px solid #000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 10px auto;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
}

/* use a different color for the errors */
div.error {
	border: 2px solid red;
}

div.info {
	color: #000000;
	padding:8px 10px 10px 40px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: normal;
	background: url('../images/edit.gif') no-repeat #d8e4f1 10px 8px;
	width: 70%;
	border: 1px solid #3c78b5;
	float: none;
}

img.validationWarning, div.errors img.icon, div.messages img.icon {
    border: 0;
    width: 14px;
    height: 13px;
    vertical-align: top;
}
div.message img.icon {
    vertical-align: middle;
}
.hint {
	font-style: italic;
}
form#recordForm input, form#recordForm textarea, form#recordForm select{
	margin-top: 6px;
}
/* overrides form#recordForm input for file input */
form#recordForm input.file-input-name{ 
	margin-top: 0px;
}
div.bigNumber{
	font-weight: bold;
	font-size: larger;
}

table#recordListTable td, table#horizontalListTable td  {
	/* cells must have the same height, otherwise they will be incorrectly aligned in horizontal record list*/
	padding-left: 5px;
	vertical-align: middle;
	padding-right: 5px;
}

table#recordListTable td  {
	background-color:#f9f9f9
}


table#recordListTable td.fixedCellHeight, table#horizontalListTable td.fixedCellHeight  {
	/* cells must have the same height, otherwise they will be incorrectly aligned in horizontal record list*/
	height: 150px;
}

table#summaryTable table.alternative-color-inner-table{
	/* centers the table in the outer table column */
	margin: auto;
}

table#recordListTable, table#recordListTable tr, table#recordListTable td{
	border-right: none !important;
}
table#summaryTable td.singleSummaryCell {
	vertical-align: middle;
	text-align: center;
}

table#summaryTable th.singleSummaryCell {
	vertical-align: middle;
	text-align: center;
}

border-thick { 
	border-left-width: 3px;
}