.innerforms {
	border: 0px;
	font-size: small;
	font-style: normal;
	width:100%;
}

div.error, div.message {
    background-color: #ffffcc;
    border: 1px solid #000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 10px auto;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
}

/* use a different color for the errors */
div.error {
	border: 2px solid red;
}

div.info {
	color: #000000;
	padding:8px 10px 10px 40px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: normal;
	background: url('../images/css/edit.gif') no-repeat #d8e4f1 10px 8px;
	width: 70%;
	border: 1px solid #3c78b5;
	float: none;
}

img.validationWarning, div.errors img.icon, div.messages img.icon {
    border: 0;
    width: 14px;
    height: 13px;
    vertical-align: top;
}
div.message img.icon {
    vertical-align: middle;
}
.hint {
	font-style: italic;
}
table.recordList {
	border-bottom: thin black solid;
}


form#recordForm input, form#recordForm textarea, form#recordForm select{
	margin-top: 6px;
}
.button-add-div {
	padding-left: 30px;
}
div.bigNumber{
	font-weight: bold;
	font-size: larger;
	padding-top: 5px;
}
table#horizontalListTable {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

table#horizontalListTable td {
	border-left: 1px black solid;
}

table#recordListTable td.fixedCellHeight, table#horizontalListTable td.fixedCellHeight  {
	padding-left: 20px;
	height: 90px;
	vertical-align: middle;
}

table#horizontalListTable td#lastHorizontalQuestion{
	padding-left: 20px;
	height: 75px;
	vertical-align: middle;
}

form#recordForm table.alternative-color-inner-table td, table.recordList table.alternative-color-inner-table td,
table#horizontalListTable table.alternative-color-inner-table td,  table#summaryTable table.alternative-color-inner-table td{
	margin: 0px;
	padding: 0px;
	border: none;
	background: transparent;
	vertical-align: middle;
}

table#summaryTable td.singleSummaryCell {
	vertical-align: middle;
	text-align: center;
}

table#recordListTable td.fixedCellWidth{
	width: 160px;
}