div.error, div.message {
  background-color: #fff;
  border: thin solid #AAAAAA;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 10px auto;
  padding: 3px;
  text-align: left;
  vertical-align: bottom; }
div.error {
  border: 3px solid #d9534f; }

img.validationWarning, div.errors img.icon, div.messages img.icon {
  border: 0;
  width: 14px;
  height: 13px;
  vertical-align: top; }

div.message img.icon {
  vertical-align: middle; }

.hint {
  font-style: italic; }

form#recordForm input, form#recordForm textarea, form#recordForm select {
  margin-top: 6px; }
form#recordForm input.file-input-name {
  margin-top: 0px; }

div.bigNumber {
  font-weight: bold;
  font-size: larger; }

table#recordListTable td, table#horizontalListTable td {
  padding-left: 5px;
  vertical-align: middle;
  padding-right: 5px; }
table#recordListTable td {
  background-color: whitesmoke; }
  table#recordListTable td.fixedCellHeight {
    height: 150px; }
table#horizontalListTable td.fixedCellHeight {
  height: 150px; }
table#summaryTable table.alternative-color-inner-table {
  margin: auto; }
table#recordListTable {
  border-right: none !important; }
  table#recordListTable tr, table#recordListTable td {
    border-right: none !important; }
table#summaryTable td.singleSummaryCell, table#summaryTable th.singleSummaryCell {
  vertical-align: middle;
  text-align: center; }

border-thick {
  border-left-width: 3px; }
