/*This is a theme CSS file.  Which one will be loaded into the JSP depends on a variable passed in from FLASH.*/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #A2BCF9;
	font-size: small;
}

h1 {
	font-size: large;
	background-color: #B4C8FE;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
h2 {
	font-size: small;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	margin-bottom: 1px;
    
 
}

th {
	font-size: small;
	color: #FFFFFF;
	background-color: #075A8B;
	text-align: left;
}

.formtablecontainer{
	text-align:center;
}

.datatablecontainer{
	width:100%;
}

.buttoncontainer {
	
}


input, select, textarea {
	font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size: small;
}

.forms {
	border: 1px solid #999999;
	font-size: small;
	font-style: normal;
	width: 100%;
}

.formlabel {
	font-size: small;
	font-style: normal;
	text-align: right;
	width: 20%;
}

.formcontrol {
	font-size: small;
	font-style: normal;
	text-align: left;
}

/*tab styles*/
.tab{
	text-align:center;
}

.tab a{
	font-size: 11px;
	color: #000000;
	text-decoration:none;
}
.tab a:hover{
	font-size: 11px;
	color: #000000;
	text-decoration:underline
}
.tabcentre{
	background-image:url(../images/aqua_tab_centre.gif);
	background-repeat:repeat-x;
}


.tabcentre_selected{
	background-image:url(../images/aqua_tab_s_centre.gif);
	background-repeat:repeat-x;
}



/*Tab content containers*/
.tabbody{

	
	background-color : #D9E8FF;
	float:left;

	margin : 0;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #0D3F59;
	border-left-color:  #0D3F59;
	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0D3F59;
	padding:5px;	

}


/*specific styles for the content divs of the tabs*/
.content_b{
	z-index: 0;
	position:relative;
	visibility:visible;
}
.content_a{
	z-index: 0;
	position:absolute;
	visibility: hidden;
}
.content_i{
	z-index: 0;
	position:absolute;
	visibility: hidden;
}
/*end tabs*/

a.button{
	float:right;
	font-size: 12px;
	color: #000000;
	text-decoration:none;
	text-align: center;
	background-color:#B4C8FE;
	margin: 2px 5px 2px 5px;
	padding:3px;
  	width: 80px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #0D3F59;
	border-bottom-color: #0D3F59;
	border-left-color: #FFFFFF;
}



a.button:link{
		color: #000000;
		text-decoration:none;
		background-color:#B4C8FE;
}

a.button:visited{
		color: #000000;
		text-decoration:none;
		background-color:#B4C8FE;
}



a.button:hover{
		text-decoration:none;
		background-color:#FFFFFF;	
}

a.button:active{
		text-decoration:none;
		background-color:#CCCCCC;	
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-top-style: solid;
		border-right-style: solid;
		border-bottom-style: solid;
		border-left-style: solid;
		border-bottom-color: #FFFFFF;
		border-left-color: #0D3F59;
		border-top-color: #0D3F59;
		border-right-color: #FFFFFF;
}
