/* CSS file */
Application {
	backgroundColor: #FFFFFF;
	themeColor: #0087e5;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
}

Alert {
	backgroundColor: #FFFFFF;
	color: #000000;
}


Panel {
	borderColor: #45a6ed;
	borderThicknessLeft: 1;
	borderThicknessRight: 1;
	borderThicknessBottom: 1;
	borderAlpha: 1;
	
	paddingTop: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingBottom: 0;

	highlightAlphas: 0.67, 0;
	headerColors: #45a6ed, #0087e5;

	titleStyleName: "myPanelStyle";
}

Wizard {
	horizontalAlign : center;	
}

.mainBody {
	backgroundColor: #FFFFFF;
	paddingTop: 20;
	horizontalAlign : center;	
}

Form, Label, TextInput { 
	   color: #000000;
	   font-weight: normal;
}

FormItem, List { 
	   font-weight: bold;
	    text-align: left;
}

.myPanelStyle {
	color: #FFFFFF;
}

.panelText {
	color: #000000;
	 font-weight: none;
	 text-align: left;
}
