#chat_content {
	width: 100%;
	height: 600px;
	padding: 12px;
}

#chat_pane {

}

#iResp {
	height: 400px;
	margin-right: 8px;
	overflow: scroll;
	padding: 4px;
	background-color: white;
	border: thin solid black;
}

.message {
	padding-bottom: 4px;	
}

.private_message {
	font-style: italic;
	background-color: #e6e6fa;
}

.messageFrom {
	font-weight: bold;
}

#presence {
	float: right;
	width: 160px;
	height: 400px;
	overflow: hidden;
}

#roster_user_selector {
	width: 100%;
	height: 100%;
}

#msgArea {
	width: 100%;
	height: 100%;
}

#msgAreaDiv {
	height: 45px;
}

#finishButton_pane {
	width: 100%;
	text-align: right;
}