<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
  - Application context definition for lams survey business layer.
	- Contains bean references to the transaction manager and to the DAOs in
	- dataAccessContext.xml (see web.xml's "contextConfigLocation").
	-->
<beans>

	<!-- ========================= GENERAL DEFINITIONS ========================= -->

	<!-- ========================= RESOURCE DEFINITIONS ========================= -->
	<!-- Hibernate SessionFactory -->
	<bean id="imscpSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource"><ref bean="toolDataSource"/></property>
		<property name="mappingResources">
			<list>	
				<value>org/lamsfoundation/lams/tool/imscp/PackageVO.hbm.xml</value>
				<value>org/lamsfoundation/lams/tool/imscp/UserPackageVO.hbm.xml</value>
				<value>org/lamsfoundation/lams/tool/imscp/UserProgressVO.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties"><ref bean="hibernateProperties"/></property>
	</bean>

	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->

	<!-- LAMS IMS Content Packing tool business objects. -->
	<bean id="imscpService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name ="target">
			<bean id="imscpServiceImpl" class="org.lamsfoundation.lams.tool.imscp.service.ImscpServicePOJO">
				<property name="packageDAO"><ref bean="packageDAO"/></property>
				<property name="repositoryService"><ref bean="repositoryService"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="create*">PROPAGATION_REQUIRED,-ImscpApplicationException</prop>
				<prop key="copy*">PROPAGATION_REQUIRED,-ImscpApplicationException</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-ImscpApplicationException</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly,-ImscpApplicationException</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-ImscpApplicationException</prop>
				<prop key="configureContentRepository">PROPAGATION_REQUIRED,-ImscpApplicationException</prop>
			</props>
		</property>
	</bean>  

	<!--  DAO classes -->
	<bean id="packageDAO" class="org.lamsfoundation.lams.tool.imscp.dao.hibernate.PackageDAO">
		<property name="sessionFactory"><ref local="imscpSessionFactory"/></property>
	</bean>  


</beans>
