.innerforms {
	border: 0px;
	font-size: small;
	font-style: normal;
	width:100%;
}

div.error, div.message {
    background-color: #ffffcc;
    border: 1px solid #000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 10px auto;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
}

/* use a different color for the errors */
div.error {
	border: 2px solid red;
}

img.validationWarning, div.errors img.icon, div.messages img.icon {
    border: 0;
    width: 14px;
    height: 13px;
    vertical-align: top;
}
div.message img.icon {
    vertical-align: middle;
}

span.input-group-btn {
    font-size:inherit;
}
