@import "_lams_variables.scss";

@media (max-width: 750px) {
  	#aside {
    	float: none;
    	width: auto;
    	position: static;
  	}
}
.extra-controls-inner {
	float: right;
}

#extra-controls {
	text-align: center;
	float: right;
	clear: both;
	padding-top: 20px;
}

@media (width <= 768px) {
	body.component .btn-sm {
		font-size: 12px;
	}
}

[id^=comments-area] {
	clear: both;
	padding-top: 10px;
}
.button.add-comment {
	margin-right: 12px;
}
#image-info:after {
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#favourite-button {
	margin-bottom: 1rem;
}
.fotorama__caption {
	opacity: 70%;
}