#export-link-area {
	padding-bottom: 20px;
}

#select-lessons-area {
	display: none;
	padding-top: 10px;
}

#export-selected-lessons-button {
	margin-left: 200px;
	margin-bottom: 10px;
}

#gbox_lessons-jqgrid {
    margin: 15px auto 25px auto;
}