#select-lessons-area {
	display: none;
}

#export-selected-lessons-button {
	margin-left: 295px;
	margin-bottom: 10px;
}

#gbox_lessons-jqgrid {
	margin: 10px 5px;
}

.ui-widget-content {
    border: 0px solid #aaaaaa !important;
}