label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; font-weight: bold; font-style: italic;}
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
input.error { border: 2px solid red;}
#content {width: 91%; margin-bottom: 20px; margin-top: 20px; padding-left: 20px; padding-right: 20px;}
table.alternative-color td {padding-left: 0;}
input[type=text].shortInputText {width:10%;}
input[type=text] {width:98%;}
textarea {width:98%;}
form {padding-bottom: 50px;}
#button-table {padding-top: 40px; float: right;}
#questions-worth {padding: 40px 15px 0;}
#caTable td {padding: 3px;}

