@import "_lams_variables.scss"; 

#initDiv {
	padding-top: 35vh;
	text-align: center;
}

#createKumaliveDiv, #closedDiv {
	display: none;
	padding-top: 35vh;
	text-align: center;
}

#closedDiv {
	font-weight: bold;
}

#createKumaliveDiv input {
	width: 60%;
}

#mainDiv {
	display: none;
}

#actionCell {
	padding-bottom: 10px;
	border-bottom: $border-thin-black;
	vertical-align: top;
}

#learnersCell {
	width: 100%;
	padding: 0;
}

#actionCell button {
	width: 70%;
	margin-top: 10px;
}

#learnersContainer {
	padding-left: 15px;
}

#raiseHandContainer {
	display: none;
	margin-bottom : 10px;
	padding-left: 15px;
	border-bottom: $border-thin-black;
}

.learner {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 5px 5px 0 0;
	text-align: center;
	display: none;
}

.learner .profilePictureWrapper {
	width: 40px;
	height: 40px;
	margin-left: 20px;
}

.profilePicture {
	position: relative;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.profilePictureHidden {
	top: 20px;
	left: 20px;
	width: 0;
	height: 0;
	font-size: 0;
}

.profilePictureShown {
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	font-size: 40px;
}

.name {
	height: 40px;
	padding-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.speaker {
	text-align: center;
}

.speaker .profilePicture {
	width: 80px;
	height: 80px;
	font-size: 80px;
	margin: auto;
}

#teacher {
	display: none;
}

#raiseHandPrompt {
	display: none;
	text-align: center;
	padding-top: 20px;
}

#raiseHandPrompt i {
	font-size: 80px;
}

.score {
	display: none;
	padding-top: 20px;
}

.score span {
	font-weight: bold;
}

.score i {
	font-size: 40px;
	margin-right: 15px;
	cursor: pointer;
}

.scoreGood {
	color: green;
}

.scoreNeutral {
	color: darkOrange;
}

.scoreBad {
	color: red;
}

.scoreNone {
	color: gray;
}

@media (min-width : $screen-sm-min) {
	#actionCell {
		width: 350px;
		height: 100vh;
		border-bottom: none;
		border-right: $border-thin-black;
	}
	#learnersCell {
		width: calc(100% - 350px);
	}
	
	.learner {
		height: 120px;
		margin-right: 20px;
	}
	
	.learner .name {
		font-size: 12px;
	}
	
	.learner .profilePictureWrapper {
		width: 80px;
		height: 80px;
		margin-left: 0;
	}
	
	.profilePictureHidden {
		top: 40px;
		left: 40px;
	}

	.profilePictureShown {
		width: 80px;
		height: 80px;
		font-size: 80px;
	}
	
	.speaker .profilePicture {
		width: 200px;
		height: 200px;
		font-size: 200px;
	}
	
	.speaker .name {
		font-size: 18px;
	}
	
	#raiseHandPrompt i {
		font-size: 140px;
	}
	
	.score i {
		font-size: 70px;
	}
}