body.stripes {
	margin: 0px;
}

div#controlFrame {
	position: absolute;
	width: 160px;
	height:100%;
	top: 0px;
	left: 0px;
}

#contentFrame {
	border: none;
	margin-left: 160px;
}

.ui-layout-pane {
	padding:	0px !important;
}

.ui-layout-toggler-west {
	background-color: #2B95E9 !important;
}

.ui-layout-toggler-west-hover {
	background-color: #B8E335 !important;
}

.ui-layout-toggler-west-open .content, .ui-layout-toggler-west-closed .content {
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	word-wrap: break-word;
}