body.stripes {
	margin: 0px;
}

div#controlFrame {
	position: absolute;
	width: 160px;
	height:100%;
	top: 0px;
	left: 0px;
}

#progressBarDiv>svg:first-child, #progressBarDiv>div:first-child {
	margin: auto;
}

#contentFrame {
	border: none;
	overflow: auto;
}

#contentFrame.ui-layout-center {
	margin-left: 160px;
}

#content-frame-container {
	overflow: auto !important;
	-webkit-overflow-scrolling: touch !important;
}

table#logoTable {
	height: 20px;
	table-layout: fixed;
}

#logoImage {
	width: 105px;
}

.progressButton {
	margin: 0px;
	width: 50px;
	padding: 1px !important;
	cursor: pointer;
	font-size: 9px !important;
}

td#exitButtonCell {
	padding: 4px 2px 2px 0px;
	width: 50px;
}

td#exportButtonCell {
	padding: 3px 2px 5px 0px;
}

div#lessonTitleRow {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding: 0px 3px 0px 3px;
}

div#progressBarDiv {
	background-color: rgb(219,230,252);
	text-align: center;
}

.separatorRow {
	height: 15px;
	background-color: rgb(197,212,251);
	border-top: 4px solid #DDDDDD;
	border-bottom: 4px solid #DDDDDD;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 10px;
}

div#supportSeparatorRow {
	display: none;
	cursor: pointer;
	padding-top: 2px;
}

.togglerCell {
	text-align: right;
	padding-right: 3px;
	float: right;
}

div#supportPart {
	display: none;
	background-color: rgb(219,230,252);
	padding: 0px;	
}
div#notebookSeparatorRow {
	cursor: pointer;
	padding-top: 2px
}

table#notebookPart {
	display: none;
	table-layout:fixed;
	height: 135px;
	background-color: rgb(219,230,252);	
}

td#notebookTitleCell {
	width: 20px;
	font-size: 9px;
	padding: 4px 10px 0px 4px;
}

.notebookInput {
	width: 93%;
}

#entry {
	padding-left: 4px;
}

td#viewAllButtonCell {
	padding: 0px 0px 4px 4px;
}

td#saveButtonCell {
	text-align: right;
	padding: 0px 4px 4px 0px
}

.ui-layout-pane {
	padding:	0px !important;
}

.ui-layout-toggler-west {
	background-color: #2B95E9 !important;
}

.ui-layout-toggler-west-hover {
	background-color: #B8E335 !important;
}

.ui-layout-toggler-west-open .content, .ui-layout-toggler-west-closed .content {
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	word-wrap: break-word;
}