.startHidden {
	display: none;
}

#presenceChat {
	position: fixed;
	width: 640px;
	height: 300px;
	right: 5px;
	z-index: 10;
}

#presenceChatTabs {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 73%;
	height: 260px;
	font-size: 14px !important;
	border: 1px solid #aaaaaa;
}

#presenceChatTabs li a {
	color: black;
	border-bottom: none;
}

#presenceChatTabs li .ui-icon-close {
	margin-top: 5px;
	cursor: pointer;
}

#presenceChatRoster {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 100%;
	background-color: #FFFFFF;
	border: #AAAAAA thin solid;
}

#presenceUserCount {
	text-align: center;
	cursor: pointer;
    background-color: #f5f5f5;
  	border-color: #ddd !important;
    border-bottom: 1px solid transparent;
}

#presenceUserListings{
	padding: 5px;
	height: 275px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.presenceListing {
	cursor: pointer;
}

.presenceListing:hover {
	background-color: #CBDBFF;
}

.presenceListingNewMessage {
	background-color: #88FF99;
}

.presenceTabNewMessage a {
	text-decoration: underline !important;
}

.presenceMessage {
	padding-bottom: 4px;
}

.presenceMessageFrom {
	font-weight: bold;
}

.messageArea {
	width: 100%;
	height: 170px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.sendArea {
}

.messageInput {
	width: 80%;
}