.startHidden {
	display: none;
}

#presenceChat {
	position: absolute;
	width: 640px;
	height: 300px;
	right: 18px;
	z-index: 10;
}

#presenceChatTabs {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 73%;
	height: 260px;
}

#presenceChatTabs li a {
	border-bottom: none;
}

#presenceChatTabs li .ui-icon-close {
	margin-top: 5px;
	cursor: pointer;
}

#presenceChatRoster {
	position: absolute;
	right: 0pt;
	bottom: 0pt;
	width: 25%;
	height: 100%;
	background-color: #FFFFFF;
	border: #AAAAAA thin solid;
}

#presenceUserCount {
	height: 23px;
	border-bottom: #AAAAAA thin solid;
	text-align: center;
	padding-top: 7px;
	cursor: pointer;
}

#presenceUserListings{
	padding: 5px;
	height: 255px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.presenceListing {
	cursor: pointer;
}

.presenceListing:hover {
	background-color: #CBDBFF;
}

.presenceListingNewMessage {
	background-color: #88FF99;
}

.presenceTabNewMessage a {
	text-decoration: underline !important;
}

.presenceMessage {
	padding-bottom: 4px;
}

.presenceMessageFrom {
	font-weight: bold;
}

.messageArea {
	width: 100%;
	height: 190px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.sendArea {
	width: 95%;
}

.messageInput {
	width: 80%;
}
	
.sendButton {
}