@import "_lams_variables.scss";
	
.startHidden {
	display: none;
}

#presenceChat {
	position: fixed;
	width: 640px;
	height: 300px;
	right: 5px;
	z-index: 10;
}

#presenceChatTabs {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 73%;
	height: 260px;
	font-size: 14px !important;
	border: $border-thin-default;
}

#presenceChatTabs li a {
	color: black;
	border-bottom: none;
}

#presenceChatTabs li .ui-icon-close {
	margin-top: 5px;
	cursor: pointer;
}

#presenceChatRoster {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 100%;
	background-color: $body-bg;
	border: $border-thin-default;
}

#presenceUserCount {
	text-align: center;
	cursor: pointer;
    background-color: $gray-lightest;
  	border-color: $gray-light-mid !important;
    border-bottom: 1px solid transparent;
}

#presenceUserListings{
	padding: 5px;
	height: 275px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.presenceListing {
	cursor: pointer;
}

.presenceListingNewMessage {
	background-color: $brand-success-light;
}

.presenceTabNewMessage a {
	text-decoration: underline !important;
}

.presenceMessage {
	padding-bottom: 4px;
}

.presenceMessageFrom {
	font-weight: bold;
}

.messageArea {
	width: 100%;
	height: 170px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.sendArea {
}

.messageInput {
	width: 80%;
}