/*
*************************************************
LAMS 2.2
Date modified:  29/04/2009

*************************************************
Presence stylesheet
********************************************** */

#presenceUserListings {
	margin: 5px;
	padding: 2px;
}

#presenceChat {
	position: absolute;
	width: 600px;
	height: 300px;
	right: 18px;
	z-index: 10;
}

#presenceChatWarning {
	position: absolute;
	width: 400px;
	right: 18px;
	z-index: 10;
	padding: 10px 10px 10px 40px;
	margin: 0px;
}

#presenceChatTabs {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 73%;
	height: 260px;
}

#presenceChatRoster {
	position: absolute;
	right: 0pt;
	bottom: 0pt;
	width: 25%;
	height: 100%;
}

#presenceUserListings{
	height: 255px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#minMaxIcon{
	position:absolute;
	top: 0px;
	right:0px;
}

#tabsHolder {
	float: left;
	width: 90%;
	overflow:hidden;
}

#leftSliderDiv {
	float: left;
	width: 5%;
	text-align: left;
}

#rightSliderDiv {
	float: left;
	width: 5%;
	text-align: right;
}

.smallImage {
	width: 16px;
	height: 16px;
	border: none;
}

.startHidden {
	display: none;
}

.presenceListing {
	width:"100%";
}

.presenceListing:hover {
	width:"100%";
	background-color: #CBDBFF;
	cursor: pointer;
}

.presenceListingNewMessage {
	background-color: #88FF99;
}

.presenceTabNewMessage {
	text-decoration: underline;
}

.presenceMessage {
	padding-bottom: 4px;
}

.presenceMessageFrom {
	font-weight: bold;
}

.presenceMessageEmote {
	font-style: italic;
	padding-bottom: 4px;
}

.chatPanel {
	width: 95%;
	height: 220px;
}

.messageArea {
	width: 100%;
	height: 80%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.sendArea {
	width: 100%;
	height: 20%;
}

.messageInput {
	float: left;
	width: 85%;
}
	
.sendButton {
	float: left;
}

table.tabLabelTable {
	width: auto;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
	cursor: pointer;
}

#presenceChatRoster li {
	width: 100%;
}

#presenceChatRoster li a{
	width: 83%;
}