<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration
DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.username">@db.username@</property>
		<property name="connection.password">@db.password@</property>
		<property name="connection.url">@db.url.run@</property>
		<property name="connection.driver_class">@db.driver@</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<mapping resource="org/lamsfoundation/lams/usermanagement/User.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/UserOrganisation.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/UserOrganisationRole.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/lesson/LearnerProgress.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/LearningDesign.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/lesson/Lesson.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/Transition.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/Activity.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/PlannerActivityMetadata.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/Competence.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/gradebook/GradeBookUserLesson.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/BranchActivityEntry.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/CompetenceMapping.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/ActivityEvaluation.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/gradebook/GradeBookUserActivity.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/tool/ToolSession.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/BranchCondition.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/Group.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/Grouping.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/LearningLibrary.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/tool/Tool.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/tool/SystemTool.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/WorkspaceFolder.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/WorkspaceWorkspaceFolder.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/workspace/WorkspaceFolderContent.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/Workspace.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/Organisation.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/learningdesign/License.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/OrganisationType.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/SupportedLocale.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/OrganisationState.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/AuthenticationMethod.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/AuthenticationMethodType.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/themes/Theme.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/timezone/Timezone.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/Role.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/RolePrivilege.hbm.xml"/>
		<mapping resource="org/lamsfoundation/lams/usermanagement/Privilege.hbm.xml"/>
	</session-factory>
</hibernate-configuration>