<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app >
 <context-param>
  	<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
  	<param-value>org.lamsfoundation.lams.tool.mc.web.McResources</param-value>
</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/org/lamsfoundation/lams/applicationContext.xml
            classpath:/org/lamsfoundation/lams/lesson/lessonApplicationContext.xml
            classpath:/org/lamsfoundation/lams/toolApplicationContext.xml
			classpath:/org/lamsfoundation/lams/contentrepository/applicationContext.xml
			classpath:/org/lamsfoundation/lams/learning/learningApplicationContext.xml
			classpath:/org/lamsfoundation/lams/tool/mc/mcApplicationContext.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>	

    <filter>
    <filter-name>hibernateFilter</filter-name>
    <filter-class>
      org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
    </filter-class>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>mcSessionFactory</param-value>
    </init-param>
   </filter>
   <!-- System session filter -->
   <filter>
       <filter-name>SystemSessionFilter</filter-name>
         <filter-class>
		   org.lamsfoundation.lams.web.session.SystemSessionFilter
         </filter-class>
     </filter>

    <filter-mapping>
	    <filter-name>hibernateFilter</filter-name>
    	 <url-pattern>*.do</url-pattern>
  	</filter-mapping>
    <filter-mapping>
    	<filter-name>SystemSessionFilter</filter-name>
     	<url-pattern>/*</url-pattern>
	 </filter-mapping>

	<servlet>
		<servlet-name>context</servlet-name>
		<servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>action</servlet-name>
	    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
	    <init-param>
	      <param-name>config</param-name>
	      <param-value>/WEB-INF/struts-config.xml</param-value>
	    </init-param>
	    <init-param>
	      <param-name>debug</param-name>
	      <param-value>999</param-value>
	    </init-param>
	    <init-param>
	      <param-name>detail</param-name>
	      <param-value>2</param-value>
	    </init-param>
	    <init-param>
	      <param-name>validate</param-name>
	      <param-value>true</param-value>
	    </init-param>
	    <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet>
            <servlet-name>Connector</servlet-name>
            <servlet-class>com.fredck.FCKeditor.connector.ConnectorServlet</servlet-class>
            <init-param>
                  <param-name>baseDir</param-name>
                  <param-value>/UserFiles/</param-value>
            </init-param>
            <init-param>
                  <param-name>debug</param-name>
                  <param-value>false</param-value>
            </init-param>
            <load-on-startup>1</load-on-startup>
	</servlet>

  	<servlet-mapping>
		<servlet-name>action</servlet-name>
	   	<url-pattern>*.do</url-pattern>
	</servlet-mapping>

  	<servlet-mapping>
	        <servlet-name>Connector</servlet-name>
             <url-pattern>/editor/filemanager/browser/default/connectors/jsp/connector</url-pattern>
	</servlet-mapping>             
              	

   <session-config>
      <session-timeout>120</session-timeout>
   </session-config>
   
     <error-page>
		<error-code>403</error-code>
		<location>/403.html</location>
	</error-page>

  <!-- Struts Tag Library Descriptors -->

<taglib>
    <taglib-uri>fck-editor</taglib-uri>
    <taglib-location>/WEB-INF/fckeditor/tlds/FCKeditor.tld</taglib-location>
</taglib>

  	<!--  Security Constraint -->
	<security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Secure Content</web-resource-name>
			<url-pattern>/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
    		<role-name>LEARNER</role-name>
    		<role-name>TEACHER</role-name>
    		<role-name>STAFF</role-name>
    		<role-name>AUTHOR</role-name>
    		<role-name>ADMIN</role-name>
    		<role-name>SYSADMIN</role-name>
    	</auth-constraint>
    </security-constraint>

   <!--  Security Constraint -->
	<security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Secure Content</web-resource-name>
			<url-pattern>/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
    		<role-name>LEARNER</role-name>
    		<role-name>TEACHER</role-name>
    		<role-name>STAFF</role-name>
    		<role-name>AUTHOR</role-name>
    		<role-name>ADMIN</role-name>
    		<role-name>SYSADMIN</role-name>
    	</auth-constraint>
    </security-constraint>

    <security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Authoring Update</web-resource-name>
		    <url-pattern>/authoringStarter.do</url-pattern>
		   <url-pattern>/authoring.do</url-pattern>
		 </web-resource-collection>
    	<auth-constraint>
    		<role-name>AUTHOR</role-name>
    	</auth-constraint>
    </security-constraint>
    
    
    <security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Staff Content</web-resource-name>
		    <url-pattern>/monitoringStarter.do</url-pattern>
		    <url-pattern>/monitoring.do</url-pattern>		   
    	</web-resource-collection>
    	<auth-constraint>
    		<role-name>STAFF</role-name>
    	</auth-constraint>
    </security-constraint>

    
	<!--  some combine role security setting -->
    <security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Download Files</web-resource-name>
		    <url-pattern>/download/</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
    		<role-name>AUTHOR</role-name>
    		<role-name>STAFF</role-name>
    		<role-name>ADMIN</role-name>
    		<role-name>SYSADMIN</role-name>
    	</auth-constraint>
    </security-constraint>


	<!--  Login Configuration -->
  	<login-config>
   		<auth-method>FORM</auth-method>
		<realm-name>LAMS</realm-name>
   		<form-login-config>
    		<form-login-page>/login.jsp</form-login-page>
   		</form-login-config>
   	</login-config>

</web-app>
