Source: lams2
Section: contrib/web
Priority: extra
Maintainer: LAMS Development Team <lamsdev@melcoe.mq.edu.au>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lams2
Architecture: all
Depends: sun-java5-jdk|sun-java6-jdk, lams-jboss4 (>=4.0.2), debconf (>=0.5), mysql-server-5.0, mysql-client, adduser
Replaces: lams-jboss4
Description: Learning Activity Management System (LAMS) 2
 LAMS is a revolutionary new tool for designing, managing
 and delivering online collaborative learning activities. 
 It provides teachers with a highly intuitive visual 
 authoring environment for creating sequences of learning 
 activities. These activities can include a range of 
 individual tasks, small group work and whole class 
 activities based on both content and collaboration.
