.axis {
	font: 10px $font-family-sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

// distinguish it from jquery-ui tooltips
div.chartTooltip {
    position: absolute;			
    padding: 2px;
    font: 12px $font-family-sans-serif;		
    background: white;
    border: 0px;
    border-radius: 8px;			
    pointer-events: none;
	opacity: 0;
}

/* Histogram Chart */
.bar rect {
	fill: $brand-primary;
}

.bar text {
	fill: white;
	font: 14px $font-family-sans-serif;
}
.zoom {
	cursor: move;
	fill: none;
	pointer-events: all;
}

/* Tool Mark Charts (Monitoring) - space for the histogram chart */
.markChartDiv {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 95%;
	height: 500px;
}
