// The content for defaultHTML_main.scss and all the equivalent skin files. Change this an then all the skin files change. 
body {
	width: 100%;
	overflow-x: hidden;
	font-size: 13px;
}
html {
	height: 100%;
}
#offcanvas {
	position: fixed;
	width: 220px;
	z-index: 10;
	height: calc(100% - 53px);
	background: $main_offcanvas_background;
    color: #8c8a8a;
}
.offcanvas-header {
	padding: 20px 0 5px 15px;
    text-transform: uppercase;
    font-size: 1.15rem;
}
.slimScrollDiv, .offcanvas-scroll-area {
	width: 220px!important;
}
#page-wrapper {
	margin: 0 0 0 220px;
	padding: 10px 20px 0px;
	height: calc(100% - 53px);
}
.offcanvas-hidden #offcanvas {
	display: none;
}
.offcanvas-hidden #page-wrapper {
	margin: 0 0 0 0;
}
@media (min-width: 769px) {
	.icon-remove {
		display: none !important;
	}
#org-container {
	padding: 10px 0px;
}
}
@media (max-width: 768px) {
	#offcanvas, .slimScrollDiv, .offcanvas-scroll-area {
		width: 100%!important;
	}
	body:not(.offcanvas-hidden) .navbar-nav2 {
		display:none;
	}
}
@media (max-width: 870px) {
	body.offcanvas-hidden .xs-hidden {
		display: none !important;
	}
}
@media (max-width: 1170px) {
	body:not(.offcanvas-hidden) .xs-hidden {
		display: none !important;
	}
}



/*FOOTER*/
footer {
	width: 100%;
	font-size: 75%;
	margin-bottom: 10px;
}
a, a.page-link {
	color: $main_default_link; 
	text-decoration: none;
}
a:hover, a:focus {
	color: $brand-primary-darker;
	text-decoration: none;
}

/*OFFCANVAS BAR*/
#favorite-organisations {
	border-bottom: 1px solid #efefef;
}
#favorite-organisations > li > a, .tablesorter a {
    font-weight: 400;
    padding: 14px 10px 14px 15px;
}
#favorite-organisations > li > a:hover,
#favorite-organisations > li > a:focus,
.pagesize:hover,
.tablesorter a:hover,
.tablesorter a:focus {
  background-color: #adadad;
  color: white;
}
.tablesorter a {
    display:block;
    text-decoration:none;
    font-size: 13px;
    word-break:break-all;
}
/*#offcanvas .active > a,*/
#offcanvas .active > a:hover,
#offcanvas .active > a:focus,
#offcanvas a.active {
	background: $main_offcanvas_link;
}
#offcanvas .active > a,#offcanvas a.active {
    color: $main_offcanvas_link_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#offcanvas td.active {
    border-right: 10px solid #8c8c8c;
    background: $main_offcanvas_link;
}
.offcanvas-search {
	padding: 15px 12px 15px;
	margin-bottom: 0;
}
.offcanvas-search .form-control {
	box-shadow: inset 0 1px 0px rgba(208, 206, 206, 0.25);
	padding: 2px 5px;
}
.ts-pager {
	text-align: center;
    padding: 0 10px 10px;
    color: dimgrey;
    border-top: 1px solid #efefef;
}
.ts-pager .btn{
    padding: 2px 5px;
    line-height: 1;
}
.tablesorter tfoot i {
	font-size: 11px;
}
.tablesorter tfoot th {
	background-color: #eaeaea !important;
	padding: 10px 0 !important;
}

.pagesize {
    border: 1px solid rgba(221, 226, 232, 0.49);
    cursor: pointer;
}

.icon-remove {
	cursor: pointer;
	position: absolute;
	width: 40px;
	top: 30px;
	right: 5px;
}
.icon-remove:hover {
	color: $body-bg;
}
.fa-chevron-circle-right.fa-lg {
	line-height: 1em;
}

/*TOP HEADER*/
.top-nav {
    border-bottom: 1px solid #efefef;
    height: 53px;
}
@media (min-width: 502px) {
	.top-nav {
		height: 63px;
	}
	#offcanvas {
		height: calc(100% - 63px);
	}
}

.top-nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
    border-radius: 3px;
}
@media (min-width: 480px) {
  .top-nav .navbar-right li {
    position: relative; 
  } 
}
#navbar-logo {
    background: url($login_logo) no-repeat center left;
    height: $main_logo_size;
    width: 100px;
}

/*TOP HEADER LINKS*/
ul.dropdown-usermenu li a:focus, ul.dropdown-usermenu li a:hover, .top-nav .nav > li > a:hover {
    background: $main_dropdown_border;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
.navbar-nav2 > li > a {
    font-weight: 500;
    color: $main_navbar_link !important;
    margin-left: 0 !important;
    line-height: 32px;
    border-radius: 3px;
}
.navbar-nav2 > li > a.user-profile {
  padding-bottom: 12px; 
}

#more-links-menu {
	padding: 10px 5px;
}

.navbar-nav2 .show .dropdown-menu { /* prevent menu to be shown more to the right where the window ends*/
    right: 0;
    left: auto;
}
.user-profile img {
    margin-right: 10px;
}
#notificationsPendingCount{
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
	padding: 2px 5px;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	min-width: 10px;
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	border-radius: 10px;
	margin-left: -9px;
}
#notificationsPendingCount.btn-light {
    background-color: $gray-light-mid;
}

#tablePrivateNotifications tr:first-child td {
	font-weight: bold;
	text-align: center;
}

#tablePrivateNotifications td.notificationsReadCell {
	font-size: 16px;
	width: 30px;
	text-align: center;
}

#tablePrivateNotifications td.notificationsPendingCell {
	font-weight: bold;
}

#tablePrivateNotifications td.notificationsClickableCell:hover {
	cursor: pointer;
	/* CSS3 glow effect: */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 0 5px $main_blue_light_highlight;
	-webkit-box-shadow: 0 0 5px $main_blue_light_highlight;
	box-shadow: 0 0 5px $main_blue_light_highlight;
}

.lesson-actions {
	float: right;
	font-size: 1.2em;
	/* filter: alpha(opacity = 10); msie */
}

.lesson-actions, .auxiliary-links-menu button i {
	opacity: 0.4;
}

.lesson-actions a {
	border-bottom: none;	
}

.child-org-name {
	float: left;
	padding-top: 5px;
}

.split-ui-button+ul {
	z-index: 1;
}

.split-ui-button+ul li {
	list-style-type: none;
}

.split-ui-button+ul li a {
	border: none;
}

.split-ui-button div:first-child {
	margin-right: -0.4em;
}

.split-ui-button + ul span {
	color: #999;
}

.ui-button, .split-ui-button div {
	font-size: 12px !important;
	font-weight: normal !important;
}

a.sorting {
	border-bottom: none;
	cursor: pointer;
}

.lesson-table {
	margin: 0 auto;
	width: 100%;
}

.subgroup-lesson-table {
	clear: both;
}

.course-right-buttons {
	padding-right: 20px;
}

.group-name {
	margin-top: 20px;
	margin-left: 30px;
    min-height: 25px;
}

.group-name p {
	padding-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	margin-left: 0px;
}

.group-name strong {
	color: $gray-light;
}
.course-header {
	padding-bottom: 5px; 
	margin-bottom: 12px;
	border-bottom: 1px solid #d2d1d1;
}

a.subcourse-title {
	text-decoration: none;
   	cursor: pointer;
}

.j-course-contents {
	padding-bottom: 15px;
}

.modal-dialog {
    max-width: initial !important;
}
