// The content for defaultHTML_main.scss and all the equivalent skin files. Change this an then all the skin files change. 
body {
	width: 100%;
	overflow-x: hidden;
	font-size: 13px;
	background: $stripes_background;
}
html {
	height: 100%;
}
#offcanvas {
	position: fixed;
	width: 220px;
	z-index: 10;
	height: 100%;
	background: $main_offcanvas_background;
    color: $main_offcanvas_color;
}
.courses-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 300;
    font-size: 23px;
    width: 100%;
    margin-left: 0 !important;
    line-height: 49px;
    margin: 0;
    padding-left: 25px;
}
#page-wrapper {
	margin: 0 0 0 220px;
	padding: 10px 20px 0px;
}
.offcanvas-hidden #offcanvas {
	display: none;
}
.offcanvas-hidden #page-wrapper {
	margin: 0 0 0 0;
}
@media (min-width: 769px) {
	.icon-remove {
		display: none !important;
	}
}
@media (max-width: 768px) {
	#offcanvas {
		width: 100%;
	}
	.navbar-nav .open .dropdown-menu {
    	top:52px; /*hack to prevent disappearing*/
	}
}
@media (max-width: 870px) {
	body.offcanvas-hidden .xs-hidden {
		display: none !important;
	}
}
@media (max-width: 1170px) {
	body:not(.offcanvas-hidden) .xs-hidden {
		display: none !important;
	}
}

.content {
	padding: 7px 10px;
	background: $body-bg;
	box-shadow: $panel-box-shadow;
}
#org-container {
	padding: 17px 10px 17px 25px;
}

/*FOOTER*/
footer {
	width: 100%;
	font-size: 75%;
	background-color: $body-bg;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 1.4px 1px rgba(8, 8, 8, 0.5);
	margin-bottom: 10px;
}
a {
	color: $main_default_link; 
	text-decoration: none;
}
a:hover, a:focus {
	color: $brand-primary-darker;
}

/*OFFCANVAS BAR*/
#favorite-organisations {
    border-top: 1px solid rgba(255, 255, 255, 0.16);
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
#favorite-organisations > li > a, .tablesorter a {
	color: $main_fav_org_link;
    font-weight: 400;
    padding: 14px 20px 14px 25px;
}
#favorite-organisations > li > a:hover,
#favorite-organisations > li > a:focus,
.pagesize:hover,
.tablesorter a:hover,
.tablesorter a:focus {
  background-color: $brand-primary-darkest;
  color: white;
}
.tablesorter a {
    display:block;
    text-decoration:none;
    font-size: 13px;
}
#offcanvas .active > a,
#offcanvas .active > a:hover,
#offcanvas .active > a:focus {
	background: $main_offcanvas_link;
}
#offcanvas .active > a {
    color: $main_offcanvas_link_color;
}
#offcanvas td.active {
    border-right: 10px solid $brand-primary-bright;
    background: $main_offcanvas_link;
}
.offcanvas-logo {
	padding: 20px 0px 15px 25px;
    background-color: $main_offcanvas_logo_background;
}
.offcanvas-logo .logo {
    background: url($offcanvas_logo) no-repeat center left;
    height: $offcanvas_height;
}
.offcanvas-header {
	padding: 15px 0px 0px 0px;
}
.offcanvas-search {
	padding: 15px 19px 15px;
	margin-bottom: 0;
}
.offcanvas-search .form-control {
	box-shadow: inset 0 1px 0px rgba(208, 206, 206, 0.25);
	border-radius: 25px;
	padding: 2px 5px;
	line-height: 1;
	border: 1px solid rgba(221, 226, 232, 0.49);
	background: $main_offcanvas_search_background; 
	color: $main_fav_org_link;
}
.offcanvas-search .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $gray-light-mid;
}
.offcanvas-search .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $gray-light-mid;
}
.offcanvas-search .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $gray-light-mid;
}
.offcanvas-search .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $gray-light-mid;
}
.ts-pager {
	text-align: center;
    padding: 0 10px 10px;
    color: darken($main_fav_org_link, 30%);
}
.ts-pager .btn{
	color: darken($main_fav_org_link, 10%);
    background-color: $brand-primary-darkest;
    padding: 2px 5px;
    line-height: 1;
}
.tablesorter tfoot i {
	font-size: 11px;
}
.tablesorter tfoot th {
	background-color: $brand-primary-darkest !important;
	padding: 10px 0;
}

.pagesize {
    border: 1px solid rgba(221, 226, 232, 0.49);
    background: $brand-primary-darker;
    cursor: pointer;
}

.icon-remove {
	cursor: pointer;
	position: absolute;
	width: 40px;
	top: 30px;
	right: 5px;
}
.icon-remove:hover {
	color: $body-bg;
}
.fa-chevron-circle-right.fa-lg {
	line-height: 1em;
}
/*TOP HEADER*/
.top-nav {
    background: $gray-lighter;
    border-bottom: 1px solid $main_dropdown_border;
    border-radius: 6px 6px 0 0;
    height: 53px;
	box-shadow: 0 1px 1px rgba(8, 8, 8, 0.5);
}
.offcanvas-toggle-header {
    float: left;
    margin: 0;
    padding: 15px 0 10px 7px;
    width: 70px;
    cursor: pointer;
    border-radius: 3px;
}
@media (min-width: 768px) {
	.offcanvas-toggle-header {
	    padding-top: 20px;
	    padding-bottom: 15px;
	}
	.top-nav {
		height: 63px;
	}
}
.offcanvas-toggle-header i {
    padding: 0 15px 0;
    color: $brand-primary-darker;
}

.offcanvas-toggle i {
    font-size: 26px;
}
.top-nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right;
}
.top-nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
    border-radius: 3px;
}
@media (min-width: 480px) {
  .top-nav .navbar-right li {
    position: relative; 
  } 
}
.top-nav .dropdown-menu li {
    width: 100%;
}
.top-nav li a i {
	font-size: 15px;
}
ul.dropdown-usermenu li {
    background: $gray-lighter;
    display: -ms-flexbox;
    display: flex;
    margin: 2px 2px 0;
    width: 98% !important;
}

/*TOP HEADER LINKS*/
.offcanvas-toggle-header:hover, ul.dropdown-usermenu li a:focus, ul.dropdown-usermenu li a:hover, .top-nav .nav > li > a:hover, .top-nav .nav .open > a, .top-nav .nav .open > a:focus, .top-nav .nav .open > a:hover {
    background: $main_dropdown_border;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
.navbar-nav > li > a {
    font-weight: 500;
    color: $main_navbar_link !important;
    margin-left: 0 !important;
    line-height: 32px;
    border-radius: 3px;
}
.navbar-nav > li > a.user-profile {
  padding-bottom: 12px; 
}
.top-nav .dropdown-menu li a {
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
}
.top-nav .dropdown-menu li a i {
    padding-right: 15px;
}
.dropdown-menu a {
    cursor: pointer;
    border-radius: 6px;
}
#more-links-menu {
	padding: 10px 5px;
}
.navbar-nav .open .dropdown-menu {
    position: absolute;
    background: $body-bg;
    margin-top: 0;
    padding: 0 0 3px;
    border: 1px solid $main_dropdown_border;
    border-radius: 6px;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 210px;
}
.user-profile img {
    margin-right: 10px;
}
#notificationsPendingCount{
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
	padding: 2px 5px;
	position: absolute;
	left: 25px;
	top: 10px;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	min-width: 10px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 10px;
}
#notificationsPendingCount.btn-default {
    background-color: $gray-light-mid;
}

#tablePrivateNotifications tr:first-child td {
	font-weight: bold;
	text-align: center;
}

#tablePrivateNotifications td.notificationsReadCell {
	font-size: 16px;
	width: 30px;
	text-align: center;
}

#tablePrivateNotifications td.notificationsPendingCell {
	font-weight: bold;
}

#tablePrivateNotifications td.notificationsClickableCell:hover {
	cursor: pointer;
	/* CSS3 glow effect: */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 0 5px $main_blue_light_highlight;
	-webkit-box-shadow: 0 0 5px $main_blue_light_highlight;
	box-shadow: 0 0 5px $main_blue_light_highlight;
}

/* GROUP CONTAINER */
.j-single-lesson {
	list-style: none;
	margin: 6px;
	padding: 3px 3px 3px 10px;
	position: relative;
}

.j-single-lesson:hover {
	border-color: $main_singlelesson_hover_border;
	background-color: $main_singlelesson_hover_background;
	display: block;
	/* CSS3 glow effect: */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px $main_blue_light_highlight;
	-webkit-box-shadow: 0 0 5px $main_blue_light_highlight;
	box-shadow: 0 0 5px $main_blue_light_highlight;
}

.j-single-lesson:hover .lesson-actions {
	opacity: 1;
	// filter: alpha(opacity = 100); /* msie */
	display: block;
}

.j-single-lesson:hover .mycourses-monitor-img {
}

.j-single-lesson:hover .mycourses-mark-img {
}

.j-single-lesson:hover .mycourses-notifications-img {
}

.j-single-lesson:hover .mycourses-conditions-img {
}

.j-single-lesson:hover .mycourses-removelesson-img {
}

.j-single-lesson:hover .mycourses-move-img {
	background: url('../images/css/arrow_move.png') no-repeat 0 0px;
}

.lesson-actions {
	float: right;
	font-size: 1.2em;
	opacity: 0.3;
	/* filter: alpha(opacity = 10); msie */
}

.lesson-actions a {
	border-bottom: none;	
}

.child-org-name {
	float: left;
	padding-top: 5px;
}

.split-ui-button+ul {
	z-index: 1;
}

.split-ui-button+ul li {
	list-style-type: none;
}

.split-ui-button+ul li a {
	border: none;
}

.split-ui-button div:first-child {
	margin-right: -0.4em;
}

.split-ui-button + ul span {
	color: #999;
}

.ui-button, .split-ui-button div {
	font-size: 12px !important;
	font-weight: normal !important;
}

a.sorting {
	border-bottom: none;
	cursor: pointer;
}

.lesson-table {
	margin: 0 auto;
	width: 100%;
}

.subgroup-lesson-table {
	padding-top: 30px;
}

.course-right-buttons {
	padding-right: 20px;
}

.group-name {
	margin-top: 20px;
	margin-left: 30px;
    min-height: 25px;
}

.group-name p {
	padding-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	margin-left: 0px;
}

.group-name strong {
	color: $gray-light;
}
.course-header {
	padding-bottom: 5px; 
	margin-bottom: 12px;
	border-bottom: $border-thin-default;
}

.course-header i{
	font-size: 15px;
}
a.subcourse-title {
	text-decoration: none;
   	cursor: pointer;
}

.j-course-contents {
	border-bottom: $border-thin-default;
	padding-bottom: 15px;
}
