.progressBarContainer {
	overflow: auto;
}

div.optionalActivity {
	display: none;
	position: absolute;
	z-index: 6;
}

div.optionalActivity table {
	border: $border-thin-black;
	border-collapse: separate;
	background-color: $optional-activity-background;
	width: 145px;
}

div.optionalActivity table tr:first-child td {
	border-top: none;
	background-color: $optional-activity-background-heading;
}

div.optionalActivity td {
	border-top: $border-thin-black;
	cursor: pointer;
	padding: 0px;
}

div.optionalActivity td:hover {
	background-color: $optional-activity-background-hover;
}

div#progressBarDialog {
	display: none;
}

div#progressBarDialog iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.activityCurrent {
	fill: $current-activity-fill;
	stroke: $gray-base;
}

.activityNotStarted {
	fill: $not-started-activity-fill;
	stroke: $gray-base;
}

.activityCompleted {
	fill: $completed-activity-fill;
	stroke: $gray-base;
}

.activityComplex {
	fill:  $complex-activity-fill;
	stroke: $gray-base;
}

.gate {
	fill: $gate-activity-fill;
}

.gateCurrent {
	stroke: $current-activity-fill;
}

.gateText {
	stroke: $body-bg;
}

.transitionLine {
	stroke: $gray-base;
}