@import "_lams_variables.scss";

#loadingOverlay {
	width: 100%;
	height: 99%;
	z-index: 2000;
	position: absolute;
	background-color: $body-bg;
	text-align: center;
}

#loadingOverlay * {
	margin-top: 20%;
}

#content {
	width: 100%;
	padding: 0;
}

#content > .panel {
	border: none;
	border-shadow: none;
	box-shadow: none;
}

#content .panel-monitor-page, #content .panel-monitor-body  {
	margin: 0;
	padding: 0;
}

#content .navbar-collapse {
	padding-left: 0;
}

.ui-spinner {
	margin-left: 10px;
}

table.tabTable {
	height: 517px;
	table-layout: fixed;
	border-top: $border-thin-dotted;
	border-collapse: separate;
}

div.tabTitle {
	padding: 5px 0px 5px 0px;
	font-size: larger;
	text-align: center;
}

td#learningDesignTreeCell {
	border-right: $border-thin-dotted;
}

div#learningDesignTree {
	overflow: auto;
	height: 360px;
	width: 250px;
	padding: 2px 2px 0px 5px;
	vertical-align: top;
}

div#accessDiv {
	border-top: $border-thin-dotted;
	overflow: auto;
	height: 150px;
	vertical-align: top;
	padding: 5px 0px 5px 0px;
}

div#accessDiv > div#accessTitle {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

div#accessDiv .access {
	cursor: pointer;
	padding: 10px 15px;
}

div#accessDiv .access-selected {
	background-color: #428bca;
	color: #FFFFFF;
}

td#canvasControlCell {
	padding: 2px 0px 0px 10px;
	height: 15px;
}

td#canvasControlCell a {
	color: $brand-success;
}

td#canvasCell {
	text-align: center;
	padding: 10px 0px 0px 10px;
}

div#canvasDiv {
	overflow: auto;
	height: 452px;
}

.ldChoiceDependentCanvasElement {
	display: none;
}

img#ldScreenshotLoading, div#ldNotChosenError  {
	padding-top: 200px;
}

td#lessonNameCell {
	height: 20px;
	padding: 0px 0px 5px 10px;
}

#lessonNameInput {
	width:370px;
	margin-left: 10px;
	color: $gray-base;
}
	

table#classTable {
	width: 100%;
}

td.userContainerCell {
	vertical-align: top;
	padding: 5px 5px 0px 5px;
}

td.userConainterTransferCell {
	height: 100px;
	width: 25px;
	padding: 18px 3px 8px 3px;
	vertical-align: top;
}

td.userConainterTransferTopCell {
	vertical-align: bottom;
}

td.userConainterTransferCell img {
	cursor: pointer;
}

.draggableUser {
	padding: 3px 0px 3px 0px;
	cursor: default;
}

.userContainer {
	height: 210px;
	overflow: auto;
	border: $border-thin-black;
	padding : 5px;
}

.userContainerTitle {
	margin-bottom: 5px;
	font-weight: bold;
	text-align: center;
}

.sortUsersButton {
	text-align: right;
	padding-right: 3px;
	float: right;
	cursor: pointer;
}

div#tabAdvanced, div#tabConditions {
	padding-left: 30px;
}

.p {
	padding: 15px 0px 5px 15px;
	font-size: small;
	font-weight: bold;
}

.fieldSectionDescription {
	padding: 10px 0px 10px 0px;
}

div#introDescriptionDiv {
	padding: 0px 30px 0px 15px;
}

div#introDescriptionLabelDiv {
	padding: 5px 0px 15px 0px;
}

textarea#introDescription {
	display: none;
}

span#splitLearnersDescription {
	font-style: italic;
}

#schedulingEnableField {
	margin-bottom: 15px;
}


#scheduleStartTime, #scheduleEndTime, #schedulingError, #timelimitError {
	display: none;
}


#precedingLessonIdField {
	margin: 0px 0px 0px 70px;
	display: none;
}

.lead {
	margin-top: 15px;
	margin-bottom: 10px;
}

.options {
	margin-left: 25px;
}

.separator {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0px;
	border-top: $border-thin-default-light;	
	width: 100%;
}