@import url('/lams/css/inlineeditor.css');

/**** Global styles ****/

.ygtv-highlight1, .ygtv-highlight1 .ygtvlabel {
	background-color: #dfeffc;
}

a.ygtvspacer {
	border-bottom: none;
}


/**** Dialog styles ****/
#loadingOverlay {
	width: 99%;
	height: 99%;
	z-index: 2000;
	position: absolute;
	background-color: #FFFFFF;
	text-align: center;
}

#loadingOverlay * {
	margin-top: 20%;
}

.dialogContainer {
	-webkit-overflow-scrolling: touch !important;
}

.dialogContainer .modal-body {
	height : 100%;
	max-height: calc(100% - 60px);
	padding: 0;
}

.dialogContainer button {
	cursor: pointer;
}

.dialogContainer button:focus {
	outline: none;
}

.dialogContainer button .fa {
  font-size: 16px;
  margin-left: 10px;
}

.dialogContainer .ui-draggable .modal-header {
	cursor: move;
}

div.dialogContents, #ldScreenshotAuthor, #ldScreenshotLoading {
	display: none;
}

.dialogContainer iframe {
	width: 100%;
	height: 99%;
	border: none;
}

div.dialogTitle {
	padding: 5px 0px 5px 0px;
	font-weight: bold;
	text-align: center;
}



div.propertiesDialogContainer .ui-dialog-titlebar {
	padding: 0 0 0 5px;
}

div.propertiesDialogContainer .dialogContainer table {
	width: 100%;
}

div.propertiesDialogContainer .dialogContainer td {
	padding-bottom: 5px;
}

input[name="propertiesContentFieldGroupDivide"] {
	margin-right: 10px;
}

input.propertiesContentFieldLearnerCount, input.propertiesContentFieldGroupCount {
	width: 40px;
}

tr.propertiesContentRowGateSchedule input.spinner {
	width: 30px;
}

input.propertiesContentFieldTitle, textarea.propertiesContentFieldDescription,
select.propertiesContentFieldGradebook {
	width: 99%;	
}

input.groupName {
	margin-bottom: 5px;
	width: 98%;
}


div#infoDialog {
	font-weight: bold;
}


div.exportDialog {
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}

div.exportDialog a {
	text-decoration: none;
}

div.exportDialog iframe {
	display: none;
}

div#exportLDDialog {
	cursor: pointer;
}



div#ldStoreDialog .modal-body > table {
	height: 100%;
	width: 100%;
	border-collapse: separate;
}

div#ldStoreDialog #ldStoreDialogButtonCell {
	height: 40px;
	border-top: thin dotted #2E6E9E;
	padding-top: 5px;
}

div#ldStoreDialog #ldStoreDialogButtonCell > div > div {
	display: inline-block;
}

div#ldStoreDialog td#ldStoreDialogTreeCell {
	padding: 2px 2px 0px 5px;
	vertical-align: top;
	width: 200px;
	border-right: thin dotted #2E6E9E;
}

div#ldStoreDialog div#ldStoreDialogTree {
	overflow: auto;
}

div#ldStoreDialog #ldStoreDialogAccessCell {
	height: 150px;
	vertical-align: top;
	border-top: thin dotted #2E6E9E;
	border-right: thin dotted #2E6E9E;
	padding: 5px 0px 5px 0px;
}

div#ldStoreDialog #ldStoreDialogAccessCell > div#ldStoreDialogAccessTitle {
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

div#ldStoreDialog #ldStoreDialogAccessCell > div.access {
	padding: 3px 0 3px 3px;
	cursor: pointer;
}

div#ldStoreDialog #ldStoreDialogAccessCell > div.selected {
	background-color: #dfeffc;
}


div#ldStoreDialog td#ldStoreDialogCanvasCell {
	text-align: center;
	padding: 10px 0px 0px 10px;
	vertical-align: middle;
}

div#ldStoreDialog div#ldStoreDialogCanvasDiv {
	overflow: auto;
}

div#ldStoreDialog img#ldScreenshotLoading  {
	padding-top: 200px;
}

div#ldStoreDialog #ldStoreDialogImportPartFrame {
	border: none;
	width: 99%;
}

div#ldStoreDialog div#ldStoreDialogNameContainer {
	margin-left: 20px;
}

div#ldStoreDialog div#ldStoreDialogNameContainer span {
	font-weight: bold;
}

div#ldStoreDialog #ldStoreDialogNameContainer input {
	width: 300px;
	margin-left: 10px;	
}


div.branchMappingDialog > table {
	width: 100%;
	height: 98%;
	table-layout: fixed;
	border-collapse: collapse;
}

div.branchMappingDialog td {
	text-align: center;
	vertical-align: top;
}

div.branchMappingDialog td.branchMappingLabelCell {
	height: 15px;
	font-weight: bold;
}

div.branchMappingDialog td.branchMappingListCell {
	border: thin black solid;
	padding: 3px;
}

div.branchMappingDialog td.branchMappingListCell .selected {
	background-color: #5c9ccc;
	color: white;
}

div.branchMappingDialog .branchMappingButton {
	width: 40%;
	height: 25px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

div.branchMappingDialog td.branchMappingListCell div {
	text-align: left;
	cursor: pointer;
}


div#outputConditionsDialog div#complexConditions > div {
	font-weight: bold;
	margin: 10px 0 0 2px;
}

div#outputConditionsDialog select {
	margin-bottom: 10px;
}

div#outputConditionsDialog .spinner {
	width: 40px;
}

div#outputConditionsDialog div#multiRangeDiv {
	display: inline-block;	
}

div#outputConditionsDialog #rangeAddButton {
	margin-left: 10px;
}

div#outputConditionsDialog table#rangeConditions {
	width: 100%;
	margin-top: 15px;
	border-collapse: collapse;
	text-align: center;
}

div#outputConditionsDialog table#rangeConditions tr td,
div#outputConditionsDialog table#rangeConditions tr th {
	padding: 3px;
	border: black thin solid;
	cursor: pointer;
}

div#outputConditionsDialog table#rangeConditions input {
	width: 95%;
}

div#outputConditionsDialog tr.selected {
	background-color: #dfeffc;
}


div#exportImageDialog div#exportCanvas {
	margin: 5px;
	padding: 5px;
	text-align: center;
	border: thin dashed black;
}



/**** Main authoring styles ****/

div#toolbar {
	padding: 3px;
}

#cancelLiveEditButton {
	display: none;
}

#groupingButton span {
	background: url('../images/icons/group.png') no-repeat 3px 3px;
	padding-left: 25px;
}


table#authoringTable {
	table-layout: fixed;
	width: 100%;
}

td#templateContainerCell {
	width: 150px;
	vertical-align: top;
}

td#templateContainerCell select {
	width: 100%;
	margin-bottom: 3px;
}

div.templateContainer {
	display: none;
	overflow: auto;
	border: black thin solid;
	background-color: rgb(219, 230, 252);
}

div.template {
	height: 40px;
	border-bottom: black thin solid;
	cursor: pointer;
}

div.template img {
	margin: 5px 0 5px 5px;
}

div.template div {
	float: right;
	width: 89px;
	padding-top: 14px;
	font-size: 12px;
	font-family: "Lucida Console", Monaco, monospace;
}

td#canvasContainerCell {
	vertical-align: top;
}

#ldDescriptionDiv {
	z-index: 1099;
	border-bottom: 1px solid black;
}

#ldDescriptionDiv #ldDescriptionTitleContainer {
	padding: 2px 0 0 0;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}

#ldDescriptionDiv #ldDescriptionHideTip {
	float: right;
	margin-right: 10px;
}

#ldDescriptionDiv #ldDescriptionDetails {
	padding: 0 0 5px 10px;
	display: none;
}

#ldDescriptionDiv .ldDescriptionLabel {
	font-size: 12px;
}

#ldDescriptionDiv #ldDescriptionEditorContainer {
	margin: -15px 15px 15px 0;
}

#ldDescriptionDiv #ldDescriptionLicenseTextContainer,
#ldDescriptionDiv #ldDescriptionLicenseImage,
#ldDescriptionDiv #ldDescriptionLicenseButton {
	display: none;
}

#ldDescriptionDiv #ldDescriptionLicenseImage {
	vertical-align: text-bottom;
	padding: 0 10px;
}

#ldDescriptionDiv #ldDescriptionLicenseTextContainer {
	padding-top: 10px;
}

#ldDescriptionDiv #ldDescriptionLicenseText {
	width: 99%;
} 

#canvas {
	overflow: auto;
	vertical-align: top;
}

