:root{
	--lams-blue: #0570d5;
	--lams-yellow: #F9F871;
	--lams-green: #00914A;
	--lams-red: #D73961;
	--lams-gray: #6c757d;
	--lams-opacity: 0.5;
	--lams-low-opacity: 0.25;
}

.svg-tool-activity-border {
	fill: none;
	stroke: var(--lams-gray);
	stroke-width: 1;
}

.svg-tool-activity-border-require-grouping {
	fill: none;
	stroke: var(--lams-red);
	stroke-width: 3;
}

.svg-tool-activity-border-grouped {
	fill: white;
}

.svg-tool-activity-background {
	stroke: none;
	fill: white;
}

.svg-tool-activity-category-1 {
	stroke: none;
	fill: var(--lams-blue);
	opacity: var(--lams-low-opacity);
}

.svg-tool-activity-category-2 {
	stroke: none;
	fill: var(--lams-yellow);
	opacity: var(--lams-opacity);
}

.svg-tool-activity-category-3 {
	fill: var(--lams-blue);
	opacity: var(--lams-opacity);
}

.svg-tool-activity-category-4 {
	fill: var(--lams-red);
	opacity: var(--lams-opacity);	
}

.svg-tool-activity-category-5 {
	stroke: none;
	fill: var(--lams-blue);
	opacity: var(--lams-low-opacity);
}

.svg-tool-activity-category-6 {
	fill: var(--lams-green);
	opacity: var(--lams-opacity);
}

.svg-activity-title-label {
	font-size   : 16px;
	font-family : sans-serif;
}

.svg-tool-activity-title-box {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	word-wrap: break-word;
	padding-right: 2px;
	text-align: center;
}

.svg-activity-title-label.svg-activity-title-label-small {
	font-size   : 12px;
}

.svg-branching {
	stroke-width: 3;
	fill: white;
}

.svg-branching-start {
	stroke: var(--lams-green);
}

.svg-branching-end {
	stroke: var(--lams-red);
}

.svg-branching-match {
	stroke: var(--lams-blue);
}

.svg-annotation-container {
	stroke: var(--lams-gray);
}

.svg-activity-optional .svg-annotation-container,
.svg-activity-parallel .svg-annotation-container,
.svg-activity-floating .svg-annotation-container {
	fill: var(--lams-blue);
	opacity: var(--lams-low-opacity);
}

.svg-transition {
	stroke-width: 1;
	stroke: var(--lams-gray);
	fill: none;
}

.svg-transition-element {
	stroke: var(--lams-gray);
	fill: var(--lams-gray);
}

.svg-transition-draw {
	stroke-width: 2;
	stroke: var(--lams-gray);
	stroke-dasharray: 5, 3;
}

.svg-shadow {
	-webkit-filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .3));
  	filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .3));
}
