div#toolbar {
	padding: 3px;
	height: 27px;
}

div#toolbar > div {
	float: left;
	margin-right: 10px;
}

div#toolbar .ui-button, div#toolbar .split-ui-button {
	height: 24px;
	font-size: 11px;
}

div#toolbar .split-ui-button + ul {
	z-index: 2;
}

div#toolbar .split-ui-button + ul span {
	font-size: 11px;
	color: #2E6E9E;
}

table#authoringTable {
	table-layout: fixed;
	width: 100%;
}

td#layoutCell {
	width: 152px;
}

#groupingButton span {
	background: url('../images/icons/group.png') no-repeat 3px 3px;
	padding-left: 25px;
}

td#templateContainerCell {
	border: black thin solid;
	vertical-align: top;
	background-color: rgb(219, 230, 252);
}

div#templateContainer {
	height: 800px;
	overflow: auto;
}

div.template {
	height: 40px;
	border-bottom: black thin solid;
	cursor: pointer;
	vertical-align: middle;
}

div.template img {
	display: block;
	float: left;
	margin: 5px 8px 5px 5px;
}

div.template div {
	float: left;
	width: 90px;
	padding-top: 10px;
	font-size: 10pt;
}

div.propertiesDialog {
	font-size: 12px;
}

div.propertiesDialog .ui-dialog-titlebar {
	padding: 0 0 0 5px;
}