.svg-tool-activity-border {
	fill: none;
	stroke: #b6b6b6;
	stroke-width: 1;
}

.svg-tool-activity-border-require-grouping {
	fill: none;
	stroke: red;
	stroke-width: 3;
}

.svg-tool-activity-border-grouped {
	fill: white;
}

.svg-tool-activity-background {
	stroke: none;
	fill: white;
}

.svg-tool-activity-category-1 {
	stroke: none;
	fill: #caddfb;
}

.svg-tool-activity-category-2 {
	stroke: none;
	fill: #ffffbb;
}

.svg-tool-activity-category-3 {
	fill: #2DBCE9;
	opacity: 0.25;
}

.svg-tool-activity-category-4 {
	fill: #FF72AC;
	opacity: 0.25;	

}

.svg-tool-activity-category-5 {
	stroke: none;
	fill: #caddfb;
}

.svg-tool-activity-category-6 {
	fill: #1AD9B2;
	opacity: 0.25;
}

.svg-activity-title-label {
	font-size   : 16px;
	font-family : sans-serif;
}

.svg-tool-activity-title-box {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	word-wrap: break-word;
	padding-right: 2px;
	text-align: center;
}

.svg-activity-title-label.svg-activity-title-label-small {
	font-size   : 12px;
}

.svg-branching {
	stroke-width: 3;
	fill: white;
}

.svg-branching-start {
	stroke: green;
}

.svg-branching-end {
	stroke: red;
}

.svg-branching-match {
	stroke: blue;
}

.svg-annotation-container {
	stroke: #b6b6b6;
}

.svg-activity-optional .svg-annotation-container,
.svg-activity-parallel .svg-annotation-container,
.svg-activity-floating .svg-annotation-container {
	fill : #f0f8ff;
}

.svg-transition {
	stroke-width: 1;
	stroke: rgb(119, 126, 157);
	fill: none;
}

.svg-transition-element {
	stroke: rgb(119, 126, 157);
	fill: rgb(119, 126, 157);
}

.svg-transition-draw {
	stroke-width: 2;
	stroke: rgb(119, 126, 157);
	stroke-dasharray: 5, 3;
}

.svg-shadow {
	-webkit-filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .3));
  	filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .3));
}
