body {
	font-size: 16px;
	font-family: verdana, arial, helvetica, sans-serif;
}

body.large-font {font-size: 16px;}

h2 {/*color:#47bc23;  */
	font-size:17px; 
	padding-top:10px;
	margin-bottom:15px; } 

span.h2font {color:#47bc23;  
	font-size:14px; } 

h3 {/*color:#47bc23; */
	font-size:13px; 
	margin-top:10px;
	margin-bottom:5px; } 


h4 {color:#0087e5; 
	font-size:11px;
	margin-top:10px;
	margin-bottom:10px;
	padding:0;
	}
	
h5 {/*color:#47bc23; */
	font-size:14px;
	margin-right:40px;
	margin-bottom:8px;
	}
	
p {
	margin-right: 30px;
	margin-top:10px;
}	
	
.regular-li { font-size: 14px; font-weight: normal; }

/**********************layout of the table with the alternate color for the table heading cell *********************/
table.alternative-color {
 	 width:100%; 
	 margin-left:0px; 
	 padding-top:0px; 
	 margin-bottom:15px; 
	 text-align:left;
}

table.alternative-color th {

	font-size: 12px;
	height: 30px;
}

table.alternative-color td {
	padding:8px 5px;
	font-size: 12px;
	border-bottom: 1px solid #efefef;
	vertical-align: middle; 
	background:url('../images/css/greyfade_bg.jpg') repeat-x 3px 0px
}

table.alternative-color td.first, table.alternative-color th.first {
	border-left: none;
	padding-left: 2px;
}
table.alternative-color .ui-btn-up-c {
font-weight: normal; cursor: default;
}

table.table-content-padding-left th {padding-left: 8px; }
table.table-content-padding-left td {padding-left: 10px; }


b.error {color:#cc0000;}

.float-left {float:left;}

.float-right {float:right;}

/*******************************layout of the forum tables with the colored table heading cell ********************/
table.forum { 
	width:93%;
	margin-bottom:10px;
	background:url('../images/css/greyfade_bg.jpg') repeat-x 3px 49px; 
	text-align:left; 
	border-bottom:1px solid #efefef;}

table.forum th { 
	height:20px; 
	padding-top:5px; 
	padding-left:15px; 
	border-left:1px solid #cacdd1;  
	font-size:12px; 
	vertical-align:middle;
}

table.forum td.posted-by {
	height:20px; 
	padding-left:15px; 
	padding-top:0px; 
	font-size:10px;
	vertical-align:top; 
	border-left:1px solid #cacdd1; 
	color:#666;
}

table.forum td {
	padding-left:20px; 
	font-size:11px; 
	vertical-align:top; 
}

.shading-bg {padding:5px; padding-left:10px;  padding-top:10px; margin-top:10px; margin-bottom:10px; width:99%; border-top:1px solid #ccc; background:url('../images/css/greyfade_bg.jpg') repeat-x 3px 1px}

.shading-bg td {padding:5px;}

.big-space-top {
	padding-top: 30px;
}

.space-top {
	padding-top: 20px;
}

.space-right {
	margin-right: 10px;
}

.space-left {
	margin-left: 10px;
}

.space-bottom {
	margin-bottom: 40px;
}

.space-bottom-top {
	padding-bottom: 20px;
	padding-top: 20px;
}

.small-space-bottom {
	margin-bottom: 10px;
}

.float-left {float:left;}

.float-right {float:right;}

.small-space-top {padding-top:6px;}

.title-space-top {padding-top:12px;}

hr {border:0px;
	border-top:1px solid #ccc; 
	height: 1px;
}

.warning {
	color: #cc0000;
	padding:8px 10px 10px 40px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: normal;
	background: url('../images/css/warning.gif') no-repeat #ffeae0 10px 8px;
	width: 70%;
	border: 1px solid #E82A28;
}

.info {
	color: #000000;
	padding:8px 10px 10px 40px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: normal;
	background: url('../images/css/edit.gif') no-repeat #d8e4f1 10px 8px;
	width: 70%;
	border: 1px solid #3c78b5;
}

.error {
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: normal;
}
input.error {
	background-color: bisque;
	padding:8px 2px 10px;
}
label.error {
	margin-left: 10px;
	background-color: #EFEFEF;
	padding:8px 10px 10px;
}

#errorMessages {
	padding:8px 10px 10px 40px;
	margin-top: 25px;
	background-color: #ffffce;
	width: 70%;
	border: 1px solid #C0C0C0;
}

.ui-finishbtn-right { float: right;padding-right: 40px; min-height: 30px;}

.button-inside {font-size: 16px;}

#qaQuestions {padding-top: 45px; padding-bottom: 20px;}
#qaAnswers {padding-top: 20px; padding-bottom: 20px;}
#qaQuestionsSequential{padding-top: 30px; padding-bottom: 0px;}
.finishButtonDiv {text-align: right; margin: 5px 13px;}