/*
*************************************************
LAMS 2.0


*************************************************
General page styles
********************************************** */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #fff;
	line-height: 16px;
	font-size: 11px;
	font-family: arial, helvetica, sans-serif;
}

a {
	color: #47bc23;
	text-decoration: none;
	text-decoration: none;
}

body.stripes {
	background: url('../images/css/diagonal_bg.gif');
}

h1 {
	color: #0087e5;
	font-size: 15px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding-top: 5px;
}

/*when there are no tabs at the top of the page */
h1.no-tabs-below {
	color: #0087e5;
	font-size: 16px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding-top: 25px;
}

h2 {
	color: #47bc23;
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

h2.no-space-left {
	margin-left: 0px;
}

h2.spacer-left {
	margin-left: 25px;
}

span.h2font {
	color: #47bc23;
	font-size: 12px;
}

h3 {
	color: #47bc23;
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

h4 {
	color: #47bc23;
	font-size: 11px;
}

/*defines when instructions are given and places a blue arrow before the text */
p.instructions {
	color: #0087e5;
	margin-bottom: 0px;
	margin-top: 0px;;
	margin-left: 30px;
	font-weight: bold;
	background: url('../images/css/blue_arrow_right.gif') no-repeat 0 0px;
	padding-left: 30px;
	padding-bottom: 10px;
	font-size: 12px
}

p {
	margin-left: 25px;
	margin-right: 30px;
	margin-bottom: 18px;
}

ol {
	margin-left: 25px;
	margin-right: 30px;
}

li.no-list-type {
	list-style-type: none;
}

#page { /*whole layout of page*/
	margin: 15px auto 10px auto;
	width: 95%;
	min-width: 707px;
	max-width: 100%;
	background: url('../images/css/lams_logo.gif') no-repeat 96% 10px;
}

#page-main { /*whole layout of page*/
	margin: 25px auto;
	width: 100%;
	background: url('../images/css/lams_logo.gif') no-repeat 585px 10px;
}

#header { /*layout of the header */
	height: 17px;
}

#header-main { /*layout of the header */
	width: 90%;
	min-width: 707px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

#header-no-tabs {
	/*layout of the header  when no-tabs are required. Big enough to line up with LAMS icon - don't use for learner (see header-no-tabs-learner) */
	width: 707px;
	height: 40px;
	background: url('../images/css/top_bg.jpg') no-repeat bottom;
}

#header-no-tabs-main {
	/*layout of the header  when no-tabs are required. Big enough to line up with LAMS icon - don't use for learner (see header-no-tabs-learner) */
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	min-width: 707px;
	max-width: 100%;
	height: 40px;
	background: url('../images/css/top_bg.jpg') no-repeat bottom;
}

/*
*************************************************

Layout of  tab navigation section

********************************************** */
#nav { /* layout of box that contains the main navigation */
	margin-top: 15px;
	height: 40px;
	margin-left: 4px;
}

#nav a {
	color: #0087e5;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	border: 0;
}

#nav a:hover {
	color: #006bb6;
	text-decoration: none;
	border: 0;
}

#nav a.selected {
	color: #333;
	border: 0;
}

/*
*************************************************

Tab navigation styles

********************************************** */
.nav-box { /* layout of containers that surround the tab navigation */
	height: 31px;
	width: auto;
	margin-right: 2px;
	float: left;
	text-align: center;
}

.tab-left-selected { /* defines left side of selected tab */
	height: 31px;
	width: 8px;
	background: url('../images/css/selected_left.jpg') no-repeat top left;
	z-index: 2;
	float: left;
}

.tab-middle-selected { /* defines middle of selected tab */
	height: 31px;
	width: 90px;
	background: url('../images/css/selected_bg.jpg') repeat-x;
	float: left;
	z-index: 1;
	padding: 8px 5px 0px 5px;
}

#nav .tab-middle-link-selected {
	color: #333333
}

.tab-right-selected { /* defines right side of selected tab */
	height: 31px;
	width: 8px;
	background: url('../images/css/selected_right.jpg') no-repeat top right;
	float: left;
	z-index: 1;
}

.tab-left { /* defines left side of selected tab */
	height: 31px;
	width: 8px;
	background: url('../images/css/button_left.jpg') no-repeat top left;
	float: left
}

.tab-middle { /* defines middle of selected tab */
	height: 31px;
	width: 90px;
	background: url('../images/css/button_bg.jpg') repeat-x;
	float: left;
	padding: 8px 5px 0px 5px;
}

#nav .tab-middle-link {
	color: #0087e5
}

.tab-right { /* defines right side of selected tab */
	height: 31px;
	width: 8px;
	background: url('../images/css/button_right.jpg') no-repeat top right;
	float: left
}

.tab-left-highlight { /* defines left side of selected tab */
	height: 31px;
	width: 8px;
	background: url('../images/css/button_highlight_left.jpg') no-repeat top left;
	float: left
}

.tab-middle-highlight { /* defines middle of selected tab */
	height: 31px;
	width: 90px;
	background: url('../images/css/button_highlight_bg.jpg') repeat-x;
	float: left;
	padding: 8px 5px 0px 5px;
}

#nav .tab-middle-highlight-link {
	color: #FFFFFF
}

.tab-right-highlight { /* defines right side of selected tab */
	height: 31px;
	width: 8px;
	background: url('../images/css/button_highlight_right.jpg') no-repeat top right;
	float: left
}

#nav-right a.tab-link-highlight,#nav-right a.tab-link-highlight:hover {
	color: #e7eef8;
}

/*
*************************************************

Layout of main content section

********************************************** */
#content { /*box around the main content area */
	min-width: 707px;
	max-width: 100%;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
	margin-top: 12px;
	border-left: 1px solid #aaa;
	border: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

#content-main { /*box around the main content area */
	background-color: #fff;
	font-size: 11px;
	border: 1px solid #d4d8da;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -5px;
	width: 90%;
	height: 100%;
	padding-bottom: -5px;
	min-width: 707px;
	max-width: 100%;
}

/*layout of Links within the content area */
#content a {
	color: #47bc23;
	text-decoration: none;
}

#content a:hover {
	color: #47bc23;
	text-decoration: none;
	border-bottom: 1px solid #47bc23;
}

/*layout of a general button*/
#content a.button {
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	color: #333;
	border: 0px none;
	padding: 5px 20px 6px 20px;
	text-decoration: none;
	font-size: 11px;
}

/*  style to disbable input buttons */
#content a.button .disabled {
	color: #999;
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	border: 0px none;
	padding: 5px 20px 6px 20px;
}

#content a:hover.button {
	background: url('../images/css/btn_over.gif') repeat-x 0px 0px;
	color: #349018;
	border: 0px none;
	padding: 5px 20px 6px 20px;
	text-decoration: none;
}

/* CKEditor buttons */
#content a.cke_button {
	border-bottom: none;
}
#content a.cke_combo_button{
	border-bottom: 1px solid #e1e1e1;
}

/*layout of authoring buttons*/

/*layout of a general button*/
#saveCancelButtons a.button {
	background: url('../images/css/btn_off.gif') repeat-x 0px 2px;
	color: #333;
	border: 0px none;
	padding: 5px 20px 6px 20px;
	text-decoration: none;
	font-size: 11px;
}

/*  style to disbable input buttons */
#saveCancelButtons a.button .disabled {
	color: #999;
	background: url('../images/css/btn_off.gif') repeat-x 0px 2px;
	border: 0px none;
	padding: 5px 20px 6px 10px;
}

#saveCancelButtons a:hover.button {
	background: url('../images/css/btn_over.gif') repeat-x 0px 2px;
	color: #349018;
	border: 0px none;
	padding: 5px 20px 6px 20px;
	text-decoration: none;
}

/* OK and Cancel icon buttons */
.okIcon {
	padding: 0 0 5px 18px;
	background: url('../images/css/accept.png') no-repeat;
}

/* OK and Cancel icon buttons */
.cancelIcon {
	padding: 0 0 5px 18px;
	background: url('../images/css/cancel.png') no-repeat;
}

/*layout of a general button*/
a.button {
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	color: #333;
	border: 0px none;
	padding: 5px 20px 6px 20px;
	text-decoration: none;
	font-size: 11px;
}

a:hover.button {
	background: url('../images/css/btn_over.gif') repeat-x 0px 0px;
	color: #349018;
	border: 0px none;
	padding: 5px 20px 6px 20px;
	text-decoration: none;
	font-size: 11px;
}

/*layout of adding a topic button */
a.button-add-item {
	background: url('../images/css/btn_add_off.gif') no-repeat 0px 0px;
	color: #333;
	border: 0px none;
	padding: 5px 15px 6px 25px;
	text-decoration: none;
	font-size: 11px;
}

a:hover.button-add-item {
	background: url('../images/css/btn_add_over.gif') no-repeat 0px 0px;
	color: #349018;
	border: 0px none;
	padding: 5px 15px 6px 25px;
	text-decoration: none;
	font-size: 11px;
}

/*layout of adding a topic button */
#content a.button-add-item {
	background: url('../images/css/btn_add_off.gif') no-repeat 0px 0px;
	color: #333;
	border: 0px none;
	padding: 5px 15px 6px 25px;
	font-size: 11px;
}

#content a:hover.button-add-item {
	background: url('../images/css/btn_add_over.gif') no-repeat 0px 0px;
	color: #349018;
	border: 0px none;
	padding: 5px 15px 6px 25px;
	font-size: 11px;
}

/* my courses individual course boxes */
.course-bg { /*---- box around the green tabbed items -- */
	margin-top: 15px;
	margin-bottom: 20px;
	width: 100%;
	background: #fff url('../images/css/mycourses_greentab.jpg') no-repeat top;
	margin-left: 0px;
}

.course-bg h2 {
	font-size: 13px;
	color: #47bc23;
	padding-left: 0px;
	margin-top: 12px;
	margin-left: 0px;
}

.course-bg h4 {
	font-size: 12px;
	color: #47bc23;
	padding-left: 0px
}

.course-buttons {
	margin-right: 0px;
}

/* Hovering submit button */
input.button {
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	color: #333;
	border: 0px none;
	padding: 5px 20px 6px 20px;
	text-decoration: none;
	font-size: 11px;
	font-family: arial, helvetica, sans-serif;
}

input:hover.button {
	background: url('../images/css/btn_over.gif') repeat-x 0px 0px;
	color: #349018;
	border: 0px none;
	padding: 5px 20px 6px 20px;
	text-decoration: none;
	font-size: 11px;
	font-family: arial, helvetica, sans-serif;
}

input.disabled {
	color: #999;
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	border: 0px none;
	padding: 5px 20px 6px 20px;
	font-size: 11px;
}

.box {
	display: none;
	min-height: 100px;
}

.box-main {
	display: none;
	min-height: 100px;
	margin-right: 5%;
	margin-left: 5%;
}

#footer-main { /*layout of the footer - the bottom of the box */
	background-color: white; //
	background: url('../images/css/footer_bg.jpg') no-repeat bottom;
}

#footer a { /*layout of the footer - the bottom of the box */
	color: #85aacd;
	border-bottom: 1px solid #85aacd;
}

/*layout of the table with the alternate color for the table heading cell */
table.alternative-color {
	width: 91%;
	margin-left: 17px;
	padding-top: 0px;
	margin-bottom: 15px;
	text-align: left;
}

table.alternative-color th {
	background: url('../images/css/green_bg.jpg') repeat-x;
	height: 30px;
	color: #47bc23;
	padding-left: 15px;
	border-left: 1px solid #cacdd1;
	border-right: 1px solid #fff;
	font-size: 12px;
}

table.alternative-color td {
	padding-left: 20px;
	font-size: 11px;
	border-bottom: 1px solid #efefef;
	vertical-align: top;
	background: url('../images/css/greyfade_bg.jpg') repeat-x 3px 0px
}

table.alternative-color td.first,table.alternative-color th.first {
	border-left: none;
	padding-left: 20px;
}

/*layout of the forum tables with the colored table heading cell */
table.forum {
	width: 93%;
	margin-left: 20px;
	padding-top: 5px;
	margin-bottom: 10px;
	background: url('../images/css/greyfade_bg.jpg') repeat-x 3px 49px;
	text-align: left;
	border-bottom: 1px solid #efefef;
}

table.forum th {
	background: url('../images/css/green_bg_forum.jpg') repeat-x #f0f5df;
	height: 20px;
	padding-top: 5px;
	color: #47bc23;
	padding-left: 15px;
	border-left: 1px solid #cacdd1;
	font-size: 12px;
	vertical-align: middle;
}

table.forum td.posted-by {
	background: url('../images/css/forum_postedby_bg.jpg') repeat-x;
	height: 20px;
	padding-left: 15px;
	padding-top: 0px;
	font-size: 10px;
	vertical-align: top;
	border-left: 1px solid #cacdd1;
	color: #666;
}

table.forum td {
	padding-left: 20px;
	font-size: 11px;
	vertical-align: top;
}

/* Used for chosen grouping */
table.chosengrouping {
	width: 98%;
	margin-left: 0px;
	text-align: center;
}

table.chosengrouping tr {
	vertical-align: top
}

table.chosengrouping th {
	padding: 0px;
	font-size: 11px;
	text-align: center;
}

table.chosengrouping td {
	padding: 0px;
	font-size: 11px;
	text-align: center;
}

table.chosengrouping td p {
	padding: 0px;
	font-size: 11px;
	line-height: 11px;
}

table.chosengrouping td select {
	font-size: 11px;
}
/*layout of the table with form elements */
table {
	width: 100%; //
	margin-left: 7px;
	text-align: left;
}

table-main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	table-layout: #;
}

td {
	padding: 10px;
	font-size: 12px;
}

td-main {
	padding: 10px;
	font-size: 12px;
	margin-right: auto;
	margin-left: auto;
	align: center;
}

td p {
	padding: 10px;
	font-size: 12px;
	line-height: 18px;
}

/*layout of button in table 
td .button{
	margin:0px; 
	padding:10px 10px 10px 0px; 
	font-size:11px;
	font-family: arial, helvetica, sans-serif;
}
*/

/* */ /*layout of form styles */
.field-name {
	color: #0087e5;
	font-weight: bold;
	text-align: left;
	padding-bottom: 10px;
}

.field-name-alternative-color {
	color: #47bc23;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: left;
}

input {
	border: 1px solid #c1c1c1;
	padding: 2px;
}

textarea {
	border: 1px solid #c1c1c1;
	padding: 2px;
}

.noBorder {
	border: none;
}

/*misc styles*/
.space-right {
	margin-right: 10px;
}

.space-left {
	margin-left: 10px;
}

.space-bottom {
	margin-bottom: 40px;
}

.space-bottom-top {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px; /* Testing spacing IE */
}

.small-space-bottom {
	margin-bottom: 20px;
}

.small-space-top {
	padding-top: 6px;
}

.space-top {
	padding-top: 20px;
}

.title-space-top {
	margin-top: 12px;
}

hr {
	border: 0px;
	border-top: 1px solid #ccc;
	width: 630px;
	height: 1px;
}

/* Warning message style */
.warning {
	color: #cc0000;
	padding: 8px 10px 10px 40px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: normal;
	background: url('../images/css/warning.gif') no-repeat #ffeae0 10px 8px;
	width: 70%;
	border: 1px solid #E82A28;
}

.warning-login {
	color: #cc0000;
	padding: 5px 5px;
	padding-left: 35px;
	padding-bottom: -10px;
	margin-top: -5px;
	margin-bottom: -10px;
	margin-left: 15px;
	text-align: left;
	font-weight: normal;
	background: url('../images/css/warning.gif') no-repeat #ffeae0 10px 8px;
	width: 70%;
	border: 1px solid #E82A28;
}

input.error{
	color: #cc0000;
	border: 1px solid #E82A28;
}
b.error {
	color: #cc0000;
}

.info {
	color: #000000;
	padding:8px 10px 10px 40px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: normal;
	background: url('../images/css/edit.gif') no-repeat #d8e4f1 10px 8px;
	width: 70%;
	border: 1px solid #3c78b5;
}

/* ***********************************************
    Monitoring page styles
************************************************ */

/* Display the adavanced options in the summary tab */
div.monitoring-advanced {
	margin-left: 25px;
	margin-right: 30px;
	margin-bottom: 20px;
}

/*
*************************************************

Floating button containers

********************************************** */
.left-buttons {
	float: left;
	padding-left: 20px;
}

.right-buttons {
	float: right;
	padding-right: 20px;
	padding-top: 5px;
}

/*
*************************************************

My Courses Pages
********************************************** */

/* welcome user box */
.welcome {
	margin-bottom: 35px;
	margin-top: 0px;
	background-color: #33FFFF;
	margin-left: 20px;
	margin-right: 20px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* layout for my-courses pages */
.my-courses {
	background: url('../images/css/diagonal_bg.gif') repeat;
}

#page-mycourses { /*whole layout of page*/
	margin: 1px auto;
	min-width: 707px;
	max-width: 100%;
	width: 100%;
	background: url('../images/css/lams_logo.gif') no-repeat 5% -7px;
}

#page-mycourses #footer { /*layout of the footer - the bottom of the box */
	width: 90%;
	min-width: 707px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#page-mycourses #footer p {
	padding: 20px 0px 0px 10px;
	text-align: center;
	font-family: arial, helvetica, sans-serif;
	font-size: .9em;
	color: #999;
}

#header-my-courses { /*layout of the header */
	width: 90%;
	min-width: 707px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

/* my courses nav */
.nav-box-right {
	height: 31px;
	width: auto;
	margin-right: -1px;
	margin-top: 16px;
	float: right;
	text-align: center;
	margin-left: 3px;
}

#nav-right { /* layout of box that contains the main navigation */
	margin-top: 10px;
	width: 100%;
	height: 40px;
}

#nav-right a {
	color: #0087e5;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

#nav-right a:hover {
	color: #006bb6;
	text-decoration: none;
}

#nav-right a.selected {
	color: #333;
}

/* my courses grey buttons in the green bar */
.mycourses-left-buttons {
	float: left;
	padding-left: 10px;
}

.course-right-buttons {
	padding-right: 20px;
}

#content-main a.sorting {
	border-bottom: none;
	cursor: pointer;
}

/* my courses individual course boxes */
.course-bg { /*---- box around the green tabbed items -- */
	margin-top: 15px;
	margin-bottom: 20px;
	width: 100%;
	background: #fff url('../images/css/mycourses_greentab-minimal.jpg') repeat-x top;
	margin-left: 0px;
}

.course-bg h2 {
	font-size: 13px;
	color: #47bc23;
	padding-left: 0px;
	margin-top: 12px;
	margin-left: 0px;
}

.course-bg h4 {
	font-size: 12px;
	color: #47bc23;
	padding-left: 0px
}

.course-buttons {
	margin-right: 0px;
}

/************ The sequence name box **********/
.sequence-name {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	clear: both;
}

.sequence-name p {
	margin: 0px;
}

#content-main a.sequence-name-link {
	color: #0087E5;
	text-decoration: none;
}

#content-main a:hover.sequence-name-link {
	color: #0087E5;
	text-decoration: none;
	border-bottom: 1px solid #0087E5;
}

#content-main a.sequence-action-link {
	color: #47bc23;
	text-decoration: none;
	border: 0px;
	font-variant: small-caps;
	margin-left: 20px;
}

#content-main a:hover.sequence-action-link {
	color: #47bc23;
	text-decoration: none;
	border-bottom: 0px;
	font-variant: small-caps;
	margin-left: 20px;
}

/************ The group name box **********/
.group-name {
	margin-top: 20px;
	margin-left: 30px;
}

.group-name p {
	padding-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	margin-left: 0px;
}

.group-name strong {
	color: #666;
}

/*aligns the image in the middle of the line - gives padding */
.align-middle {
	vertical-align: middle;
	padding-right: 0px;
	border: 0px;
}

.help {
	text-align: right;
	margin-right: 35px;
	cursor: pointer;
}

.help-no-tabs {
	float: right;
	cursor: pointer;
}

/************ My Profile custom **********/
.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.shading-bg {
	padding: 5px;
	padding-left: 10px;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 98%;
	border-top: 1px solid #ccc;
	background: url('../images/css/greyfade_bg.jpg') repeat-x 3px 1px
}

.img-border {
	padding: 2px;
	border: 1px solid #dcdcdc;
}

.userpage-td {
	border-left: 1px solid #ccc;
}

.j-single-lesson {
	list-style: none;
	margin: 6px;
	padding: 3px 3px 3px 10px;
	position: relative;
}

.j-single-lesson:hover {
	border-color: #9be0f9;
	background-color: #F0F8FF;
	display: block;
	/* CSS3 glow effect: */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px #A6E5FD;
	-webkit-box-shadow: 0 0 5px #A6E5FD;
	box-shadow: 0 0 5px #A6E5FD;
}

.lesson-table {
	margin: 0 auto;
	width: 100%;
}

.subgroup-lesson-table {
	padding-top: 30px;
}

.lesson-actions {
	float: right;
	font-size: 1.2em;
	opacity: 0.3;
	filter: alpha(opacity = 10); /* msie */
}

.j-single-lesson:hover .lesson-actions {
	opacity: 1;
	filter: alpha(opacity = 100); /* msie */
	display: block;
}

.j-single-lesson:hover .mycourses-monitor-img {
}

.j-single-lesson:hover .mycourses-mark-img {
}

.j-single-lesson:hover .mycourses-notifications-img {
}

.j-single-lesson:hover .mycourses-conditions-img {
}

.j-single-lesson:hover .mycourses-removelesson-img {
}

.j-single-lesson:hover .mycourses-move-img {
	background: url('../images/css/arrow_move.png') no-repeat 0 0px;
}

.mycourses-div {
	width: 20px;
	height: 18px;
	padding-right: 5px;
	float: right;
	cursor: pointer;
}

.mycourses-span {
	margin: 0 0 0 15px;
	padding: 3px 0 3px 40px;
	cursor: default;
}

.mycourses-stop-img {
	background: url('../images/css/lesson_disabled.png') no-repeat 0 3px;
}

.mycourses-completed-img {
	background: url('../images/css/lesson_completed.png') no-repeat 0 3px;
}

.mycourses-monitor-img {
    position: relative;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.mycourses-monitor-img:before {
    content: "\f1e5";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: initial;
    position: absolute;
    left: 0;
}

.mycourses-mark-img {
	position:relative;
}

.mycourses-mark-img:before {
    content: "\f046";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: initial;
    position: absolute;
    left: 0;
}


.mycourses-notifications-img {
    position:relative;	
}

.mycourses-notifications-img:before {
    content: "\f0a1";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: initial;
    position: absolute;
    left: 0;
}

.mycourses-conditions-img {
    position:relative;
}
.mycourses-conditions-img:before {
    content: "\f126";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    font-size: initial;
    position: absolute;
    padding-left:2px;
}

.mycourses-removelesson-img {
    position:relative;
}

.mycourses-removelesson-img:before {
    content: "\f014";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: initial;
    position: absolute;
    left: 0;
}


.mycourses-move-img {
	background: url('../images/css/arrow_move.png') no-repeat 0 0;
}

.lesson-action-label {
	/*-- display: none; --*/
	color: #999;
}

.mycourses-div:hover .lesson-action-label {
	position:relative;
	top: -18px;
	left: -8px;
	display: inline;
}

/* Date and time restriction area in monitor */
#restrictUsageDiv {
	font-size: 13px;
	padding-bottom: 10px;
	padding-left: 18px;
	padding-top: -5px;
}

#restrictUsageDiv :first-child {
	padding-bottom: 10px;
	padding-top: -5px;
}

#datetime {
	padding-left: 7px;
	margin-right: 20px;
}

#dateInfo {
	padding-left: 7px;
}

#dateInfoDiv a {
	margin-left: 10px;
}

/* Growl functionality, jquery.blockUI (version: 2.38) */
div.growlUI {
	background: url(../images/css/check48.png) no-repeat 10px 10px
}

div.growlUI h1,div.growlUI h2 {
	color: white;
	padding: 5px 5px 5px 75px;
	text-align: left
}

div.growlUI h1 {
	font-size: medium
}

/*IE style workarounds */
* html  #content {
	background-color: #fff;
	font-size: 11px;
	border: 1px solid #d4d8da;
	margin-top: -16px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 90%;
	height: 100%;
	padding-bottom: 5px;
	min-width: 707px;
	max-width: 100%;
	position: relative;
}

* html #content-main { /*box around the main content area */
	background-color: #fff;
	font-size: 11px;
	border: 1px solid #d4d8da;
	margin-top: -15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -5px;
	width: 90%;
	height: 100%;
	padding-bottom: -5px;
	min-width: 707px;
	max-width: 100%;
}

* html  #header { /*layout of the header */
	width: 90%;
	min-width: 707px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

* html  #header-my-courses { /*layout of the header */
	width: 90%;
	min-width: 707px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

* html  .nav-box-right {
	height: 31px;
	width: auto;
	margin-right: -1px;
	margin-top: 16px;
	float: right;
	text-align: center;
	margin-left: 3px;
}

* html  .nav-box-right {
	height: 31px;
	width: auto;
	margin-right: -1px;
	margin-top: 16px;
	float: right;
	text-align: center;
	margin-left: 3px;
}

* html  #nav-right { /* layout of box that contains the main navigation */
	margin-top: 15px;
	width: auto;
	height: 40px;
	margin-right: 1px;
}

* html .mycourses-right-buttons {
	float: right;
	height: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 4px;
}

#content-main .add-lesson-button {
	background: url('../images/icons/page_add.png') no-repeat 0 0;
	padding-left: 25px;
	padding-bottom: 2px;
}

#content-main .manage-group-button {
	background: url('../images/icons/wrench.png') no-repeat 0 0;
	padding-left: 25px;
	padding-bottom: 2px;
	margin: 3px 0 0 3px;
}

#content-main .my-grades-button {
	background: url('../images/icons/book_edit.png') no-repeat 0 0;
	padding-left: 25px;
	padding-bottom: 2px;
	margin: 3px 0 0 3px;
}

#content-main .more-actions-button {
	background: url('../images/icons/cog.png') no-repeat 0 0;
	padding-left: 25px;
	padding-bottom: 2px;
}

#content-main .course-gradebook-button {
	background: url('../images/icons/book_edit.png') no-repeat 0 3px;
	padding-left: 25px;
	margin: 3px 0 0 3px;
}

#content-main .search-lesson {
	background: url('../images/icons/magnifier.png') no-repeat 0 3px;
	padding-left: 25px;
	margin: 3px 0 0 3px;
}

#content-main .course-notifications {
	background: url('../images/icons/email_go.png') no-repeat 0 3px;
	padding-left: 25px;
	margin: 3px 0 0 3px;
}

* html .right-buttons {
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

* html .space-bottom {
	margin-bottom: 40px;
}

* html #nav-right { /* layout of box that contains the main navigation */
	margin-top: 30px;
	width: 100%;
	height: 40px;
	position: relative;
	z-index: 2;
	margin-right: -1px;
}

* html #page-mycourses { /*whole layout of page*/
	margin: 0px auto;
	width: 100%;
	background: url('../images/css/lams_logo.gif') no-repeat 5% 25px;
}

/*IE 7 workarounds */
*:first-child+html #content {
	background-color: #fff;
	font-size: 11px;
	border: 1px solid #d4d8da;
	margin-top: 53px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 90%;
	height: 100%;
	padding-bottom: 15px;
	min-width: 707px;
	max-width: 100%;
	position: relative;
}

*:first-child+html .nav-box-right {
	height: 0px;
	width: auto;
	margin-right: 2px;
	margin-top: -14px;
	float: right;
	text-align: center;
}

*:first-child+html .mycourses-right-buttons {
	float: right;
	padding-right: 20px;
	margin-top: 0px;
	height: 24px;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
}

*:first-child+html  #header { /*layout of the header */
	width: 90%;
	min-width: 707px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -25px;
}

*:first-child+html  #header-my-courses { /*layout of the header */
	width: 90%;
	min-width: 707px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -25px;
}

*:first-child+html #nav-right { /* layout of box that contains the main navigation */
	margin-top: 30px;
	width: 100%;
	height: 40px;
	position: relative;
	z-index: 2;
}

*:first-child+html .nav-box-right {
	height: 0px;
	width: auto;
	margin-right: -1px;
	margin-top: -14px;
	float: right;
	text-align: center;
}

.split-ui-button+ul {
	z-index: 1;
}

.split-ui-button+ul li {
	list-style-type: none;
}

.split-ui-button+ul li a {
	border: none;
}

.split-ui-button div:first-child {
	margin-right: -0.4em;
}

.customDialogButton {
	position: absolute;
	top: 0;
	padding: 5px 20px 5px 20px;
	vertical-align: center;
	font-weight: bolder;
	border: thin solid #2E6E9E !important;
	color: #222222 !important;
	background-color: #D0E5F5;"
}

.rating-criteria-tag {
	width: 60%;
	padding-left: 20px;
}
.rating-criteria-tag input[type="text"] {
	width: 100%;
}
#criterias-table {
	margin-left: 0;
}
#criterias-table td {
	vertical-align:middle;
}
div.up-arrow, div.up-arrow-disabled, div.down-arrow, div.down-arrow-disabled, div.delete-arrow {
	width:16px; 
	height:16px;
	display: table-cell;
}
div.up-arrow {
	background-image: url('../images/uparrow.gif');
}
div.up-arrow-disabled {
	background-image: url('../images/uparrow_disabled.gif');
}
div.down-arrow {
	background-image: url('../images/downarrow.gif');
}
div.down-arrow-disabled {
	background-image: url('../images/downarrow_disabled.gif');
}
div.delete-arrow {
	background-image: url('../images/disposal.gif');
}
.gray-color{
	color: gray;
}

/* For jQuery Dialogextend */
.ui-dialog .ui-dialog-titlebar-buttonpane a {
	margin-right: 3px;
}

/* jQuery tablesorter/pager/filter defaults */
.tablesorter .disabled {
	display: none
}
