// Standard LAMS Skin. If you need to add anything add it to _main_base.scss and it will go in all skins.
@import "_lams_variables.scss";
// Stylesheet Imports
@import url("/lams/includes/font-awesome/css/font-awesome.min.css");
@import url("/lams/css/bootstrap.css");
// LAMS Classes and overrides
@import "_dialogs.scss";
@import "_inlineeditor.scss";
@import "_learner_base.scss";