/*
*************************************************
LAMS 2.0
Date modified:  22/09/2006

*************************************************
General page styles
********************************************** */

* {
	margin:0;
	padding:0;
}

body {
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
	line-height:16px;
}

body.stripes {
	background: url('../images/css/diagonal_bg.gif');
}

.row {
	voice-family: "\"}\""; /* hide the following rules from IE5 */
	voice-family: inherit;
	overflow: hidden; /* CSS 'clearing hack' - works on all except for IE5, that's why the IE5 box model hack above */
}

* html .row {
	height: 1%;
}  /* part of the CSS 'clearing hack' */


h1 {color:#0087e5; 
	font-size:15px; 
	margin-bottom:5px; 
	}

h2 {color:#47bc23; 
	font-size:14px; 
	padding-top:10px;
	margin-bottom:5px; } 


h3 {color:#47bc23; 
	font-size:13px; 
	margin-top:10px;
	margin-bottom:5px; } 


h4 {color:#47bc23; 
	font-size:12px;
	margin-left:25px; 
	padding-top:20px;
	}

/*defines when instructions are given and places a blue arrow before the text */
p.instructions {
	color: #0087e5;
	margin-bottom:0;
	margin-top:0;
	background: url('../images/css/blue_arrow_right.gif') no-repeat 0 0px;
	padding-left: 30px;
	padding-bottom: 10px;
	font-size:13px;
}

p {
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top:5px;
}

ul {
	margin-left: 25px;
	margin-right: 30px;
}

/*layout of the table with the alternate color for the table heading cell */
table.alternative-color {
	 width:95%; 
	 margin-right:25px; 
	 margin-bottom:10px;
	 text-align:left;
}

table.alternative-color th {
	background: url('../images/css/green_bg.jpg') repeat-x;
	height: 30px;
	color: #47bc23;
	padding-left: 15px;
	border-left: 1px solid #cacdd1;
	border-right: 1px solid #fff;
	font-size: 12px;
}

table.alternative-color td {
	padding-left: 20px;
	font-size: 11px;
	border-bottom: 1px solid #efefef;
	vertical-align: middle;
	background:url('../images/css/greyfade_bg.jpg') repeat-x 3px 1px;
}

table.alternative-color td.first, table.alternative-color th.first {
	border-left: none;
	padding-left: 10px;
}

table.alternative-color td h4{
	color:#47bc23; 
	font-size:12px;
	margin-top:0px;
	padding-top:10px; 
	padding-bottom:10px; 
	}
	
/*layout of an inserted image */	
.image-border {
	border:1px solid #e2e2e2; 
	padding:3px; 
	background-color:#fff; 
	margin:5px 10px;
}

/*layout of the table with form elements */

table { 
	 width:98%;
	 margin-left:7px; 
	 text-align:left; 
	 }

td { 
	padding:10px; 
	font-size:12px;
}

td p{ 
	padding:10px; 
	font-size:12px; 
	line-height:18px;
}

/*layout of button in table */
td p.button{
	margin:0px; 
	padding:10px 10px 10px 0px; 
	font-size:11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

/* */ /*layout of form styles */
.field-name {
	color: #0087e5;
	font-weight: bold;
	text-align: right;
}

.field-name-alternative-color {
	color: #47bc23;
	font-weight: bold;
	text-align: right;
}

input {
	border: 1px solid #c1c1c1;
	padding: 2px;
}

textarea {
	border: 1px solid #c1c1c1;
	padding: 2px;
}

.noBorder {
	border: none;
}

/*misc styles*/
.space-right {
	margin-right: 10px;
}

.space-left {
	margin-left: 10px;
}

.space-bottom {
	margin-bottom: 40px;
}

hr {
	border:0px; 
	border-top:1px solid #ccc; 
	width: 650px;
	height: 1px;
	margin-15px 25px 10px 25px;
	}

.warning {
	color: #cc0000;
	padding:25px 10px 10px 35px;
	margin-top: 25px;
	margin-left: 15px;
	text-align: left;
	font-weight: normal;
	background: url('../images/css/warning.gif') no-repeat #ffeae0 10px 8px;
	width: 70%;
	border: 1px solid #E82A28;
}


/*************************************************
Page layout
********************************************** */

#content {
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px; 
	width:89%; 
	height:100%; 
	border:1px solid #d4d8da;
	background-color:#fff;
	padding:20px 30px;
	}
	
#footer {
	clear:inherit; 
	height:20px;}


/*
*************************************************

Buttons

********************************************** */

.left-buttons {float:left; padding-left:20px;}

.right-buttons {float:right; padding-right:20px;}

/*layout of a general button*/
#content a.button {
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	color: #333;
	border: 0px none;
	padding:5px 20px 6px 20px;
	text-decoration: none;
}

/*  style to disbable input buttons */
#content a.button .disabled {
	color: #999;
	background: url('../images/css/btn_off.gif') no-repeat 0px 20px;
	border: 0px none;
	padding:25px 20px;
	}

#content a:hover.button {
	background: url('../images/css/btn_over.gif') repeat-x 0px 0px;
	color: #349018;
	border: 0px none;
	padding:5px 20px 6px 20px;
	text-decoration: none;
}

/*layout of a general button*/
a.button {
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	color: #333;
	border: 0px none;
	padding:5px 20px;
	text-decoration: none;
}

a:hover.button {
	background: url('../images/css/btn_over.gif') repeat-x 0px 0px;
	color: #349018;
	border: 0px none;
	padding:5px 20px;
	text-decoration: none;
}


/*layout of adding a topic button */
a.button-add-item {
	background: url('../images/css/btn_add_off.gif') no-repeat 0px 20px;
	color: #333;
	border: 0px none;
	padding:25px 15px 25px 25px;
    text-decoration: none;
}

a:hover.button-add-item {
	background: url('../images/css/btn_add_over.gif') no-repeat 0px 20px;
	color: #349018;
	border: 0px none;
	padding:25px 15px 25px 25px;
    text-decoration: none;
}


/*layout of adding a topic button */
#content a.button-add-item {
	background: url('../images/css/btn_add_off.gif') no-repeat 0px 20px;
	color: #333;
	border: 0px none;
	padding:25px 15px 25px 25px;
}

#content a:hover.button-add-item {
	background: url('../images/css/btn_add_over.gif') no-repeat 0px 20px;
	color: #349018;
	border: 0px none;
	padding:25px 15px 25px 25px;
}

/*layout of html editor button */
#content a.button-html-editor {
	background: url('../images/css/btn_htmled_off.gif') no-repeat 0px 20px;
	color: #666;
	border: 0px none;
	padding:25px 15px 25px 28px;
}

#content a:hover.button-html-editor {
	background: url('../images/css/btn_htmled_off.gif') no-repeat 0px 20px;
	color: #333;
	border: 0px none;
	padding:25px 15px 25px 28px;
}

/* Hovering submit button */
input.button {
	background: url('../images/css/btn_off.gif') no-repeat 0px 20px;
	color: #333;
	border: 0px none;
	padding:25px 20px;
	text-decoration: none;
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

input:hover.button {
	background: url('../images/css/btn_over.gif') no-repeat 0px 20px;
	color: #349018;
	border: 0px none;
	padding:25px 20px;
	text-decoration: none;
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}