#gbox_grid {
	width: 100% !important;
	border: 0;
}

.ui-jqgrid-hdiv, .ui-jqgrid-bdiv, .ui-jqgrid-btable, .ui-jqgrid-hbox,
	.ui-jqgrid-htable {
	width: 100% !important;
	font-size: 1rem;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-caption {
	background-color: var(--bs-gray-200);
}

.ui-jqgrid .ui-jqgrid-bdiv {
	overflow: inherit;
}

.ui-jqgrid-htable th {
	border: 3px !important;
	padding: 0 !important;
	font-family: mont-bold, sans-serif;
	font-size: 1.1rem;
	margin: 0;
	width: 100%;
	background-color: #fff;
}

.ui-jqgrid-labels th {
	border-bottom: 2px solid #20639B !important;
	padding-bottom: .4rem !important;
	background-color: #fff;
}

.ui-jqgrid .ui-jqgrid-btable .jqgrow>.ui-sgcollapsed {
	background-color: transparent !important;
	border: 0;
	box-shadow: 0 0 0 !important;
	padding-left: .5rem;
	padding-right: .5rem;
}

.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow .sgbutton-div .sgbutton.btn {
	box-shadow: 0 0 0 !important;
}

.ui-jqgrid-bdiv .table-bordered td, .ui-jqgrid-bdiv .table-bordered th {
	border: 0 !important;
}

.ui-jqgrid-bdiv .ui-row-ltr.jqgrow td {
	border-bottom: 2px solid #C3CEDC !important;
	height: initial !important;
}

.ui-jqgrid .ui-row-ltr, .ui-jqgrid .ui-jqgrid-labels {
	height: 3rem;
}

.ui-subgrid.ui-row-ltr td {
	border-bottom: 1px solid #C3CEDC !important;
}

.ui-subgrid.ui-row-ltr th {
	border-bottom: 2px solid #C3CEDC !important;
}

.ui-subgrid.ui-row-ltr td, .ui-jqgrid.ui-jqgrid-bootstrap {
	border: 3px !important;
}

.ui-subgrid.ui-row-ltr .subgrid-cell, .ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-bottom	{
	background-color: #F6F5FA;
}

.table-hover tbody {
	background-color: #FFF;
}

.table-hover tbody tr:hover {
	background-color: var(--bs-gray-200);
}

.ui-jqgrid .ui-jqgrid-titlebar>.ui-jqgrid-titlebar-close {
	right: .6rem;
}

.ui-jqgrid .ui-jqgrid-titlebar>.ui-jqgrid-titlebar-close {
	top: 40%;
}
.ui-jqgrid .ui-jqgrid-titlebar>.ui-jqgrid-titlebar-close>span.fas {
	font-size: 1.3rem;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .btn.ui-pg-button {
	/*
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
	margin-right: .4rem;
	margin-left: .4rem;
	*/
	font-size: 14px;
	border: none;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .btn.ui-pg-button.active,
.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .btn.ui-pg-button:hover {
	border: none;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .btn.ui-pg-button.disabled {
	opacity: 0.65;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .ui-pg-selbox {
	border: 1px solid #c3cedc;
	border-radius: 5px;
	font-size: 1rem;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .ui-pg-input {
	border: 1px solid #c3cedc;
	border-radius: 5px;
	font-size: 1rem;
	padding: 0;
	text-align: center;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-btable td > a {
	text-decoration: none;
}

.ui-jqgrid.ui-jqgrid-bootstrap .sgbutton > .fa-solid {
	font-weight: 1000;
	color: #3C42E0;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-button span {
	margin: 5px 5px 0 0;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .ui-pg-selbox {
	padding-left: 5px;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-search-toolbar .ui-search-table td {
	border-bottom: none;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-search-toolbar .ui-search-table .ui-search-clear > a {
	font-size: 30px;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-search-toolbar .ui-search-table .ui-search-input {
	width: 90%;
}

.ui-jqgrid.ui-jqgrid-bootstrap>.ui-jqgrid-pager {
	font-size: 1rem;
}
