/*
*************************************************
LAMS 2.0
Date modified:  22/09/2006

*************************************************
General page styles
********************************************** */

* {
	margin:0;
	padding:0;
}

body {
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

body.stripes {
	background: url('../images/css/diagonal_bg.gif');
}

a {
	color: #006633;
	text-decoration: none;
	border-bottom: 1px dotted #006633;
}

a:hover {
	color: #006633;
	text-decoration: none;
	border-bottom: 1px solid #006633;
}

/* CKEditor buttons */
a.cke_button {
	border-bottom: none;
}
a.cke_combo_button{
	border-bottom: 1px solid #e1e1e1;
}

.row {
	voice-family: "\"}\""; /* hide the following rules from IE5 */
	voice-family: inherit;
	overflow: hidden; /* CSS 'clearing hack' - works on all except for IE5, that's why the IE5 box model hack above */
}

* html .row {
	height: 1%;
}  /* part of the CSS 'clearing hack' */


h1 {color:#0000ff; 
	font-size:15px; 
	margin-bottom:5px; 
	}

h2 {color:#006633; 
	font-size:14px; 
	padding-top:10px;
	margin-bottom:5px; } 

span.h2font {color:#006633;  
	font-size:14px; } 

h3 {color:#006633; 
	font-size:13px; 
	margin-top:10px;
	margin-bottom:5px; } 


h4 {color:#0000ff; 
	font-size:11px;
	margin-top:10px;
	margin-bottom:10px;
	padding:0;
	}
	
h5 {color:#006633; 
	font-size:14px;
	margin-right:40px;
	margin-bottom:8px;
	}

/*defines when instructions are given and places a blue arrow before the text */
p.instructions {
	color: #0000ff;
	margin-bottom:0;
	margin-top:0;
	background: url('../images/css/blue_arrow_right.gif') no-repeat 0 0px;
	padding-left: 30px;
	padding-bottom: 10px;
	font-size:13px;
}

p {
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top:10px;
}

b.error {color:#990000;} 

ul {
	margin-left: 25px;
	margin-right: 30px;
}

ul li { list-style-type:circle;}

ol {
	margin-left: 25px;
	margin-right: 30px;
}

li.no-list-type  {
	list-style-type: none;
}
/*layout of the table with the alternate color for the table heading cell */
table.alternative-color {
 	 width:100%; 
	 margin-left:0px; 
	 padding-top:0px; 
	 margin-bottom:15px; 
	 margin-top:10px;
	 text-align:left;
}

table.alternative-color th {
	background: url('../images/css/green_bg.jpg') repeat-x;
	height: 30px;
	color: #006633;
	padding-left: 15px;
	border-left: 1px solid #cacdd1;
	border-right: 1px solid #fff;
	font-size: 12px;
}

table.alternative-color td {
	padding:5px;
	padding-left: 20px;
	font-size: 11px;
	border-bottom: 1px solid #efefef;
	vertical-align: top; 
	background:url('../images/css/greyfade_bg.jpg') repeat-x 3px 0px
}

table.alternative-color td.first, table.alternative-color th.first {
	border-left: none;
	padding-left: 20px;
}

/* jquery tablesorter pager plugin */
table.tablesorter-admin td {
	text-align: center;
	padding:5px;
	padding-left: 20px;
	font-size: 11px;
	border-bottom: 1px solid #efefef;
	vertical-align: top; 
	background:url('../images/css/greyfade_bg.jpg') repeat-x 3px 0px
}

table.tablesorter-admin th {
	background-color: #e7f3cf;
	height: 30px;
	color: #006633;
	padding-left: 15px;
	border-top: 1px solid #cacdd1;
	border-left: 1px solid #cacdd1;
	border-right: 1px solid #fff;
	font-size: 12px;
}

table.tablesorter-admin thead tr .header {
	background-image: url(../images/css/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
    cursor: pointer;
    width: auto;
    padding-right: 15px;
}

table.tablesorter-admin thead tr .headerSortUp {
	background-image: url(../images/css/asc.gif);
}

table.tablesorter-admin thead tr .headerSortDown {
	background-image: url(../images/css/desc.gif);
}

/*layout of the forum tables with the colored table heading cell */
table.forum { 
	width:100%;
	margin-left:0px; 
	padding-top:5px; 
	margin-bottom:10px;
	background:url('../images/css/greyfade_bg.jpg') repeat-x 3px 49px; 
	text-align:left; 
	border-bottom:1px solid #efefef;}

table.forum th { 
	background: url('../images/css/green_bg_forum.jpg') repeat-x #f0f5df; 
	height:26px; 
	padding-top:1px; 
	color:#006633; 
	padding-left:15px; 
	border-left:1px solid #cacdd1;  
	font-size:12px; 
	vertical-align:middle;
}

table.forum td.posted-by {
	background: url('../images/css/forum_postedby_bg.jpg') repeat-x; 
	height:20px; 
	padding-left:15px; 
	padding-top:0px; 
	font-size:10px;
	vertical-align:top; 
	border-left:1px solid #cacdd1; 
	color:#333366;
}

table.forum td {
	padding:10px;
	padding-left:20px; 
	font-size:11px; 
	vertical-align:top; 
}
	
/*layout of an inserted image */	
.image-border {
	border:1px solid #e2e2e2; 
	padding:3px; 
	background-color:#fff; 
	margin:5px 10px;
}

/*layout of the table with form elements */

table { 
	 width:100%;
	 text-align:left; 
	 }

td { 
	
	font-size:11px;
	vertical-align:top;
}

td p{ 
	padding:10px; 
	font-size:11px; 
	line-height:18px;
}

/*layout of button in table */
td p.button{
	margin:0px; 
	padding:10px 10px 10px 0px; 
	font-size:11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

/* */ /*layout of form styles */
.field-name{
	color: #0000ff;
	font-weight: bold;
	text-align: left;
	padding-bottom:10px;
}

.field-name-alternative-color {
	color: #006633;
	font-weight: bold;
	text-align: left;
}

input {
	border: 1px solid #c1c1c1;
	padding: 2px;
}

textarea {
	border: 1px solid #c1c1c1;
	padding: 2px;
}

.noBorder {
	border: none;
}

/*misc styles*/
.space-right {
	margin-right: 10px;
}

.space-left {
	margin-left: 10px;
}

.space-bottom {
	margin-bottom: 40px;
}


.space-bottom-top {
	padding-bottom: 20px;
	padding-top: 20px;
}

.small-space-bottom {
	margin-bottom: 20px;
}

.small-space-top {padding-top:6px;}

.space-top {padding-top:20px;}

.title-space-top {padding-top:12px;}

hr {border:0px;
	border-top:1px solid #ccc; 
	height: 1px;
}

.warning {
	color: #990000;
	padding:8px 10px 10px 40px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: normal;
	background: url('../images/css/warning.gif') no-repeat #ffeae0 10px 8px;
	width: 70%;
	border: 1px solid #E82A28;
}

.info {
	color: #000000;
	padding:8px 10px 10px 40px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-weight: normal;
	background: url('../images/css/edit.gif') no-repeat #d8e4f1 10px 8px;
	width: 70%;
	border: 1px solid #3c78b5;
}

.group-box {
	padding:8px 10px 10px 40px;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: normal;
	border: 1px solid #ccc;
}

/*************************************************
Page layout
********************************************** */

#content {
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px; 
	width:85%; 
	height:100%; 
	border:1px solid #d4d8da;
	background-color:#fff;
	padding:20px 25px;
	}
	
#footer {
	clear:inherit; 
	height:20px;}


.float-left {float:left;}

.float-right {float:right;}



/*
*************************************************

Buttons

********************************************** */

.left-buttons {float:left;}

.right-buttons {float:right;}

/*layout of a general button*/
#content a.button {
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	color: #333;
	border: 0px none;
	padding:5px 20px 6px 20px;
	text-decoration: none;
}

/*  style to disable input buttons */
#content a.button .disabled {
	color: #666666;
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	border: 0px none;
	padding:5px 20px 6px 20px;
	}

#content a:hover.button {
	background: url('../images/css/btn_over.gif') repeat-x 0px 0px;
	color: #006600;
	border: 0px none;
	padding:5px 20px 6px 20px;
	text-decoration: none;
}

#content a.button {
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	color: #333;
	border: 0px none;
	padding:5px 20px 6px 20px;
	text-decoration: none;
}

input.disabled {
	color: #666666;
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	border: 0px none;
	padding:5px 20px 6px 20px;
	font-size:11px;
}

/*layout of a general button*/
a.button {
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	color: #333;
	border: 0px none;
	padding:5px 20px 6px 20px;
	text-decoration: none;
}

a:hover.button {
	background: url('../images/css/btn_over.gif') repeat-x 0px 0px;
	color: #006600;
	border: 0px none;
	padding:5px 20px 6px 20px;
	text-decoration: none;
}


/*layout of adding a topic button */
a.button-add-item {
	background: url('../images/css/btn_add_off.gif') no-repeat 0px 20px;
	color: #333;
	border: 0px none;
	padding:25px 15px 25px 25px;
    text-decoration: none;
}

a:hover.button-add-item {
	background: url('../images/css/btn_add_over.gif') no-repeat 0px 20px;
	color: #006600;
	border: 0px none;
	padding:25px 15px 25px 25px;
    text-decoration: none;
}


/*layout of adding a topic button */
#content a.button-add-item {
	background: url('../images/css/btn_add_off.gif') no-repeat 0px 20px;
	color: #333;
	border: 0px none;
	padding:25px 15px 25px 25px;
}

#content a:hover.button-add-item {
	background: url('../images/css/btn_add_over.gif') no-repeat 0px 20px;
	color: #006600;
	border: 0px none;
	padding:25px 15px 25px 25px;
}

/*layout of html editor button */
#content a.button-html-editor {
	background: url('../images/css/btn_htmled_off.gif') no-repeat 0px 20px;
	color: #333366;
	border: 0px none;
	padding:25px 15px 25px 28px;
}

#content a:hover.button-html-editor {
	background: url('../images/css/btn_htmled_off.gif') no-repeat 0px 20px;
	color: #333;
	border: 0px none;
	padding:25px 15px 25px 28px;
}

/* Hovering submit button */
input.button {
	background: url('../images/css/btn_off.gif') repeat-x 0px 0px;
	color: #333;
	border: 0px none;
	padding:5px 20px 6px 20px;
	text-decoration: none;
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

input:hover.button {
	background: url('../images/css/btn_over.gif') repeat-x 0px 0px;
	color: #006600;
	border: 0px none;
	padding:5px 20px 6px 20px;
	text-decoration: none;
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

.editForm {
	padding: 0 0 5px 18px; 
	background: url('../images/css/report_edit.png') no-repeat;
	
}

.close {
	padding: 0 0 5px 18px; 
	background: url('../images/css/cancel.png') no-repeat;
	
}

.import {
	padding: 0 0 5px 18px; 
	background: url('../images/css/import.png') no-repeat;
	
}


.nextActivity {
	padding: 0px 20px 0px 0px; 
	background: url('../images/css/next.png') no-repeat;
	background-position: right;

}

.text-area {width:99%}

.shading-bg {padding:5px; padding-left:10px;  padding-top:10px; margin-top:10px; margin-bottom:10px; width:99%; border-top:1px solid #ccc; background:url('../images/css/greyfade_bg.jpg') repeat-x 3px 1px}

.shading-bg td {padding:5px;}

.last-item {border-top:1px solid #ccc; height:20px;}

.indent {margin-left:20px;}

.middle {vertical-align:middle;}

.help {text-align:left; margin-left:35px; cursor: pointer;}

.help-no-tabs {float:right; cursor:pointer;}

.align-right{
text-align:right;
}
.align-left{
text-align:left;
}