/* style for IE - controls the  height difference display problems in IE */

#header { /*layout of the header */
	width:707px; 
	height:64px; 
	background:url ('../images/top_bg.jpg') no-repeat bottom;
	}
	
#header-my-courses { /*layout of the header */
	width: 707px;
	height:65px;
	background: url ('../images/css/top_bg.jpg') no-repeat bottom;
}

.nav-box-right {
	height: 31px;
	width: auto;
	margin-left: 2px;
	margin-top: 0px;
	float: left;
	text-align: center;
	}

#nav-right { /* layout of box that contains the main navigation */
	margin-top:15px;
	width: auto;
	height: 40px;
	margin-left: 2px;
	
}


.mycourses-right-buttons {float:left; height:24px;}

#content a.add-lesson-button {
	background: url ('../images/css/add_lesson.rtl.jpg') no-repeat 0px 0px;
	color: #666;
	border: 0px none;
	padding: 3px 30px 5px 12px;
	text-decoration: none;
	border-left:1px solid #d2d2d2;
	margin-right:5px;
	display:block;
}

#content a:hover.add-lesson-button {
	background: url ('../images/css/add_lesson.rtl.jpg') no-repeat 0px 0px;
	color: #47bc23;
	border: 0px none;
	padding: 3px 30px 5px 12px;
	text-decoration: none;
	border-left:1px solid #d2d2d2;
	margin-right:5px;
	display:block;
}

#content a.manage-group-button {
	background: url ('../images/css/manage_groups.rtl.jpg') no-repeat 0px 0px;
	color: #666;
	border: 0px none;
	padding: 3px 30px 5px 12px;
	text-decoration: none;
	border-left:1px solid #d2d2d2;
	margin-right:5px;
	display:block;
}

#content a:hover.manage-group-button {
	background: url ('../images/css/manage_groups.rtl.jpg') no-repeat 0px 0px;
	color: #47bc23;
	border: 0px none;
	padding: 3px 30px 5px 12px;
	text-decoration: none;
	border-left:1px solid #d2d2d2;
	margin-right:5px;
	display:block;
}
	


#content {
	padding-bottom:0px
	}
	
.right-buttons {float:left; padding-top:5px; padding-bottom:5px; margin-bottom:20px;}

/* TODO: May not be required. */

.space-bottom-top {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right:20px;
}

.space-bottom {
	margin-bottom: 40px;
	
}