/*
*************************************************
LAMS 2.0


*************************************************
IE 7 Style Adjustments
********************************************** */

.nav-box-right {
	height: 31px;
	width: auto;
	margin-left: 2px;
	margin-top: 0px;
	float: left;
	text-align: center;
}
