html, body {
	height: 100%;
}

.errorMessage {
	display: none;
	font-weight: bold;
	color: red;
	margin-left: 5px;
}

div#titleDiv {
	padding: 5px 0 0 5px;
}

div#titleDiv input {
	margin-left: 10px;
	width: 290px;
}

div#titleDiv button {
	margin-right: 10px;
}

#titleInstructions {
	text-align: center;
	margin-top: 7px;
	border-bottom: thin dotted #2E6E9E;
}
table#groupsTable {
	height: calc(100% - 110px);
}
table#groupsTable td {
	vertical-align: top;
	padding: 5px;
}

td#unassignedUserCell {
	width: 200px;
	border-right: thin dotted #2E6E9E;
}

#groupTemplate {
	display: none;
}

#newGroupPlaceholder {
	border: thin dashed #2E6E9E;
	cursor: pointer;
}

#newGroupPlaceholder > div {
	text-align: center;
	margin: 60px 5px 0 5px;
}

.groupContainer {
	float: left;
	width: 180px;
	height: 150px;
	margin: 0 10px 10px 0;
	padding: 5px;
	border: thin solid #2E6E9E;
}

.userContainerTitle {
	font-weight: bold;
	text-align: center;
}

.sortUsersButton {
	float: right;
	cursor: pointer;
}

.removeGroupButton {
	float: left;
	cursor: pointer;
}

.userContainer {
	overflow: auto;
	height: 109px;
	margin-top: 5px;
}

td#unassignedUserCell .userContainer {
	height: 100%;
	overflow-x: auto;
}

.groupContainer input {
	width: 135px;
	margin-right: 5px;
}

.groupContainer .sortUsersButton {
	padding-top: 3px;
}

.draggableUser {
	padding: 3px 0px 3px 0px;
	cursor: default;
}

.userContainer .ui-state-disabled {
	opacity: 1 !important;
}

.droppableHighlight {
	padding : 1px !important;
	border: 5px solid #5c9ccc !important;
}

.locked {
	padding : 4px;
	border: 2px solid red;
}

.draggableUserSelected {
	background-color: #5c9ccc !important;
	color: white !important;
}

#course-grouping-advanced-settings {
    display: inline-block;
    width: 100%;
    padding: 10px;
}
#save-course-grouping-button {
	margin-top: 10px;
}
#accordionAdvanced {
	margin-bottom: 0px;
	margin-top: 20px;
}
.dialogContainer {
    display: none;
    -webkit-overflow-scrolling: touch !important;
    overflow: auto;
}
