div#titleDiv {
  font-size: small;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
  border-bottom: thin dotted #AAAAAA; }

.manageButton {
  cursor: pointer;
  width: 16px;
  height: 16px; }

#addButton {
  float: right;
  margin: 20px 10px 10px 0; }

.outcomeContainer {
  font-size: 1.3em; }

.outcomeContainer .row {
  padding-top: 10px; }

.outcomeContainer .row:first-child {
  border-bottom: thin solid #AAAAAA; }

textarea {
  width: 100%; }
