/*
*************************************************
LAMS 2.2
Date modified:  24/01/2009

*************************************************
CSS for PedagogicalPlanner
********************************************** */

.toolFrame {
    width: 580px;
    border: 1px lightgrey solid;
   }
   
.pedagogicalPlannerButtons {
     margin-right: 10px;
     float: right;
   }
   
.pedagogicalPlannerTable{
     table-layout: fixed;
   }
   
.titleCell {
   	padding: 0px 0px 0px 5px;
   	width: 85px;
   	text-align: center;
   }
   
.titleCell span{
	font-size: smaller;
	}
   
.formCell {
   	width: 580px;
   }
   
#pedagogicalPlannerInfoArea {
	color: #000000;
	padding:8px 10px 10px 40px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: left;
	font-weight: normal;
	background: url('../images/css/edit.gif') no-repeat #d8e4f1 10px 8px;
	width: 60%;
	border: 1px solid #3c78b5;
	float: none;
}

div#buttonArea{
	padding: 0px 10px 40px 0px;
}
div#pedagogicalPlannerBusy{
	margin: 0px 0px 20px 40%;
}
div#pedagogicalPlannerErrorArea{
	margin-bottom: 20px;
	width: 60%;
}