#forum-thread .level1 { 
        margin-left: 0em;
}        
#forum-thread .level2 { 
        margin-left: 0em;
}
#forum-thread .level3 { 
        margin-left: 0em;
}
#forum-thread .level4 { 
        margin-left: 0em;
}
#forum-thread .level5 { 
        margin-left: 0em;
}
#forum-thread .level6 { 
        margin-left: 0em;
}
#forum-thread .level7 { 
        margin-left: 0em;
}
#forum-thread .level8 { 
        margin-left: 0em;
}
#forum-thread .level9 { 
        margin-left: 0em;
}
#forum-thread .level10 { 
        margin-left: 0em;
}
