.rating-stars-div {
  margin-top: 8px; }

.user-answer {
  padding: 0 2px; }

.tablesorter-blue {
  margin-bottom: 5px; }

.pager {
  padding-bottom: 20px; }

.extra-controls-inner:after {
  margin-top: -10px; }

.rating-comment {
  background-image: none;
  background-color: #eeeeee;
  border: thin solid #eeeeee; }

.rating-comment-posted-by {
  color: #337ab7;
  text-align: left;
  font-size: x-small; }

textarea {
  margin: 10px 0px;
  width: 88%; }

.add-comment {
  margin-top: 60px; }

.hiddenEntryInMonitoring {
  color: #d9534f !important;
  font-style: italic; }
