<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
  - Application context definition for LAMS.
-->
<beans>

	<!-- ========================= GENERAL DEFINITIONS ========================= -->

	<!-- Configurer that replaces ${...} placeholders with values from a properties file -->
	<!-- (in this case, JDBC-related settings for the dataSource definition below) -->
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location"><value>dbConnection.properties</value></property>
	</bean>

	<!-- Message source for this context, loaded from localized "messages_xx" files -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename"><value>messages</value></property>										
	</bean>


	<!-- ========================= RESOURCE DEFINITIONS ========================= -->
  
	<!-- Local DataSource that works in any environment -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>${jdbc.driverClassName}</value></property>
		<property name="url"><value>${jdbc.url}</value></property>
		<property name="username"><value>${jdbc.username}</value></property>
		<property name="password"><value>${jdbc.password}</value></property>
	</bean>



	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate.LocalSessionFactoryBean">
		<property name="dataSource"><ref local="dataSource"/></property>
		<property name="mappingResources">
			<list>	
				<value>hibernate/mappings/usermanagement/AuthenticationMethod.hbm.xml</value>
				<value>hibernate/mappings/usermanagement/AuthenticationMethodParameter.hbm.xml</value>
				<value>hibernate/mappings/usermanagement/AuthenticationMethodType.hbm.xml</value>
				<value>hibernate/mappings/usermanagement/Organisation.hbm.xml</value>
				<value>hibernate/mappings/usermanagement/OrganisationType.hbm.xml</value>
				<value>hibernate/mappings/usermanagement/Role.hbm.xml</value>
				<value>hibernate/mappings/usermanagement/User.hbm.xml</value>
				<value>hibernate/mappings/usermanagement/UserOrganisation.hbm.xml</value>
				<value>hibernate/mappings/usermanagement/UserOrganisationRole.hbm.xml</value>
				<value>hibernate/mappings/usermanagement/Workspace.hbm.xml</value>
				<value>hibernate/mappings/usermanagement/WorkspaceFolder.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.c3p0.minPoolSize">${hibernate.c3p0.minPoolSize}</prop>
				<prop key="hibernate.c3p0.maxPoolSize">${hibernate.c3p0.maxPoolSize}</prop>
				<prop key="hibernate.c3p0.timeout">${hibernate.c3p0.timeout}</prop>
				<prop key="hibernate.c3p0.max_statement">${hibernate.c3p0.max_statement}</prop>
			</props>
		</property>
	</bean>

	<!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate.HibernateTransactionManager">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>



	<!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->

	<!-- LAMS primary business object: Hibernate implementation -->
	<!-- 
	<bean id="userManagementServiceTarget" class="com.lamsinternational.lams.usermanagement.service.UserManagementServiceImpl"
		singleton="false"
	>
		<property name="userDAO"><ref local="userDAO"/></property>
		<property name="organisationDAO"><ref local="organisationDAO"/></property>
	</bean>	
	-->
	
	<!-- Transactional proxy for the user management primary business object -->
	<!-- 
	<bean id="userManagementService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="userManagementServiceTarget"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	-->
	
	<bean id="userDAO" class="com.lamsinternational.lams.usermanagement.dao.hibernate.UserDAOHibernate">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>

	<bean id="roleDAO" class="com.lamsinternational.lams.usermanagement.dao.hibernate.RoleDAOHibernate">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>
	
	<bean id="organisationDAO" class="com.lamsinternational.lams.usermanagement.dao.hibernate.OrganisationDAOHibernate">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>

	<bean id="organisationTypeDAO" class="com.lamsinternational.lams.usermanagement.dao.hibernate.OrganisationTypeDAOHibernate">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>

</beans>
