<div class="bootstrap-tabs" data-tab-set-title="Tab Set Title">
<ul class="nav nav-tabs" role="tablist"><!-- add tabs here -->
	<li class="active" role="presentation"><a aria-controls="title-tab-1" aria-expanded="true" class="tab-link" data-toggle="tab" href="#title-tab-1" role="tab" target="_blank">Definition of Learning Objectives</a></li>
	<li role="presentation"><a aria-controls="title-tab-2" aria-expanded="false" class="tab-link" data-toggle="tab" href="#title-tab-2" role="tab" target="_blank">The case</a></li>
</ul>

<div class="tab-content"><!-- add tab panels here -->
<div class="tab-pane active" id="title-tab-1" role="tabpanel">
<div class="tab-pane-content">
<div class="jumbotron">
<h2>[authoring.pbl.analysis.content.template.1]</h2>

<p>[authoring.pbl.analysis.content.template.2]</p>

<ul>
	<li>
	<p>[authoring.pbl.analysis.content.template.3]</p>
	</li>
	<li>
	<p>[authoring.pbl.analysis.content.template.4]</p>
	</li>
	<li>
	<p>[authoring.pbl.analysis.content.template.5]</p>
	</li>
	<li>
	<p>[authoring.pbl.analysis.content.template.6]</p>
	</li>
	<li>
	<p>[authoring.pbl.analysis.content.template.7]</p>
	</li>
</ul>

<p>&nbsp;</p>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="alert alert-warning"><strong>[authoring.pbl.analysis.content.template.8]</strong>&nbsp;[authoring.pbl.analysis.content.template.9]</div>
</div>
</div>
</div>
</div>
</div>

<div class="tab-pane" id="title-tab-2" role="tabpanel">
<div class="tab-pane-content">
<div class="jumbotron">
<h2>[authoring.pbl.ld.problem]</h2>

<div>[problem.content]</div>

<h2>[authoring.pbl.ld.problem.questions]</h2>
<div>[problem.document]</div>
</div>
</div>
</div>
</div>
</div>