<div>
<div class="jumbotron">
<h1>Share your research</h1>

<p>Using the previously created Learning Objectives and Research Plan, share your learning with the rest of the team.</p>

<p>Make sure you ensure that in this activity you clarify any knowledge gaps you might have regarding the case.&nbsp;</p>

<p>You can use the "Mindmap" activity to create a shared idea tree if that is helpful.&nbsp;</p>

<p>Once everyone in your team has shared their research and findings on each learning objective (make sure you haven't missed any), start drafting the final report.&nbsp;</p>
</div>

<div>&nbsp;</div>
</div>