<h2>Problem Based Learning</h2>

<p>[authoring.introduction.template.1]</p>

<p>[authoring.introduction.template.2]</p>

<ol>
<li>Team Formation: Firstly, teams will be formed. For the rest of the lesson you will work closely with your teammates to discuss your individual ideas and decide on the best approach as a group.</li>
<li>Problem Introduction: Then a challenging scenario will be presented to you, which requires solving. There will be also several facilitating questions to help.</li>
<li>Initial Brainstorming: You will start by individually brainstorming ideas. Different approaches to the problem should be considered, and any initial thoughts or solutions that come to mind should be noted down.</li>
<li>Research Phase: Research will be conducted to gather information, data, and resources. This will help in better understanding the problem and potential solutions.</li>
<li>Analysis and Discussion: With the research gathered, the team will reconvene to analyze the findings. Discussion will focus on what has been learned, identifying any gaps in understanding, and refining the approach accordingly.</li>
<li>Solution Development: Teams will then work collaboratively to develop a comprehensive solution using the insights gained from research and discussions.</li>
</ol>