

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>sample tool</title>
<script type="text/javascript" src="/FCKeditor/fckeditor.js"></script>
<script type="text/javascript" src="../js/tabcontroller.js"></script>
<!-- this is the custom CSS for hte tool -->
<link href="css/tool_custom.css" rel="stylesheet" type="text/css">
<!-- depending on user / site preference this will get changed probbably use passed in variable from flash to select which one to use-->
<link href="../css/aqua.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
var jslog;
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function ok(){
	alert('ok handler called');
}

function cancel(){
	alert('cancel handler called');
}

//-->
</script>
</head>
<body onLoad="initTabs();">
<form action="" method="post">
<h1>Tool title</h1>

<!-- start tabs -->
<!-- tab holder table -->
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="bottom">
	<!-- table for tab 1 (basic)-->
	<table border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td><a href="#"  onClick="showTab('b');return false;" ><img src="../images/aqua_tab_s_left.gif" name="tab_left_b" width="8" height="25" border="0" id="tab_left_b"/></a></td>
		<td class="tab tabcentre_selected" width="90" id="tab_tbl_centre_b"  onClick="showTab('b');return false;" ><a href="#" onClick="showTab('b');return false;" id="b" >Basic</a></td>
		<td><a href="#" onClick="showTab('b');return false;"><img src="../images/aqua_tab_s_right.gif"  name="tab_right_b" width="8" height="25" border="0" id="tab_right_b"/></a></td>
	  </tr>
	</table>

</td>
    <td valign="bottom">
	<!-- table for tab 2 (advanced) -->
	<table border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td><a href="#" onClick="showTab('a');return false;"><img src="../images/aqua_tab_left.gif" name="tab_left_a" width="8" height="22" border="0" id="tab_left_a" /></a></td>
		<td class="tab tabcentre" width="90" id="tab_tbl_centre_a" onClick="showTab('a');return false;"><label for="a" accesskey="a"><a href="#" onClick="showTab('a');return false;" id="a" >Advanced</a></label></td>
		<td><a href="#" onClick="showTab('a');return false;"><img src="../images/aqua_tab_right.gif" name="tab_right_a" width="9" height="22" border="0" id="tab_right_a" /></a></td>
	  </tr>
	</table>

</td>
    <td valign="bottom">
	<!-- table for ab 3 (instructions) -->
	<table border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td ><a href="#" onClick="showTab('i');return false;"><img border="0" src="../images/aqua_tab_left.gif" width="8" height="22" id="tab_left_i"   name="tab_left_i" /></a></td>
		<td class="tab tabcentre" width="90" id="tab_tbl_centre_i"  onClick="showTab('i');return false;" ><a href="#" onClick="showTab('i');return false;" id="i" >Instructions</a></td>
		<td ><a href="#" onClick="showTab('i');return false;"><img src="../images/aqua_tab_right.gif"  width="9" height="22" border="0" id="tab_right_i"  name="tab_right_i"/></a></td>
	  </tr>
	</table>

</td>
<!--  to add a new tab, add a new tab table here.
note: the ID must be different to the other IDs in teh document, here we hae used x so the 
 left image = tab_left_x
 centre h-ref = x 
 right image = tab_right_x 
 -->
<!-- the tab:
    <td valign="bottom">
	
	<table border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td ><a href="#" onClick="showTab('i');return false;"><img border="0" src="../images/aqua_tab_left.gif" width="8" height="22" id="tab_left_i"   name="tab_left_x" /></a></td>
		<td class="tab tabcentre" width="90" id="tab_tbl_centre_i"  onClick="showTab('i');return false;" ><a href="#" onClick="showTab('i');return false;" id="x" >Instructions</a></td>
		<td ><a href="#" onClick="showTab('i');return false;"><img src="../images/aqua_tab_right.gif"  width="9" height="22" border="0" id="tab_right_i"  name="tab_right_x"/></a></td>
	  </tr>
	</table>

</td>
END new tab comments, see also ../tabController.js for additional changes required.
-->

  </tr>
</table>
    <!-- end tab buttons -->
    

    <!-- tab content one (basic)-->
<div id='content_b' class="tabbody content_b" >
<h2>Basic tab content</h2>
<div class="formtablecontainer">
<!-- use the class names as below for table, td-->
<table class="forms">
  <tr>
    <td class="formlabel">Field label</td>
    <td class="formcontrol"><input type="text" name="tf1"></td>
  </tr>
  <tr>
    <td class="formlabel">Different label</td>
    <td class="formcontrol"><input type="text" name="tf2"></td>
  </tr>
</table>
</div>
<h2>Another section heading</h2>
<div class="formtablecontainer">
<table class="forms">
  <tr>
    <td class="formlabel">Option label</td>
    <td class="formcontrol"><input type="checkbox" name="chk1" value="checkbox"></td>
  </tr>
 <tr>
    <td class="formlabel">Option label</td>
    <td class="formcontrol"><input type="checkbox" name="chk2" value="checkbox"></td>
  </tr>
  <tr>
    <td class="formlabel">Radio label</td>
    <td class="formcontrol"><input name="radiobutton1" type="radio" value="radiobutton"></td>
  </tr>
  <tr>
    <td class="formlabel">Radio label</td>
    <td class="formcontrol"><input name="radiobutton2" type="radio" value="radiobutton"></td>
  </tr>
</table>
</div>
<h2>Data display </h2>
<div class="datatablecontainer">
<table class="datatablecontainer">
  <tr>
    <th scope="col">A colum header </th>
    <th scope="col">The other one </th>
  </tr>
  <tr>
    <td>Some data </td>
    <td>A related fact </td>
  </tr>
  <tr>
    <td>Intersting data </td>
    <td>An unrelated fact </td>
  </tr>
  <tr>
    <td>Boring data </td>
    <td>Way to boil an egg </td>
  </tr>
</table>

</div>

<hr>
<a href="javascript:;" class="button" onClick="ok()">Cancel</a>
<a href="javascript:;" class="button" onClick="cancel()";>OK</a>
<!-- end of content_b -->
</div>



<!-- tab content 2 Advanced-->
<div id='content_a'  class="tabbody content_a">
<h2>Advanced tab content </h2>
<div class="formtablecontainer">
<!-- use the class names as below for table, td-->
<table class="forms">
  <tr>
    <td class="formlabel">Field label</td>
    <td class="formcontrol"><input type="text" name="tf1"></td>
  </tr>
  <tr>
    <td class="formlabel">Different label</td>
    <td class="formcontrol"><input type="text" name="tf2"></td>
  </tr>
</table>
</div>
<h2>Another section heading</h2>
<div class="formtablecontainer">
<table class="forms">
  <tr>
    <td class="formlabel">Option label</td>
    <td class="formcontrol"><input type="checkbox" name="chk1" value="checkbox"></td>
  </tr>
 <tr>
    <td class="formlabel">Option label</td>
    <td class="formcontrol"><input type="checkbox" name="chk2" value="checkbox"></td>
  </tr>
  <tr>
    <td class="formlabel">Radio label</td>
    <td class="formcontrol"><input name="radiobutton1" type="radio" value="radiobutton"></td>
  </tr>
  <tr>
    <td class="formlabel">&nbsp;</td>
    <td class="formcontrol">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="formlabel">Text area </td>
    <td class="formcontrol">
	
	<textarea name="textarea" cols="50"></textarea></td>
  </tr>
  <tr>
    <td class="formlabel">&nbsp;</td>
    <td class="formcontrol">&nbsp;</td>
  </tr>
  <tr>
    <td class="formlabel">Combo</td>
    <td class="formcontrol"><select name="select">
      <option value="H" selected="selected">Hello</option>
      <option value="G">Goodbye</option>
      <option value="T">What time is it?</option>
    </select></td>
  </tr>
</table>
</div>

<hr>
<a href="javascript:;" class="button">Cancel</a>
<a href="javascript:;" class="button">OK</a>
<!-- end of content_b -->
</div>

<!-- tab content 3 instructions -->
<div id='content_i'  class="tabbody content_i">
<h2>Instructions tab content </h2>
<div class="formtablecontainer">
<!-- use the class names as below for table, td-->
<table class="forms">
  <tr>
    <td class="formlabel">Field label</td>
    <td class="formcontrol"><input type="text" name="tf1"></td>
  </tr>
  <tr>
    <td class="formlabel">Different label</td>
    <td class="formcontrol"><input type="text" name="tf2"></td>
  </tr>
</table>
</div>
<h2>A photo</h2>
<div class="formtablecontainer">
<table class="forms">
  <tr>
    <td><br>
      <a href="http://www.theonion.com/index.php?issue=3525">World's Top Scientists Ponder: What If The Whole Universe Is, Like, One Huge Atom?</a><br>
      <br> 
      <img src="images/article_thumb1726_148x113.jpg"></td>
  </tr>
</table>
</div>
<h2>Data display </h2>
<div class="datatablecontainer">
<table class="datatablecontainer">
  <tr>
    <th scope="col">A colum header </th>
    <th scope="col">The other one </th>
  </tr>
  <tr>
    <td>Some data </td>
    <td>A related fact </td>
  </tr>
  <tr>
    <td>Intersting data </td>
    <td>An unrelated fact </td>
  </tr>
  <tr>
    <td>Boring data </td>
    <td>Way to boil an egg </td>
  </tr>
</table>
</div>
<h2>FCK Editor</h2>
			<script type="text/javascript">
<!--

	var oFCKeditor = new FCKeditor( 'FCKeditor1' ) ;
	oFCKeditor.BasePath	= "/FCKeditor/";
	oFCKeditor.Height	= 300;
	oFCKeditor.Value	= 'This is some <strong>sample text<\/strong>. You are using <a href="http://www.fckeditor.net/">FCKeditor<\/a>.' ;
	oFCKeditor.Create() ;
//-->
			</script>


<hr>
<a href="javascript:;" class="button">Cancel</a>
<a href="javascript:;" class="button">OK</a>
<!-- end of content_a -->
</div>

<!--  content_x -->
<!--  New tab: - this is where you would put your new tab contents, and note the "x", has been used. see also tabController.js

<div id='content_x'  class="tabbody content_x">

//Put your HTML HERE

</div>

<!--  end of content x -->

</span>
<p></p>
</form>
</body>
</html>
