body {
	background-color : #ffffff;
	color : #000000;
	font-family : 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 11px;
	margin-top : 0px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-left : 0px;
}

h1 {
	background-color : inherit;
	color : #0076bf;
	font-family : 'Arial', 'Helvetica', sans-serif;
	font-size : 15px;
	font-weight : bold;
	margin-top : 5px;
	padding-bottom : 12px;
	border-bottom : 1px solid #b0d9f4;
	margin-bottom : 12px;
}

h2 {
	background-color : inherit;
	color : #777e9b;
	font-family : 'Arial', 'Helvetica', sans-serif;
	font-size : 13px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 4px;
}

h3 {
	background-color : inherit;
	color : #8990aa;
	font-family : 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 11px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 6px;
}

p {
	background-color : inherit;
	color : #000000;
	font-family : 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 11px;
	margin-top : 0px;
	margin-bottom : 11px;
}

td {
	background-color : inherit;
	color : #000000;
	font-family : 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 11px;
}

form {
	margin : 0px;
	padding : 0px;
}

input, select, textarea {
	color : #000000;
	font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 10px;
}

.textarea {
	color : #000000;
	font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 10px;
}

/* logo */

.logo {
	background : #ffffff url("/images/logo.gif") top left no-repeat;
	z-index : 100;
}

/* backgrounds */

.mid1 {
	clear : both;
	height : 22px;
	font-size : 1px;
	border : none;
	margin : 0;
	padding : 0;
	background-color : #9dc5e9;
}

.mid2 {
	clear : both;
	height : 5px;
	font-size : 1px;
	border : none;
	margin : 0;
	padding : 0;
	background-color : #9dc5e9;
}

.light {
	clear : both;
	height : 8px;
	font-size : 1px;
	margin : -1px 0 0 0;
	padding : 0;
	background-color : #e1edf4;
}

/* first level navigation */

#navcontainer1 ul {
	padding-left : 0;
	margin : 0;
	background-color : #ffffff;
	color : #0b4e79;
	float : left;
	width : 100%;
	font-family : 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 11px;
	font-weight : bold;
}

#navcontainer1 ul li {
	display : inline;
}

#navcontainer1 ul li a {
	padding : 0.2em 1em;
	background-color : #ffffff;
	color : #0b4e79;
	text-decoration : none;
	float : left;
	border-right : 1px solid #b5d7ec;
}

#navcontainer1 ul li a:hover {
	background-color : #9dc5e9;
	color : #0567a4;
}

#navcontainer1 ul li a#current {
	background-color : #9dc5e9;
	color : #0567a4;
}

#navcontainer1 ul li a#new {
	background-color : #FF6633;
	color : #e8dede;
}

#navcontainer1 ul li a#null {
	background-color : #ffffff;
	color : #ffffff;
}

/* second level navigation */

#navcontainer2 ul {
	padding-left : 0;
	margin : 0;
	background-color : #9dc5e9;
	color : #0b4e79;
	float : left;
	width : 100%;
	font-family : 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 11px;
	font-weight : bold;
}

#navcontainer2 ul li {
	display : inline;
}

#navcontainer2 ul li a {
	padding : 0.2em 1em;
	background-color : #9dc5e9;
	color : #0b4e79;
	text-decoration : none;
	float : left;
	border-right : 1px solid #b5d7ec;
}

#navcontainer2 ul li a:hover {
	background-color : #e1edf4;
	color : #0567a4;
}

#navcontainer2 ul li a#current {
	background-color : #e1edf4;
	color : #0567a4;
}

#navcontainer2 ul li a#null {
	background-color : #9dc5e9;
	color : #9dc5e9;
}

/* content columns */

#main1 {
	margin : -1px 0 0 0;
	padding : 0;
	background : #f2fafe url("/images/bg-col-left.gif") top left repeat-y;
	color : #000000;
}

#main2 {
	margin : 0;
	padding : 0;
	background : url("/images/bg-col-right.gif") top right repeat-y;
	color : #000000;
}

#left {
	float : left;
	width : 140px;
	margin : 0;
	padding : 0;
}

#right {
	float : right;
	width : 140px;
	margin : 0;
	padding : 0;
}

#middle {
	margin : 0 140px;
	background : #f2fafe;
}

#footer {
	background-color : #f2fafe;
	color : #97b9ce;
	font-family : 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 11px;
	text-align : center;
	margin : 11px 0 -5px 0;
	padding : 0;
	border-top : 1px solid #b0d9f4;
}

#footer a {
	background-color : #f2fafe;
	color : #0b4e79;
	font-weight : bold;
	text-decoration : none;
}

#copyright {
	margin : 0 0 -2px 0;
	padding : 0;
	background-color : #e1edf4;
	color : #777e9b;
	font-family : 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 10px;
	text-align : center;
}

.column-in {
	margin : 0;
	padding : 0.5em 1em;
}

.cleaner {
	clear : both;
	height : 1px;
	font-size : 1px;
	border : none;
	margin : 0;
	padding : 0;
	background-color : #e1edf4;
}

.intro {
	background-color : inherit;
	color : #8990aa;
	font-family : 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 11px;
	font-weight : bold;
	margin-top : 0px;
	margin-bottom : 11px;
}

.quotebox {
	width : 138px;
	background-color : #b0d9F4;
	color : #f2fafe;
	float: right;
	margin: 0 0 10px 10px;
	padding: 11px;
	font-family : 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 11px;
	font-weight : bold;
	font-style : italic;
}

.floatright {
	float : right;
	margin : 0 0 10px 10px;
	clear : right;
	border : 1px solid #bdccd6;
}

ul.arrow {
	list-style-type: none;
	padding: 0;
	margin-left: 1em;
}

li.arrow {
	background-image: url("/images/list.gif");
	background-repeat: no-repeat;
	background-position: 0 .4em;
	padding-left: .6em;
}

.button {
	background-color : #9dc5e9;
	color : #f2fafe;
	font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size : 11px;
	font-weight : bold;
	border-top : 1px solid #78a7d1;
	border-right : 1px solid #78a7d1;
	border-bottom : 1px solid #78a7d1;
	border-left : 1px solid #78a7d1;
}

.small {
	font-size : 9px;
}
