@import "_lams_variables.scss";

.scratches a, .scratches a:hover {
	border-bottom: none;
}

.scratches .scartchie-image-col {
	width: 120px;
	margin-left: -1rem;
}

.scartchie-image {
	border: 0;
}

.jGrowl {
  	font-size: 22px;
  	font-family: $font-family-base;
  	margin-left: 120px;
}
.jGrowl-notification {
	opacity: .6;
	border-radius: 10px;
	width: 230px;
	margin: 10px 20px;
	background: #eedc94 url(#{$url_css_directory}/check48.png) no-repeat 10px 10px;
}
.jGrowl-message {
	padding-left: 60px;
	padding-top: 5px;
}

.burning-question-container, .question-etherpad-container {
	padding: 0 15px;
}
.answer-description {
	margin-right: 20px;
}
.answer-with-confidence-level-portrait {
	align-items: center;
}
.c100.small {
	font-size: 41px;
	margin-right: 5px;
	margin-bottom: 28px;
}
.confidence-level-percentage {
	font-size: 13px;
    margin-top: 43px;
    text-align: center;
}
hr.hr-confidence-level {
    border-top: dotted 1px;
    border-color: #ccc;
    margin-top: 10px;
    margin-bottom: 15px;
}
[data-bs-toggle="collapse"].collapsed .if-not-collapsed {
	display: none;
}
[data-bs-toggle="collapse"]:not(.collapsed) .if-collapsed {
	display: none;
}
	
/* confidence levels tooltips */
.tooltip.top .tooltip-inner {
    background-color:white;
    color:black;
    border:  1px solid #ddd;
}
.tooltip.top .tooltip-arrow {
	border-top-color:grey;
	color:black;
}
.tooltip {
	background-color: transparent;
	border: none;
	color:black;
	box-shadow:none;
}

.question-etherpad {
	padding: 0;
}

.countdown-timeout {
	color: #FF3333 !important;
}		

#countdown {
	width: 150px; 
	font-size: 110%; 
	font-style: italic; 
	color:#47bc23;
	text-align: center;
}

.bq-title {
	text-decoration: underline;
}
	
.fake-validation-input {
	visibility: hidden;
	height: 0px;	
}