@import "_lams_variables.scss";

.scratches a, .scratches a:hover {
	border-bottom: none;
}

.scratches .scartchie-image-col {
	width: 120px;
	margin-left: -1rem;
}

/*----------countdown growl----------------*/
.jGrowl {
  	font-size: 22px;
  	font-family: $font-family-base;
  	margin-left: 120px;
}
.jGrowl-notification {
	opacity: .8;
	border-radius: 10px;
	width: 400px;
	margin: 10px 20px;
	background: #eedc94 url(#{$url_css_directory}/check48.png) no-repeat 10px 10px;
	padding-bottom: 20px;
}
.jGrowl-message {
	padding-left: 60px;
	padding-top: 5px;
	color: black;
}

/*----------  ----------------*/
.question-etherpad-container {
	padding: 0 15px;
}
.answer-description {
	margin-right: 20px;
}
.answer-with-confidence-level-portrait {
	align-items: center;
}
.c100.small {
	font-size: 41px;
	margin-right: 5px;
	margin-bottom: 28px;
}
.confidence-level-percentage {
	font-size: 13px;
    margin-top: 43px;
    text-align: center;
}
hr.hr-confidence-level {
    border-top: dotted 1px;
    border-color: #ccc;
    margin-top: 10px;
    margin-bottom: 15px;
}
[data-bs-toggle="collapse"].collapsed .if-not-collapsed {
	display: none;
}
[data-bs-toggle="collapse"]:not(.collapsed) .if-collapsed {
	display: none;
}
	
/* confidence levels tooltips */
.tooltip.top .tooltip-inner {
    background-color:white;
    color:black;
    border:  1px solid #ddd;
}
.tooltip.top .tooltip-arrow {
	border-top-color:grey;
	color:black;
}
.tooltip {
	background-color: transparent;
	border: none;
	color:black;
	box-shadow:none;
}

.question-etherpad {
	padding: 0;
}

.countdown-timeout {
	color: #FF3333 !important;
}		

#countdown {
	width: 150px; 
	font-size: 110%; 
	font-style: italic; 
	color:#47bc23;
	text-align: center;
}

.bq-title {
	text-decoration: underline;
}
	
.fake-validation-input {
	visibility: hidden;
	height: 0px;	
}

/*----------Scratchie SVG----------------*/
@keyframes reveal-tick {
	to {
		stroke-dashoffset: 0;
	}
}

.icon-mask,
.letter-mask {
	stroke-dasharray: 12296;
	stroke-dashoffset: 12296;
}

.scratched {

	.icon-mask,
	.letter-mask {
		stroke-dashoffset: 0;
	}
}

.show-tick .icon-mask,
.show-tick .letter-mask,
.show-cross .icon-mask,
.show-cross .letter-mask {
	animation: reveal-tick 2s ease-in-out both;
}

.show-tick .cross-icon {
	opacity: 0;
}

.show-cross .tick-icon {
	opacity: 0;
}

.scartchie-image-col {
	text-align: right;
	
	a {
		padding: 0;
	}
	svg {
		margin: 0 -0.5rem 0 0.5rem;
		padding: initial;
	}
}

