		#scratches {
			margin: 40px 0px;
			border-spacing: 0;
		}
		
		#scratches tr td {
			padding: 12px 15px;
		}
		
		#scratches a, #scratches a:hover {
			border-bottom: none;
		}
		
		.scartchie-image {
			border: 0;
		}
		
		
		#timelimit-start-dialog {
			display:none; cursor: default; padding: 10px;
		}
		#timelimit-start-dialog h1{
			padding-bottom: 10px;
		}
		#countdown {
			width: 150px; position: absolute; font-size: 110%; font-style: italic; color:#47bc23;
		}
		#countdown-label {
			font-size: 170%; padding-top:5px; padding-bottom:5px; font-style: italic; color:#47bc23;
		}
		#timelimit-expired {
			font-size: 145%; padding: 15px;
		}
		.jGrowl {
		  	font-size: 22px;
		  	font-family: arial, helvetica, sans-serif;
		  	margin-left: 120px;
		}
		.jGrowl-notification {
			opacity: .6;
			border-radius: 10px;
			width: 230px;
			padding: 10px 20px;
  			margin: 10px 20px;
			background: black url(${lams}/images/css/check48.png) no-repeat 10px 10px;
		}
		.jGrowl-message {
			padding-left: 60px;
			padding-top: 5px;
		}