@import "_lams_variables.scss";
	
.scratches {
	margin: 40px 0 15px;
}

.scratches tr td {
	padding: 12px 15px;
}

.scratches a, .scratches a:hover {
	border-bottom: none;
}

.scartchie-image {
	border: 0;
}


.jGrowl {
  	font-size: 22px;
  	font-family: $font-family-base;
  	margin-left: 120px;
}
.jGrowl-notification {
	opacity: .6;
	border-radius: 10px;
	width: 230px;
	padding: 10px 20px;
	margin: 10px 20px;
	background: $gray-base url(#{$url_css_directory}/check48.png) no-repeat 10px 10px;
}
.jGrowl-message {
	padding-left: 60px;
	padding-top: 5px;
}

.burning-question-container {
	padding: 0 15px;
}
.answer-description {
	margin-right: 20px;
}
.answer-with-confidence-level-portrait {
	align-items: center;
}
.c100.small {
	font-size: 41px;
	margin-right: 5px;
	margin-bottom: 23px;
}
.confidence-level-percentage {
	font-size: 13px;
    margin-top: 43px;
    text-align: center;
}
hr.hr-confidence-level {
    border-top: dotted 1px;
    border-color: #ccc;
    margin-top: 10px;
    margin-bottom: 15px;
}
.lead {
	margin-top: 30px;
}
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
	
/* confidence levels tooltips */
.tooltip.top .tooltip-inner {
    background-color:white;
    color:black;
    border:  1px solid #ddd;
}
.tooltip.top .tooltip-arrow {
      border-top-color:grey;
      color:black;
}
.tooltip {
background-color: transparent;
border: none;
color:black;
box-shadow:none;
}
		
.item-score {
	font-weight: bold;
}