@import "_lams_variables.scss";
	
#scratches {
	margin: 40px 0px;
	border-spacing: 0;
}

#scratches tr td {
	padding: 12px 15px;
}

#scratches a, #scratches a:hover {
	border-bottom: none;
}

.scartchie-image {
	border: 0;
}


.jGrowl {
  	font-size: 22px;
  	font-family: $font-family-base;
  	margin-left: 120px;
}
.jGrowl-notification {
	opacity: .6;
	border-radius: 10px;
	width: 230px;
	padding: 10px 20px;
	margin: 10px 20px;
	background: $gray-base url(#{$url_css_directory}/check48.png) no-repeat 10px 10px;
}
.jGrowl-message {
	padding-left: 60px;
	padding-top: 5px;
}