.fake-validation-input {
  visibility: hidden;
  height: 0px; }

label.error {
  float: none;
  color: #d9534f;
  vertical-align: top;
  font-weight: bold;
  font-style: italic; }

.bq-title {
  text-decoration: underline; }
