@import "_lams_variables.scss";

#mindmap-controls {
	height: 50px;
	padding: 5px;
}

#mindmap-container {
	background-color: $body-bg;
	height: calc(100vh - 300px);
	width: 100%;
	border: $border-thin-solid;
}	
