h1 {
	margin-left:0px; 
}

h2 {
	margin-left:0px; 
}


h3 {
	margin-left:0px; 
}

.textareaPanel {
	width: 625px;
	height: 600px;
	margin-left: 20px;
		margin-top: 12px;
}

.smallTextareaPanel {
	width: 625px;
	height: 500px;
	margin-left: 20px;
		margin-top: 12px;
}

#wyswygEditorScreen {
	position: absolute;
	width: 625px;
	height: 600px;
	padding: 0px;
	margin: 0px;
}

.error {
	color: red;

}

	