#chat_content {
	width: 560px;
	padding: 12px;

	/* compensate for content image border */
	margin-left: 4px;
}

#chat_pane {
	width: 98%;
}

#iResp {
	height: 260px;
	margin-right: 12px;
	margin-left: 12px;
	overflow: scroll;
	border: thin solid gray;
	padding: 2px;
}

#roster {
	float: right;
	width: 105px;
	height: 260px;
	overflow: hidden;
	border: thin solid gray;
	font-weight: bold;
}

.message {
	padding-bottom: 4px;	
}

.private_message {
	font-style: italic;
	background-color: #e6e6fa;
}

.messageFrom {
	font-weight: bold;
}

.selected {
	background-color: lime;	
	padding: 2px;
	cursor: pointer;
}

.unselected {
	background-color: white;
	padding: 2px;
	cursor: pointer;
}

#msgArea {
	margin-left: 12px;
	margin-right: 12px;
	width: 427px;
}