<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           				   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
<!-- 
	Even though this bean list is empty, this file MUST not be deleted,
	otherwise there will be errors when creating shared application context.
	The same goes for all web applications that do not declare any private application context XML files.
	In each of them there must be a file named "applicationContext.xml" with an empty bean definition list.
 -->
</beans>
