<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app >
 <!--
Copyright (C) 2005 LAMS Foundation (http://lamsfoundation.org)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
USA

http://www.gnu.org/licenses/gpl.txt
-->
<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
				classpath:/org/lamsfoundation/lams/applicationContext.xml
				classpath:/org/lamsfoundation/lams/contentrepository/applicationContext.xml
				classpath:/org/lamsfoundation/lams/authoring/authoringApplicationContext.xml
				classpath:/org/lamsfoundation/lams/workspace/workspaceApplicationContext.xml
	</param-value>
</context-param>

    <!--
    To use non XDoclet filters, create a filters.xml file that
    contains the additional filters (eg Sitemesh) and place it in your
    project's merge dir.  Don't include filter-mappings in this file,
    include them in a file called filter-mappings.xml and put that in
    the same directory.
    -->

    <!--
    To use non XDoclet filter-mappings, create a filter-mappings.xml file that
    contains the additional filter-mappings and place it in your
    project's merge dir.
    -->

  <listener>
	<listener-class>
		org.springframework.web.context.ContextLoaderListener
	</listener-class>
	<listener-class>
 		org.lamsfoundation.lams.web.SessionListener
 	</listener-class>
</listener>	

   <servlet>
      <servlet-name>storeLD</servlet-name>
      <servlet-class>org.lamsfoundation.lams.authoring.web.StoreLDServlet</servlet-class>

   </servlet>
   <servlet>
      <servlet-name>storeTheme</servlet-name>
      <servlet-class>org.lamsfoundation.lams.authoring.web.StoreThemeServlet</servlet-class>

   </servlet>

 <!--
Copyright (C) 2005 LAMS Foundation (http://lamsfoundation.org)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
USA

http://www.gnu.org/licenses/gpl.txt
-->

<servlet>
	<servlet-name>context</servlet-name>
	<servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
</servlet>

<servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>999</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>

<servlet>
		<servlet-name>Connector</servlet-name>
		<servlet-class>com.fredck.FCKeditor.connector.ConnectorServlet</servlet-class>
		<init-param>
			<param-name>baseDir</param-name>
			<param-value>/UserFiles/</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
</servlet>

  <!--
Copyright (C) 2005 LAMS Foundation (http://lamsfoundation.org)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
USA

http://www.gnu.org/licenses/gpl.txt
-->

<servlet-mapping>
	<servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>Connector</servlet-name>
    <url-pattern>/editor/filemanager/browser/default/connectors/jsp/connector</url-pattern>
</servlet-mapping>

   <servlet-mapping>
      <servlet-name>storeLD</servlet-name>
      <url-pattern>/authoring/storeLearningDesignDetails</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>storeTheme</servlet-name>
      <url-pattern>/authoring/storeTheme</url-pattern>
   </servlet-mapping>

   <session-config>
      <session-timeout>120</session-timeout>
   </session-config>

   <!--
   To specify mime mappings, create a file named mime-mappings.xml, put it in your project's mergedir.
   Organize mime-mappings.xml following this DTD slice:

   <!ELEMENT mime-mapping (extension, mime-type)>
   -->

   <!--
   To specify error pages, create a file named error-pages.xml, put it in your project's mergedir.
   Organize error-pages.xml following this DTD slice:

   <!ELEMENT error-page ((error-code | exception-type), location)>
   -->

<!--  ======================================================== -->	
<!-- Struts Tag Library Descriptors -->
<!--  ======================================================== -->	
<taglib>
    <taglib-uri>tags-bean</taglib-uri>
    <taglib-location>/WEB-INF/struts/tlds/struts-bean.tld</taglib-location>
</taglib>

<taglib>
    <taglib-uri>tags-html</taglib-uri>
    <taglib-location>/WEB-INF/struts/tlds/struts-html.tld</taglib-location>
</taglib>

<taglib>
    <taglib-uri>tags-logic</taglib-uri>
    <taglib-location>/WEB-INF/struts/tlds/struts-logic.tld</taglib-location>
</taglib>

<taglib>
    <taglib-uri>tags-tiles</taglib-uri>
    <taglib-location>/WEB-INF/struts/tlds/struts-tiles.tld</taglib-location>
</taglib>

<taglib>
    <taglib-uri>tags-bean-el</taglib-uri>
    <taglib-location>/WEB-INF/struts/tlds/struts-bean-el.tld</taglib-location>
</taglib>

<taglib>
    <taglib-uri>tags-html-el</taglib-uri>
    <taglib-location>/WEB-INF/struts/tlds/struts-html-el.tld</taglib-location>
</taglib>

<taglib>
    <taglib-uri>tags-logic-el</taglib-uri>
    <taglib-location>/WEB-INF/struts/tlds/struts-logic-el.tld</taglib-location>
</taglib>

<taglib>
    <taglib-uri>tags-tiles-el</taglib-uri>
    <taglib-location>/WEB-INF/struts/tlds/struts-tiles-el.tld</taglib-location>
</taglib>

<taglib>
    <taglib-uri>tags-c</taglib-uri>
    <taglib-location>/WEB-INF/struts/tlds/c.tld</taglib-location>
</taglib>
<!--  ======================================================== -->	
<!--  JSTL Tag Library -->
<!--  ======================================================== -->	
  <taglib>
    <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
    <taglib-location>/WEB-INF/JSTL/tlds/fmt.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
    <taglib-location>/WEB-INF/JSTL/tlds/fmt-rt.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    <taglib-location>/WEB-INF/JSTL/tlds/c.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
    <taglib-location>/WEB-INF/JSTL/tlds/c-rt.tld</taglib-location>
  </taglib>
<!--  ======================================================== -->	
<!--   Customized Tag Library -->
<!--  ======================================================== -->	
<taglib>
    <taglib-uri>fck-editor</taglib-uri>
    <taglib-location>/WEB-INF/fckeditor/tlds/FCKeditor.tld</taglib-location>
</taglib>

  <security-constraint>
	<display-name>SecurityConstraint</display-name>
	<web-resource-collection>
		<web-resource-name>STK</web-resource-name>
		<url-pattern>*.jsp</url-pattern>
		<http-method>DELETE</http-method>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
		<http-method>PUT</http-method>
	</web-resource-collection>
	<auth-constraint>
		<role-name>SYSADMIN</role-name>
	</auth-constraint>
</security-constraint>
<security-role>
	<description>SYSADMIN</description>
	<role-name>SYSADMIN</role-name>
</security-role>	
<login-config>
	<auth-method>FORM</auth-method>
	<realm-name>LAMS</realm-name>
	<form-login-config>
		<form-login-page>/login.jsp</form-login-page>
		<form-error-page>/login.jsp?failed=y</form-error-page>
	</form-login-config>
</login-config>

</web-app>
