#!/usr/bin/make -f

build: 

clean:
	dh_testdir
	dh_testroot

	dh_clean 

binary-indep: build 

binary-arch: build 
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_install
	dh_installdebconf	
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary 
