#page-mycourses { /*whole layout of page*/
	background: url('../images/lams_logo2.gif') no-repeat 5% -7px;
}
		
.current_phase_table{text-align: center; margin-top: 0px; margin-left:50px; max-width: 600px; line-height: 1.3; border-spacing: 20px;}
.current_phase_table td {font-size: large;}
.current_phase_table .not_active {color: #808080;}
.current_phase_table .active {background-color: #ADFF2F; color: #006400;}

.main_font_size{font-size: 13px;}
div.main_font_size{margin: 20px 20px;}
.table_login{position: relative; top: -130px; left: 60px; padding: 15px; width: 200px; text-align: center;}
