<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="signupDAO" class="org.lamsfoundation.lams.tool.signup.dao.SignupDAO">
		<property name="sessionFactory">
			<ref bean="coreSessionFactory" />
		</property>
	</bean>

	<bean id="signupServiceTarget"
		class="org.lamsfoundation.lams.tool.signup.service.SignupService"
		singleton="true">
		<property name="signupDAO">
			<ref bean="signupDAO" />
		</property>
		<property name="userManagementService">
			<ref bean="userManagementService" />
		</property>
		<property name="lessonService">
			<ref bean="lessonService" />
		</property>
	</bean>

	<bean id="signupService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="signupServiceTarget" />
		</property>
		<property name="proxyTargetClass">
			<value>true</value>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="signupUser">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
</beans>
