/* CSS file */
Application {
	backgroundColor: #FFFFFF;
	themeColor: #0087e5;
}

Alert {
	backgroundColor: #FFFFFF;
	color: #000000;
}

Panel {
	borderColor: #45a6ed;
	borderThicknessLeft: 1;
	borderThicknessRight: 1;
	borderThicknessBottom: 1;
	borderAlpha: 1;
	
	paddingTop: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingBottom: 0;

	highlightAlphas: 0.67, 0;
	headerColors: #45a6ed, #0087e5;

	titleStyleName: "myPanelStyle";
}

Panel.complexActivity {
	titleStyleName: "complexActivity";
	borderColor: #D7D7D7;
	borderThicknessLeft: 1;
	borderThicknessRight: 1;
	borderThicknessBottom: 1;
	borderThicknessTop: 1;

	paddingTop: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingBottom: 0;

	highlightAlphas: 0.67, 0;
	headerColors: #8a8a8a, #d7d7d7;

	roundedBottomCorners: false;
	headerHeight: 12;
	
	fontFamily: Verdana;
	fontSize: 10;
	cornerRadius: 0;
}
	
Wizard {
	horizontalAlign : center;	
}

.mainBody {
	backgroundColor: #FFFFFF;
	paddingTop: 20;
	horizontalAlign : center;	
}

Form, Label, TextInput { 
	   color: #000000;
	   font-weight: normal;
}

FormItem, List { 
	   font-weight: bold;
	    text-align: left;
}

.myPanelStyle {
	color: #FFFFFF;
}

.panelText {
	color: #000000;
	 font-weight: none;
	 text-align: left;
}
.panelStatus
{
}
.panelControlBar
{
}
@font-face
{
	fontFamily: Alba;
	fontWeight: normal;
	fontStyle: normal;
	src: local("Alba");
}
