<?xml version="1.0" encoding="UTF-8"?>

<web-app  xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
 <!--
Copyright (C) 2005 LAMS Foundation (http://lamsfoundation.org)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
USA

http://www.gnu.org/licenses/gpl.txt
-->

<context-param>
  	<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
  	<param-value>org.lamsfoundation.lams.learning.LearningResources</param-value>
</context-param>
<context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		classpath:/org/lamsfoundation/lams/applicationContext.xml
		classpath:/org/lamsfoundation/lams/lesson/lessonApplicationContext.xml
		classpath:/org/lamsfoundation/lams/tool/toolApplicationContext.xml
		classpath:/org/lamsfoundation/lams/learning/learningApplicationContext.xml
		classpath:/org/lamsfoundation/lams/contentrepository/applicationContext.xml		
		classpath:/org/lamsfoundation/lams/tool/mc/mcApplicationContext.xml 
		classpath:/org/lamsfoundation/lams/tool/noticeboard/applicationContext.xml 
		classpath:/org/lamsfoundation/lams/tool/qa/qaApplicationContext.xml 
		classpath:/org/lamsfoundation/lams/tool/sbmt/submitFilesApplicationContext.xml 
		classpath:/org/lamsfoundation/lams/tool/forum/forumApplicationContext.xml 
	</param-value>
</context-param>
<listener>
	<listener-class>
		org.springframework.web.context.ContextLoaderListener
	</listener-class>
</listener>	

  <!--
Copyright (C) 2005 LAMS Foundation (http://lamsfoundation.org)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
USA

http://www.gnu.org/licenses/gpl.txt
-->

<filter>
	<filter-name>HibernateFilter</filter-name>
	<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	<init-param>
		<param-name>sessionFactoryBeanName</param-name>
		<param-value>coreSessionFactory</param-value>
	</init-param>
	<init-param>
		<param-name>singleSession</param-name>
		<param-value>false</param-value>
	</init-param>
</filter>

<filter>
       <filter-name>SystemSessionFilter</filter-name>
         <filter-class>
		   org.lamsfoundation.lams.web.session.SystemSessionFilter
         </filter-class>
</filter>

<filter>
       <filter-name>LocaleFilter</filter-name>
         <filter-class>
		   org.lamsfoundation.lams.web.filter.LocaleFilter
         </filter-class>
</filter>

  <!--
Copyright (C) 2005 LAMS Foundation (http://lamsfoundation.org)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
USA

http://www.gnu.org/licenses/gpl.txt
-->
<filter-mapping>
	<filter-name>HibernateFilter</filter-name>
	<url-pattern>*.do</url-pattern>
</filter-mapping>
<filter-mapping>
	<filter-name>HibernateFilter</filter-name>
	<url-pattern>*.jsp</url-pattern>
</filter-mapping>

<filter-mapping>
    <filter-name>SystemSessionFilter</filter-name>
     <url-pattern>/*</url-pattern>
</filter-mapping>

  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
     <url-pattern>/*</url-pattern>
</filter-mapping>

    <!--
    To use non XDoclet listeners, create a listeners.xml file that
    contains the additional listeners and place it in your
    project's merge dir.
    -->

 <!--
Copyright (C) 2005 LAMS Foundation (http://lamsfoundation.org)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
USA

http://www.gnu.org/licenses/gpl.txt
-->

<servlet>
	<servlet-name>context</servlet-name>
	<servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
</servlet>
<servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>999</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
</servlet>

<servlet>
		<description>Export Portfolio</description>		
		<display-name>Export Portfolio</display-name>
		<servlet-name>exportPortfolio</servlet-name>
		<servlet-class>org.lamsfoundation.lams.learning.export.web.action.MainExportServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Export Portfolio Download Page</description>		
		<display-name>Export Portfolio Download</display-name>
		<servlet-name>exportDownload</servlet-name>
		<servlet-class>org.lamsfoundation.lams.learning.export.web.action.ExportDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Tool does not support portfolio exports</description>
		<display-name>Export Portfolio Unavailable</display-name>
		<servlet-name>exportNotSupported</servlet-name>
		<servlet-class>org.lamsfoundation.lams.learning.export.web.action.ExportNotSupportedServlet</servlet-class>
	</servlet>

  <!--
Copyright (C) 2005 LAMS Foundation (http://lamsfoundation.org)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
USA

http://www.gnu.org/licenses/gpl.txt
-->

<servlet-mapping>
	<servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
</servlet-mapping>

<servlet-mapping>
		<servlet-name>exportPortfolio</servlet-name>
		<url-pattern>/portfolioExport</url-pattern>
</servlet-mapping>

<servlet-mapping>
		<servlet-name>exportDownload</servlet-name>
		<url-pattern>/exportDownload</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>exportNotSupported</servlet-name>
	<url-pattern>/exportNotSupported</url-pattern>
</servlet-mapping>

   <session-config>
      <session-timeout>120</session-timeout>
   </session-config>

   <!--
   To specify mime mappings, create a file named mime-mappings.xml, put it in your project's mergedir.
   Organize mime-mappings.xml following this DTD slice:

   <!ELEMENT mime-mapping (extension, mime-type)>
   -->

  <error-page>
	<error-code>403</error-code>
	<location>/403.html</location>
</error-page>  

  	<jsp-config>
		<!--  ======================================================== -->	
		<!-- Struts Tag Library Descriptors -->
		<!--  ======================================================== -->	
		<taglib>
		    <taglib-uri>tags-bean</taglib-uri>
		    <taglib-location>/WEB-INF/struts/tlds/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
		    <taglib-uri>tags-html</taglib-uri>
		    <taglib-location>/WEB-INF/struts/tlds/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
		    <taglib-uri>tags-logic</taglib-uri>
		    <taglib-location>/WEB-INF/struts/tlds/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
		    <taglib-uri>tags-tiles</taglib-uri>
		    <taglib-location>/WEB-INF/struts/tlds/struts-tiles.tld</taglib-location>
		</taglib>
		<!--  ======================================================== -->	
		<!--  JSTL 1.2 Tag Library 									   -->
		<!--  ======================================================== -->	
		  <taglib>
		    <taglib-uri>tags-fmt</taglib-uri>
		    <taglib-location>/WEB-INF/jstl/tlds/fmt.tld</taglib-location>
		  </taglib>
		  <taglib>
		    <taglib-uri>tags-core</taglib-uri>
		    <taglib-location>/WEB-INF/jstl/tlds/c.tld</taglib-location>
		  </taglib>
		  <taglib>
		    <taglib-uri>tags-function</taglib-uri>
		    <taglib-location>/WEB-INF/jstl/tlds/fn.tld</taglib-location>
		  </taglib>
		  <taglib>
		    <taglib-uri>tags-xml</taglib-uri>
		    <taglib-location>/WEB-INF/jstl/tlds/x.tld</taglib-location>
		  </taglib>
		<!--  ======================================================== -->	
		<!--   Customized Tag Library -->
		<!--  ======================================================== -->	
		<taglib>
		    <taglib-uri>fck-editor</taglib-uri>
		    <taglib-location>/WEB-INF/fckeditor/tlds/FCKeditor.tld</taglib-location>
		</taglib>
		<!--  ======================================================== -->	
		<!--   LAMS Tag Library -->
		<!--  ======================================================== -->	
		<taglib>
		   <taglib-uri>tags-lams</taglib-uri>
		   <taglib-location>/WEB-INF/lams.tld</taglib-location>
		</taglib>
	</jsp-config>

  	<!--  Security Constraint -->
	<security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Secure Content</web-resource-name>
			<url-pattern>/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
    		<role-name>LEARNER</role-name>
    		<role-name>TEACHER</role-name>
    		<role-name>STAFF</role-name>
    		<role-name>AUTHOR</role-name>
    		<role-name>ADMIN</role-name>
    		<role-name>SYSADMIN</role-name>
    	</auth-constraint>
    </security-constraint>

    <security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Export</web-resource-name>
		    <url-pattern>/portfolioExport</url-pattern>
		 </web-resource-collection>
    	<auth-constraint>
    		<role-name>AUTHOR</role-name> <!-- have to change this to TEACHER have it as AUTHOR so that I can test it with user mmm -->
			<role-name>LEARNER</role-name>
    	</auth-constraint>
    </security-constraint>

	<!--  Login Configuration -->
  	<login-config>
   		<auth-method>FORM</auth-method>
		<realm-name>LAMS</realm-name>
   		<form-login-config>
    		<form-login-page>/login.jsp</form-login-page>
    		<form-error-page>/login.jsp</form-error-page>
   		</form-login-config>
   	</login-config>

</web-app>
