<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
<servlet>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.ConfigServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserDataServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.UserDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupDataServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.GroupDataServlet</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>LamsLearningDesignServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.LamsLearningDesignServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LamsLearningDesignDeleteServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.LamsLearningDesignDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkToolsServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.LinkToolsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GradebookServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.GradebookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GradebookSyncServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.GradebookSyncServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GradebookSyncFixServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.GradebookSyncFixServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LessonManagerServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.LessonManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LearnerMonitorServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.LearnerMonitorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OpenLamsPageServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.OpenLamsPageServlet</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>RenderDesignImageServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.RenderDesignImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StartLessonAjaxServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.StartLessonAjaxServlet</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>UpdateServerUrlServlet</servlet-name>
    <servlet-class>org.lamsfoundation.bb.integration.servlet.UpdateServerUrlServlet</servlet-class>
  </servlet> 

  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/configPlugin</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>LamsLearningDesignServlet</servlet-name>
    <url-pattern>/LamsLearningDesign</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LamsLearningDesignDeleteServlet</servlet-name>
    <url-pattern>/LamsLearningDesignDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkToolsServlet</servlet-name>
    <url-pattern>/LinkTools</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDataServlet</servlet-name>
    <url-pattern>/UserData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupDataServlet</servlet-name>
    <url-pattern>/GroupData</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>GradebookServlet</servlet-name>
    <url-pattern>/Gradebook</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>GradebookSyncServlet</servlet-name>
    <url-pattern>/GradebookSync</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradebookSyncFixServlet</servlet-name>
    <url-pattern>/GradebookSyncFix</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>LessonManagerServlet</servlet-name>
    <url-pattern>/LessonManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LearnerMonitorServlet</servlet-name>
    <url-pattern>/LearnerMonitor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenLamsPageServlet</servlet-name>
    <url-pattern>/openLamsPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RenderDesignImageServlet</servlet-name>
    <url-pattern>/RenderImage</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>StartLessonAjaxServlet</servlet-name>
    <url-pattern>/StartLesson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServerUrlServlet</servlet-name>
    <url-pattern>/UpdateServerUrl</url-pattern>
  </servlet-mapping>  
  
  <jsp-config>	
		  <taglib>
		    <taglib-uri>/tags-core</taglib-uri>
		    <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
		  </taglib>
  </jsp-config> 

  <error-page>
      <error-code>500</error-code>
      <location>/error.jsp</location>
  </error-page>
  <error-page>
      <error-code>403</error-code>
      <location>/error.jsp</location>
  </error-page>
  <error-page>
      <error-code>404</error-code>
      <location>/error.jsp</location>
  </error-page>
  <error-page>
      <error-code>405</error-code>
      <location>/error.jsp</location>
  </error-page>
  
</web-app>
