/*
// GPL
*/
body {
  overflow:hidden;
  background-color:#FFFFFF;
}
body,table,div {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size:13px;
  font-weight:normal;
}
body,input,textarea,div,table {
  margin:0px;
  padding:0px;
}
iframe {
  border:0px;
}
input {
  height:20px;
  border:1px solid #999999;
  padding-left:2px;
  padding-right:2px;
}

#content {
  position:absolute;
  top:23px;
  left:0px;
  right:0px;
  bottom:18px;
  width:100%;
  overflow:auto;
}
#multiline {
  display:none;
  position:absolute;
  width:425px;
  top:22px;
  height:250px;
}
#tconsole {
  position:absolute;
  width:400px;
  top:20px;
  left:600px;
  height:250px;
}
.table {
  border-left:1px solid #666666;
  border-top:1px solid #666666;
}
th {
  color:#666666;
  background-color:#EFEFEF;
  border-right:1px solid #666666;
  border-bottom:1px solid #666666;
  padding-left:5px;
  padding-right:5px;
}
th div {
  padding:1px;
  font-size:11px;
  font-weight:normal;
  display:inline;
}
td {
  border-right:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
  height:18px;
  padding-left:4px;
  padding-right:4px;
}
.default_table td {
  border:0px;
}
.header td {
  padding:0px;
  border:0px;
}
.header {
  position:absolute;
  background-color:#C0C0FF;
  width:100%;
  z-index:2;
  padding-top:1px;
  height:22px;
  color:#333333;
}
.header a,.header,.footer a,.footer {
  color:#333333;
}
.footer {
  position:absolute;
  border-top:1px solid #666666;
  background-color:#C0C0FF;
  width:100%;
  z-index:2;
  height:18px;
  bottom:0px;
}
.status {
  position:absolute;
  border-top:1px solid #666666;
  border-left:1px solid #666666;
  background-color:#C0C0FF;
  z-index:2;
  height:18px;
  bottom:0px;
  right:3px;
  padding-left:5px;
}
.empty {
  padding:0px;
  margin:0px;
  border:0px;
}
.cell_highlight {
  background-color:#FFFFC0;
}
.cell_highlight_over {
  background-color:#EFEFEF;
}
.border_highlight {
  background-color:#C0FFC0;
}
.data {
  display:none;
}
#code {
  width:100%;
  height:85%;
  overflow:auto;
}
#source {
  width:100%;
  height:95%;
}
#focus {
  height:0px;
  position:absolute;
  top:-30px;
}
