<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           				   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           				   http://www.springframework.org/schema/context 
   						   http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- Spring MVC -->
	<context:component-scan base-package="org.lamsfoundation.lams.tool.notebook.web.controller" />
	
   	<!-- This bean initialises controller scanning. 
   		 It was done automatically up to Spring 4, but had to manually reintroduced for Spring 5. -->		   
	<bean
		class="org.lamsfoundation.lams.context.DefaultAnnotationHandlerMapping" />
</beans>