<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

 	<!--
 	- Application context definition for lams noticeboard business layer.
	-->
<beans>

	<!-- ========================= GENERAL DEFINITIONS ========================= -->

	<!-- ========================= RESOURCE DEFINITIONS ========================= -->
	<!-- JNDI DataSource  - uses tool-ds Datasource set up in the app-server -->
  <!--	<bean id="toolDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"><value>java:jdbc/tool-ds</value></property>
	</bean>  -->
	
	 <bean id="toolDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>com.mysql.jdbc.Driver</value></property>
		<property name="url"><value>jdbc:mysql://localhost/lams?characterEncoding=utf8</value></property>
		<property name="username"><value>lams</value></property>
		<property name="password"><value>lamsdemo</value></property>
	</bean> 

	<!-- Hibernate SessionFactory -->
	  <bean id="nbSessionFactory" class="org.springframework.orm.hibernate.LocalSessionFactoryBean">
		<property name="dataSource"><ref local="toolDataSource"/></property>
		<property name="mappingResources">
			<list>	
				<value>org/lamsfoundation/lams/tool/noticeboard/NoticeboardContent.hbm.xml</value>
				<value>org/lamsfoundation/lams/tool/noticeboard/NoticeboardSession.hbm.xml</value>
				<value>org/lamsfoundation/lams/tool/noticeboard/NoticeboardUser.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">net.sf.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.c3p0.minPoolSize">5</prop>
				<prop key="hibernate.c3p0.maxPoolSize">20</prop>
				<prop key="hibernate.c3p0.timeout">1800</prop>
				<prop key="hibernate.c3p0.max_statement">50</prop>
			</props>
		</property>
	</bean>

	<!-- If we really use multiple SessionFactory, we have to change to JTA Transaction Manager -->
	<!-- bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager"/-->
	<!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate.HibernateTransactionManager">
		<property name="sessionFactory"><ref local="nbSessionFactory"/></property>
	</bean>

	
	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
	<bean id="nbService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name ="target">
			<bean class="org.lamsfoundation.lams.tool.noticeboard.service.NoticeboardServicePOJO">
				<property name="nbContentDAO"><ref bean="nbContentDAO"/></property>
				<property name="nbSessionDAO"><ref bean="nbSessionDAO"/></property>
				<property name="nbUserDAO"><ref bean="nbUserDAO"/></property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="copy*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="retrieve*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean> 

	<!--
	  - Lams survey primary business object (default implementation), as an inner bean wrapped
		- by an outer transactional proxy. The two bean definitions could have been separate,
		- but this is cleaner as there is no need to ever access the unwrapped object.
		-->

<!--  	<bean id="nbService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.lamsfoundation.lams.tool.noticeboard.service.NoticeboardServicePOJO">
				<property name="nbContentDAO"><ref bean="nbContentDAO"/></property>
				<property name="nbSessionDAO"><ref bean="nbSessionDAO"/></property>
			</bean>
		</property>
	</bean>  -->

	<!--  DAO classes -->
	<bean id="nbContentDAO" class="org.lamsfoundation.lams.tool.noticeboard.dao.hibernate.NoticeboardContentDAO">
		<property name="sessionFactory"><ref local="nbSessionFactory"/></property>
	</bean>  

	<bean id="nbSessionDAO" class="org.lamsfoundation.lams.tool.noticeboard.dao.hibernate.NoticeboardSessionDAO">
		<property name="sessionFactory"><ref local="nbSessionFactory"/></property>
	</bean>
	
	<bean id="nbUserDAO" class="org.lamsfoundation.lams.tool.noticeboard.dao.hibernate.NoticeboardUserDAO">
		<property name="sessionFactory"><ref local="nbSessionFactory"/></property>
	</bean>

</beans>
