<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>LAMS :: Learning Activity Management System</title>

	<meta http-equiv="refresh" content="80; url=@URL@" />
	
	<link rel="stylesheet" href="css/global.css">
	<link href="../jboss-5.1/server/default/deploy/lams.ear/lams-central.war/css/defaultHTML.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="../jboss-5.1/server/default/deploy/lams.ear/lams-central.war/favicon.ico" type="image/x-icon" />
	
	<script src="js/jquery.min.js"></script>
	<script src="js/slides.min.jquery.js"></script>
	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				animationStart: function(current){
					$('.caption').animate({
						bottom:-35
					},100);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationStart on slide: ', current);
					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
		});
	</script>
</head>
<body style="padding: 1px;">
	<div id="container">

<center>
		<img src="../jboss-5.1/server/default/deploy/lams.ear/lams-central.war/images/css/lams_login.gif" alt="LAMS - Learning Activity Management System" width="186" height="90" />


<br />		

<h1>Waiting for LAMS to start completely...</h1>

<br />

<p>You will be redirected in about a minute. While you wait, have a look at some of the new LAMS 2.4 features:</p>
&nbsp;
</center>
		<div id="example">
			<img src="img/new-ribbon.png" width="112" height="112" alt="New Ribbon" id="ribbon">
			<div id="slides">
				<div class="slides_container">
					<div class="slide">
						<a href="http://wiki.lamsfoundation.org/display/lams/Conditional+lesson+release" title="" target="_blank"><img src="img/slide-1.jpg" width="570" height="270" alt="Slide 1"></a>
						<div class="caption" style="bottom:0">
							<div>Conditional lesson release: set lessons to be completed before others can be seen.</div>
						</div>
					</div>
					<div class="slide">
						<a href="http://wiki.lamsfoundation.org/display/lams/Notifications" title="" target="_blank"><img src="img/slide-2.jpg" width="570" height="270" alt="Slide 2"></a>
						<div class="caption">
							<div>Scheduled and instant notifications: to enhance tracking and communication.</div>
						</div>
					</div>
					<div class="slide">
						<a href="http://wiki.lamsfoundation.org/display/lams/Lesson+introductions" title="" target="_blank"><img src="img/slide-3.jpg" width="570" height="270" alt="Slide 3"></a>
						<div class="caption">
							<div>Lesson introductions: create single pages to introduce a lesson</div>
						</div>
					</div>
					<div class="slide">
						<a href="http://wiki.lamsfoundation.org/display/lams/Mobile+devices+support+for+learners" title="" target="_blank"><img src="img/slide-4.jpg" width="570" height="270" alt="Slide 4"></a>
						<div class="caption">
							<div>Mobile devices support for learners for most common tools</div>
						</div>
					</div>
					<div class="slide">
						<a href="http://wiki.lamsfoundation.org/display/lams/Mobile+devices+support+for+learners" title="" target="_blank"><img src="img/slide-5.jpg" width="570" height="270" alt="Slide 5"></a>
						<div class="caption">
							<div>Mobile interfaces for iPad, iPhone, Android, etc.</div>
						</div>
					</div>
					<div class="slide">
						<a href="http://wiki.lamsfoundation.org/display/lams/Date+Restrictions" title="Date restrictions for lessons" target="_blank"><img src="img/slide-6.jpg" width="570" height="270" alt="Slide 6"></a>
						<div class="caption">
							<div>Date restrictions for lessons: set deadlines for lessons</div>
						</div>
					</div>
					<div class="slide">
						<a href="http://wiki.lamsfoundation.org/pages/viewpage.action?pageId=31588429" title="Ratings for Q&A and Forum" target="_blank"><img src="img/slide-7.jpg" width="570" height="270" alt="Slide 7"></a>
						<div class="caption">
							<div>Ratings for Q&A and Forum: let student peer assess eachother</div>
						</div>
					</div>
					<div class="slide">
						<a href="http://lamscommunity.org" title="LAMS Community" target="_blank"><img src="img/slide-8.jpg" width="570" height="270" alt="Slide 8"></a>
						<div class="caption">
							<div>LAMS Community: where you can get thousands of designs, ideas and help!</div>
						</div>
					</div>
				</div>
				<a href="#" class="prev"><img src="img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
			</div>
			<img src="img/example-frame.png" width="739" height="341" alt="Example Frame" id="frame">
		</div>
		<div id="footer">
			<p><small>Click <a href="@URL@">here</a> to go to the login page in 60 seconds.</small></p>
			<p>&nbsp;</p>
			<p>&copy; 2002-2012 <a href="http://lamsfoundation.org">LAMS Foundation</a></p>
		</div>
	</div>
</body>
</html>
