<?xml version="1.0" encoding="UTF-8"?>

<web-app  xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
 <context-param>
  	<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
  	<param-value>org.lamsfoundation.lams.tool.noticeboard.ApplicationResources</param-value>
</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/org/lamsfoundation/lams/applicationContext.xml
            classpath:/org/lamsfoundation/lams/lesson/lessonApplicationContext.xml
            classpath:/org/lamsfoundation/lams/toolApplicationContext.xml
			classpath:/org/lamsfoundation/lams/tool/noticeboard/applicationContext.xml
			classpath:/org/lamsfoundation/lams/contentrepository/applicationContext.xml
			classpath:/org/lamsfoundation/lams/learning/learningApplicationContext.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>	

  <!--  <filter>
    <filter-name>contentFilter</filter-name>
    <filter-class>org.lamsfoundation.lams.web.filter.ResponseCaptureFilter</filter-class>
</filter>

<filter-mapping>
    <filter-name>contentFilter</filter-name>
    <url-pattern>/portfolioExport</url-pattern>
</filter-mapping> -->

<filter>
	<filter-name>SystemSessionFilter</filter-name>
	<filter-class>org.lamsfoundation.lams.web.session.SystemSessionFilter</filter-class>
</filter>

 <filter>
    <filter-name>hibernateFilter</filter-name>
    <filter-class>
      org.lamsfoundation.lams.util.CustomizedOpenSessionInViewFilter
    </filter-class>
	<init-param>
		<param-name>sessionFactoryBeanName</param-name>
		<param-value>nbSessionFactory</param-value>
	</init-param>
   </filter>

<filter>
	   <filter-name>LocaleFilter</filter-name>
		 <filter-class>
		   org.lamsfoundation.lams.web.filter.LocaleFilter
		 </filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
</filter>

  <filter-mapping>
	<filter-name>SystemSessionFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>

<filter-mapping>
	<filter-name>hibernateFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

 <filter-mapping>
     <filter-name>LocaleFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>

    <!--
    To use non XDoclet listeners, create a listeners.xml file that
    contains the additional listeners and place it in your
    project's merge dir.
    -->

     <!--
	  - Loads the root application context of this web app at startup,
	  - by default from "/WEB-INF/applicationContext.xml".
		- Note that it is preferable to use ContextLoaderListener in a servlet container
		- that follows the Servlet 2.4 initialization order (most Servlet 2.3 containers do).
		-
	  - Use WebApplicationContextUtils.getWebApplicationContext(servletContext)
	  - to access it anywhere in the web application, outside of the framework.
	  -
	  - The root context is the parent of all servlet-specific contexts.
	  - This means that its beans are automatically available in these child contexts,
	  - both for getBean(name) calls and (external) bean references.
	-->
	<servlet>
		<servlet-name>context</servlet-name>
		<servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
	    <servlet-name>action</servlet-name>
	    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
	    <init-param>
	      <param-name>config</param-name>
	      <param-value>/WEB-INF/struts-config.xml</param-value>
	    </init-param>
	    <init-param>
	      <param-name>debug</param-name>
	      <param-value>999</param-value>
	    </init-param>
	    <init-param>
	      <param-name>detail</param-name>
	      <param-value>2</param-value>
	    </init-param>
	    <init-param>
	      <param-name>validate</param-name>
	      <param-value>true</param-value>
	    </init-param>
	    <load-on-startup>2</load-on-startup>
    </servlet>
<!--  The download servlet, reused from the content repository jar -->
	<servlet>
		<servlet-name>download</servlet-name>
		<display-name>Instructions Download</display-name>
		<description>Instructions Download</description>		
		<servlet-class>org.lamsfoundation.lams.contentrepository.client.ToolDownload</servlet-class>
	    <init-param>
	      <param-name>toolContentHandlerBeanName</param-name>
	      <param-value>nbToolContentHandler</param-value>
	    </init-param>
	    <load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>exportPortfolio</servlet-name>
		<display-name>Export Portfolio</display-name>
		<description>Export Portfolio</description>		
		<servlet-class>org.lamsfoundation.lams.tool.noticeboard.web.NbExportServlet</servlet-class>
	</servlet>

  	<servlet-mapping>
		<servlet-name>action</servlet-name>
	    <url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download/*</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
		<servlet-name>exportPortfolio</servlet-name>
		<url-pattern>/portfolioExport</url-pattern>
  	</servlet-mapping>

   <session-config>
      <session-timeout>120</session-timeout>
   </session-config>

   <!--
   To specify mime mappings, create a file named mime-mappings.xml, put it in your project's mergedir.
   Organize mime-mappings.xml following this DTD slice:

   <!ELEMENT mime-mapping (extension, mime-type)>
   -->

  <error-page>
	<error-code>403</error-code>
	<location>/403.html</location>
</error-page> 

  	<jsp-config>
		<!--  ======================================================== -->	
		<!-- Struts Tag Library Descriptors -->
		<!--  ======================================================== -->	
		<taglib>
		    <taglib-uri>tags-bean</taglib-uri>
		    <taglib-location>/WEB-INF/struts/tlds/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
		    <taglib-uri>tags-html</taglib-uri>
		    <taglib-location>/WEB-INF/struts/tlds/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
		    <taglib-uri>tags-logic</taglib-uri>
		    <taglib-location>/WEB-INF/struts/tlds/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
		    <taglib-uri>tags-tiles</taglib-uri>
		    <taglib-location>/WEB-INF/struts/tlds/struts-tiles.tld</taglib-location>
		</taglib>
		<!--  ======================================================== -->	
		<!--  JSTL 1.2 Tag Library 									   -->
		<!--  ======================================================== -->	
		  <taglib>
		    <taglib-uri>tags-fmt</taglib-uri>
		    <taglib-location>/WEB-INF/jstl/tlds/fmt.tld</taglib-location>
		  </taglib>
		  <taglib>
		    <taglib-uri>tags-core</taglib-uri>
		    <taglib-location>/WEB-INF/jstl/tlds/c.tld</taglib-location>
		  </taglib>
		  <taglib>
		    <taglib-uri>tags-function</taglib-uri>
		    <taglib-location>/WEB-INF/jstl/tlds/fn.tld</taglib-location>
		  </taglib>
		  <taglib>
		    <taglib-uri>tags-xml</taglib-uri>
		    <taglib-location>/WEB-INF/jstl/tlds/x.tld</taglib-location>
		  </taglib>
			<!--  ======================================================== -->	
			<!--   FCKEditor Tag Library -->
			<!--  ======================================================== -->	
			<taglib>
			    <taglib-uri>tags-fck-editor</taglib-uri>
			    <taglib-location>/WEB-INF/fckeditor/tlds/FCKeditor.tld</taglib-location>
			</taglib>
			<!--  ======================================================== -->	
			<!--   LAMS Tag Library -->
			<!--  ======================================================== -->	
			<taglib>
			   <taglib-uri>tags-lams</taglib-uri>
			   <taglib-location>/WEB-INF/lams.tld</taglib-location>
			</taglib>
	</jsp-config>

  	<!--  Security Constraint -->
	<security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Secure Content</web-resource-name>
			<url-pattern>/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
    		<role-name>LEARNER</role-name>
    		<role-name>TEACHER</role-name>
    		<role-name>STAFF</role-name>
    		<role-name>AUTHOR</role-name>
    		<role-name>ADMIN</role-name>
    		<role-name>SYSADMIN</role-name>
    	</auth-constraint>
    </security-constraint>

    <security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Authoring Update</web-resource-name>
		    <url-pattern>/authoringv2.do</url-pattern>
		    <url-pattern>/starter/authoring.do</url-pattern>
		    <url-pattern>/authoring.do</url-pattern>
		 </web-resource-collection>
    	<auth-constraint>
    		<role-name>AUTHOR</role-name>
    	</auth-constraint>
    </security-constraint>
    <security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Staff Content</web-resource-name>
		    <url-pattern>/starter/monitor.do</url-pattern>
		    <url-pattern>/monitoring.do</url-pattern>		   
    	</web-resource-collection>
    	<auth-constraint>
    		<role-name>STAFF</role-name>
    	</auth-constraint>
    </security-constraint>

	<!--  some combine role security setting -->
    <security-constraint>
	   	<web-resource-collection>
	    	<web-resource-name>Download Files</web-resource-name>
		    <url-pattern>/download/</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
    		<role-name>AUTHOR</role-name>
    		<role-name>STAFF</role-name>
    		<role-name>ADMIN</role-name>
    		<role-name>SYSADMIN</role-name>
    	</auth-constraint>
    </security-constraint>

	<!--  Login Configuration -->
  	<login-config>
   		<auth-method>FORM</auth-method>
		<realm-name>LAMS</realm-name>
   		<form-login-config>
    		<form-login-page>/login.jsp</form-login-page>
    		<form-error-page>/login.jsp?failed=y</form-error-page>
   		</form-login-config>
   	</login-config>

</web-app>
