.mainHeader {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 16pt;
	color: #000000;
}

.button {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #e0e7eb border:     #666666;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	width: 80px;
}

.linkButton {
	background-color: #e0e7eb border:     #666666;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #666666;
	border: 1px solid;
	border-color: #666666 #666666 #666666 #666666;
	padding: 1px 6px 1px 6px;
}

.linkButtonover {
	background-color: #708a8b;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #666666;
	border: 1px solid;
	border-color: #666666 #666666 #666666 #666666;
	margin: 1px;
	padding: 2px 6px 2px 6px;
	
}

.buttonover {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	background-color: #708a8b;
	width: 80px;
	border: #666666;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.longButton {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #e0e7eb border:     #666666;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	width: 120px;
}

.longButtonover {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	background-color: #708a8b;
	width: 120px;
	border: #666666;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.extendingButton {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #e0e7eb border:     #666666;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.extendingButtonover {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	background-color: #708a8b;
	border: #666666;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.lightBody {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}

.note {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}

.subHeader {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	letter-spacing: normal;
}

.error {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
	font-weight: bold;
}

.smallText {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}

.successMessage {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #33855c;
	font-weight: bold;
}

.heading {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14pt;
	color: #666666;
	font-style: normal;
}

.tableHeader {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}

.tableHeaderBlack {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.bodyBold {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

a.nav:link {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

a.nav:hover {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}

a.nav:visited {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-decoration: underline;
}

a.brightNav:link {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #6600ff;
	font-weight: bold;
	text-decoration: none;
}

a.brightNav:hover {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #cc3399;
	font-weight: bold;
	text-decoration: underline;
}

a.brightNav:visited {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #6699ff;
	font-weight: bold;
	text-decoration: none;
}

a.navLarge:link {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 18px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}

a.navLarge:hover {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
	background-color: #3399cc;
}

a.navLarge:visited {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 18px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}

.textField {
	background-color: #ffffff;
	font-family: arial;
	font-size: 10pt;
	color: #000000;
	font-weight: plain;
	border: 1px solid #666666;
}

textarea {
	background-color: #ffffff;
	font-family: arial;
	font-size: 10pt;
	color: #000000;
	font-weight: plain;
	border: 1px solid #666666;
}

body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.mouseOverTableRow {
	background-color: #b5cece;
}

.lightTableBorders {
	margin-left: auto;
	border-collapse: seperated;
	border-spacing: 0;
	border: 0px;
	empty-cells: show;
	margin-right: auto;
	cell-spacing: 0px;
	padding: 2 px;
}

.lightTableBorders TD {
	margin-left: auto;
	border: 1px solid #cccccc;
	empty-cells: show;
	margin-right: auto;
	padding: 2 px;
}

.lightTableBorders TR {
	margin-left: auto;
	border: 1px solid #cccccc;
	empty-cells: show;
	margin-right: auto;
	padding: 2 px;
}

#footer {
	position: absolute;
	top: 4px;
	right: 10px;
	z-index: 5;
}

#footerTable {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 4;
}

.lightNote {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
}

a.lightNoteLink:link {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-decoration: underline;
}

a.lightNoteLink:hover {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-decoration: underline;
}

a.lightNoteLink:visited {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-decoration: underline;
}

.tableStyle {
	border: thin solid #668a80;
}

.tableHeaderStyle {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background: #668a80;
}
.tblOddDataCel { BACKGROUND-COLOR: white;}

.tblEvenDataCel {BACKGROUND-COLOR: #D6E6F1;}





.trigger{
      cursor: pointer;
      cursor: hand;
      display: block;
}

.item{
      display: none;
      margin-left: 16px;
   }

