<h2>TBL</h2>

<p>[authoring.introduction.template.1]</p>

<p>[authoring.introduction.template.2]</p>

<ol>
    <li>
        <p>[authoring.introduction.template.3]</p>
    </li>
    <li>
        <p>[authoring.introduction.template.4]</p>
    </li>
    <li>
        <p>[authoring.introduction.template.5]</p>
    </li>
    <li>
        <p>[authoring.introduction.template.6]</p>
    </li>
    <li>
        <p>[authoring.introduction.template.7]</p>
    </li>
    <li>
        <p>[authoring.introduction.template.8]</p>
    </li>
</ol>