<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#set( $currentLCID = $session.getCurrentLCID() )
#set( $pt_id = $request.getParameter( $id_param_name ) )
#set( $url = 'ptLaunch.dowebct' )
## check if we're in MyWebCT or a section
#set( $isInstRole = 0 )
#set( $isMyWebCT = 0 )
#if( $currentLCID == $session.getInstitutionID() )
    #set( $isMyWebCT = 1 )
    #set( $id_param_name = 'tid' )

    ## check if it's an Institution role
    #set( $roles = $context.getRoleIDs($session, $currentLCID) )
    #foreach( $role in $roles )
        #set( $isInstRole = 1 )
    #end
#else
    #set( $id_param_name = 'id' )
#end

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">	
<head>
<title>LAMS: Start Lesson</title>
<link rel="stylesheet" href="/webct/css/styles.jsp?locale=en_US&Id=9778001&colorSetId=A" type="text/css" />

<style type="text/css">
		<!--
		#include( 'web/lib/jquery/css/jquery-calendar.css' )
		-->
</style>

<script language="JavaScript" type="text/javascript">
<!--
	#include( 'web/lib/tigra/tree.js' )
	#include( 'web/lib/tigra/tree_tpl.js' ) 
	#include( 'web/lib/jquery/jquery-1.2.1.js' ) 
	#include( 'web/lib/jquery/jquery-calendar.js' ) 

	
	var authorWin = null;
	var previewWin = null;


	$(document).ready(function(){
		var today = new Date();
		today = new Date(today.getFullYear(), today.getMonth(), today.getDate());
		
		$('.calendarRange').calendar({minDate: today, fieldSettings: customRange, onSelect:dateSelected});
	});

	function dateSelected() {
		var schedule = document.create_form.schedule[0];
		var dontschedule = document.create_form.schedule[1];
		schedule.checked = true;
		dontschedule.checked = false;
	}

	function getDate(value) {
		fields = value.split('/');
		return (fields.length < 3 ? null :
			new Date(parseInt(fields[2], 10), parseInt(fields[1], 10) - 1, parseInt(fields[0], 10)));
	}

    function customRange(input) 
    {
		return {minDate: (input.id == 'dateEnd' ? getDate($('#dateStart').val()) : null),
				maxDate: (input.id == 'dateStart' ? getDate($('#dateEnd').val()) : null)};
	}
   
    function openAuthor()
    {
    	authorUrl = '${authorUrl}'; 
    	authorUrl += "&notifyCloseURL="
    	if(authorWin && authorWin.open && !authorWin.closed){
    		try {
            	authorWin.focus();
            }catch(e){
		        // popups blocked by a 3rd party
		   	}
        }
        else{
            try {
            	authorWin = window.open(authorUrl,'aWindow','width=800,height=600,resizable');
            	authorWin.focus();
            }catch(e){
		        // popups blocked by a 3rd party
		    }
        }
    }
    
    function refreshSeqList()
    {
    	document.getElementById("sequence_id").value="0";
    	document.location.reload();
    }
    
    function doStartLesson()
    {
    	if (document.getElementById("sequence_id").value=="0")
    	{
    		alert('Please select a sequence before starting the lesson.');
    	}
    	else if (document.getElementById("form_action").value==null || document.getElementById("title").value=='')
		{
			alert("Value required for lesson title.");
		}
		else if (document.create_form.schedule[0].checked == true)
		{	
			if (document.getElementById("dateStart").value==null || document.getElementById("dateStart").value=='')
			{
				alert("You must select a start date if you want to schedule the lesson.");
			}
			else if (document.getElementById("dateStart").value==document.getElementById("dateEnd").value)
			{
				var startHour = parseInt(document.getElementById("startHour").value, 10);
				if (document.getElementById("startAMPM").value=="PM")
				{
					startHour = startHour + 12;
				}
				var startMin = parseInt(document.getElementById("startMin").value, 10);

				var endHour = parseInt(document.getElementById("endHour").value, 10);
				if (document.getElementById("endAMPM").value=="PM")
				{
					endHour = endHour + 12;
				}
				var endMin = parseInt(document.getElementById("endMin").value, 10);

				var start = new Date("2000", "1", "1", startHour, startMin,"0");
				var end = new Date("2000", "1", "1", endHour, endMin, "0");
				
				if (start>=end)
				{
					alert("Start date and time must be before end date and time.");
				}
				else
				{
					document.getElementById("form_action").value="start_lesson";
    				formSubmit();
				}
			}			
			else
			{
				document.getElementById("form_action").value="start_lesson";
    			formSubmit();
			}
		}
    	else
    	{
    		document.getElementById("form_action").value="start_lesson";
    		formSubmit();
    	}
    }
    
    function openPreview()
    {

    	if (document.getElementById("sequence_id").value=="0")
    	{
    		alert('Please select a sequence before clicking preview.');
    	}
    	else
    	{
    	
			url = '${url}?sequence_id=' +document.getElementById("sequence_id").value+ '&${id_param_name}=${pt_id}&page_id=${page_id}&form_action=preview';
	   		window.open(url,'LAMS-Preview','height=600,width=800,resizable');
  		}
    }
    
    function formSubmit()
	{
		document.create_form.submit();
	}

    
    function selectSequence(id) 
    {
    	document.getElementById("sequence_id").value=id;
	}
	
	function doCancel()
	{
		document.getElementById("sequence_id").value='0';
		document.getElementById("form_action").value='';
		formSubmit();
	}
//-->
</script>


</head>
<body class="listingpage">
<h1>Create LAMS Lesson</h1>

<br>

<form name="create_form" id="create_form" action="$url" method="post">
	<input type="hidden" name="sequence_id" id="sequence_id"  value='0'>
	<input type="hidden" name="$id_param_name" value="$pt_id"/>
	<input type="hidden" name="page_id" value="$page_id"/>
	<input type="hidden" name="form_action" id="form_action" value=""/>
	
	<table border='0' >
		<tr>
			<td valign="top"><b><font color=red>*</font>Title:</b></td>
			<td><input id="title" type="text" name="title" value="" tabindex="1"></td>
		</tr>
		<tr>
			<td valign="top"><b>Description:</b></td>
			<td><textarea name="description" rows="12" cols="35" tabindex="2"></textarea></td>
		</tr>
		<tr>
			<td valign="top"><b>Lesson Visibility:</b></td>
			<td>
				<input type="Radio" name="isAvailable" value="true" tabindex="3" checked>Show Lesson <br>
	            <input type="Radio" name="isAvailable" value="false" tabindex="4">Hide Lesson 
	        </td>
		</tr>
	</table>
	<br>
	<table border='0' >
		<tr>
			<td valign="top"><b>Schedule Lesson:</b></td>
			<td valign="top">
				<input type="Radio" id="schedule" name="schedule" value="true" tabindex="5">Yes<br>
	            <input type="Radio" id="schedule" name="schedule" value="false" tabindex="6" checked>No
	        </td>
	        <td>	
	        	&nbsp;&nbsp;&nbsp;&nbsp;
	        </td>
	        <td valign="top">
				Start date:<br>
					<input type="text" class="calendarRange" id="dateStart" name="dateStart"  value="" tabindex="7"/><br><br>
				End date:<br>
					<input type="text" class="calendarRange" id="dateEnd" name="dateEnd" value="" tabindex="11" /> 			
	        </td>
	        <td valign="top">
				&nbsp;Start time: <br>
				&nbsp;<select name="startHour" id="startHour" tabindex="8">
						<option value ="01">01</option>
						<option value ="02">02</option>
						<option value ="03">03</option>
						<option value ="04">04</option>
						<option value ="05">05</option>
						<option value ="06">06</option>
						<option value ="07">07</option>
						<option value ="08">08</option>
						<option value ="09" selected>09</option>
						<option value ="10">10</option>
						<option value ="11">11</option>
						<option value ="12">12</option>
					</select>&nbsp;:
					<select name="startMin" id="startMin" tabindex="9">
						<option value ="00" selected>00</option>
						<option value ="05">05</option>
						<option value ="10">10</option>
						<option value ="15">15</option>
						<option value ="20">20</option>
						<option value ="25">25</option>
						<option value ="30">30</option>
						<option value ="35">35</option>
						<option value ="40">40</option>
						<option value ="45">45</option>
						<option value ="50">50</option>
						<option value ="55">55</option>
					</select>&nbsp;&nbsp;
					<select name="startAMPM" id="startAMPM" tabindex="10">
						<option value ="AM" selected>AM</option>
						<option value ="PM">PM</option>
					</select> <br><br>
				&nbsp;End time:<br>
				&nbsp;<select name="endHour" id="endHour" tabindex="13">
						<option value ="01">01</option>
						<option value ="02">02</option>
						<option value ="03">03</option>
						<option value ="04">04</option>
						<option value ="05">05</option>
						<option value ="06">06</option>
						<option value ="07">07</option>
						<option value ="08">08</option>
						<option value ="09" selected>09</option>
						<option value ="10">10</option>
						<option value ="11">11</option>
						<option value ="12">12</option>
					</select>&nbsp;:
					<select name="endMin" id="endMin" tabindex="13">
						<option value ="00" selected>00</option>
						<option value ="05">05</option>
						<option value ="10">10</option>
						<option value ="15">15</option>
						<option value ="20">20</option>
						<option value ="25">25</option>
						<option value ="30">30</option>
						<option value ="35">35</option>
						<option value ="40">40</option>
						<option value ="45">45</option>
						<option value ="50">50</option>
						<option value ="55">55</option>
					</select>&nbsp;&nbsp;
					<select name="endAMPM" id="endAMPM" tabindex="14">
						<option value ="AM" selected>AM</option>
						<option value ="PM">PM</option>
					</select>  
                                                          					
	        </td>
		</tr>
	</table>
	
	
	<br>
	<hr>
	<br>
	
	<table border='0'>
		<tr>
			<td valign="top"><b><font color=red>*</font>Select Sequence:</b></td>
			<td>
				&nbsp;&nbsp;
			</td>
			<td>
				<script language="JavaScript" type="text/javascript">
            	<!-- 
            	 	var TREE_ITEMS = ${learningDesigns};            		
					var tree = new tree(TREE_ITEMS, TREE_TPL);	
				//-->
				</script>
			</td>
	</table>
	<br>
	<a class="actionlight" href="javascript:openAuthor()" tabindex="15">Open Author</a>&nbsp;
	<a class="actionlight" href="javascript:refreshSeqList()" tabindex="16">Refresh Workspace </a>&nbsp;
	<a class="actionlight" href="javascript:openPreview()" tabindex="17">Preview Selected</a>&nbsp;
	
	<br><br>
	<hr>
	<br>
	<div class="actionbuttondiv">		
		<a class="action" href="javascript:doStartLesson()" tabindex="18">Start LAMS Lesson</a>
		<a class="action" href="javascript:doCancel()" tabindex="19">Cancel</a>
	</div> 
	<br>
	<font color=red>* Required field</font>                                    
</form>


</body>
</html>