<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#set( $currentLCID = $session.getCurrentLCID() )
#set( $pt_id = $request.getParameter( $id_param_name ) )
#set( $url = 'ptLaunch.dowebct' )
## check if we're in MyWebCT or a section
#set( $isInstRole = 0 )
#set( $isMyWebCT = 0 )
#if( $currentLCID == $session.getInstitutionID() )
    #set( $isMyWebCT = 1 )
    #set( $id_param_name = 'tid' )

    ## check if it's an Institution role
    #set( $roles = $context.getRoleIDs($session, $currentLCID) )
    #foreach( $role in $roles )
        #set( $isInstRole = 1 )
    #end
#else
    #set( $id_param_name = 'id' )
#end

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>LAMS: Learner</title>
<link rel="stylesheet" href="/webct/css/styles.jsp?locale=en_US&Id=9778001&colorSetId=A" type="text/css" />
<script language="JavaScript" type="text/javascript">
<!--
	var learnerWin = null;
	var learnerUrl = null;
	
	function openLearner(lsID)
	{
		learnerUrl = '$learnerUrl' + '&lsid=' + lsID; 
		if(learnerWin && learnerWin.open && !learnerWin.closed){
	        try {
	        	learnerWin.focus();
	        }catch(e){
	        	// popups blocked by a 3rd party
	        }
	    }
	    else{
	        try {
	            learnerWin = window.open(learnerUrl,'lWin','width=800,height=600,resizable=1');
	            learnerWin.focus();
	        }catch(e){
	        	// popups blocked by a 3rd party
	        }
	    }
	}
//-->

</script>
</head>
<body class="listingpage">
<h1>LAMS Lessons Running</h1>
<br>

#if( $lessons.size() > 0 )
<table width='100%' border='1' cellpadding='10' style="padding:10px 10px 10px 10px;" class="tablebody">	
<thead>
<tr>
	<th>Title</th>
	<th>Description</th>
	<th>Actions</th>
</tr>
</thead>
<tbody>

#foreach ($lesson in $lessons)
	<tr>
		<td valign='top'><b>$lesson.getTitle()</b></td>
		<td valign='top'>$lesson.getDescription()</td>
		<td valign='top'>
			<a class="actionlight" href="javascript:openLearner($lesson.getLessonId())">Open Lesson</a>
		</td>
	</tr>
#end
	</tbody>
</table>

</body>
#else
    <i>No LAMS lessons running.</i>
#end
</html>