<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#set( $currentLCID = $session.getCurrentLCID() )
#set( $pt_id = $request.getParameter( $id_param_name ) )
#set( $url = 'ptLaunch.dowebct' )
## check if we're in MyWebCT or a section
#set( $isInstRole = 0 )
#set( $isMyWebCT = 0 )
#if( $currentLCID == $session.getInstitutionID() )
    #set( $isMyWebCT = 1 )
    #set( $id_param_name = 'tid' )

    ## check if it's an Institution role
    #set( $roles = $context.getRoleIDs($session, $currentLCID) )
    #foreach( $role in $roles )
        #set( $isInstRole = 1 )
    #end
#else
    #set( $id_param_name = 'id' )
#end

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<link rel="stylesheet" href="/webct/css/styles.jsp?locale=en_US&Id=9778001&colorSetId=A" type="text/css" />

<script language="JavaScript" type="text/javascript">
<!--
function formSubmit()
	{
		document.return_form.submit();
	}
//-->
</script>

</head>
<body class="listingpage">
<br>
$successMessage
<br><br>
	
<form name="return_form" id="return_form" action="$url" method="post">
	<input type="hidden" name="$id_param_name" value="$pt_id"/>
	<input type="hidden" name="page_id" value="$page_id"/>
	<input type="hidden" name="form_action" value=""/>
	
	<a class="actionlight" href="javascript:formSubmit()">Return to LAMS Teaching</a>
</form>

</body>
</html>