<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#set( $currentLCID = $session.getCurrentLCID() )
#set( $pt_id = $request.getParameter( $id_param_name ) )
#set( $url = 'ptLaunch.dowebct' )
## check if we're in MyWebCT or a section
#set( $isInstRole = 0 )
#set( $isMyWebCT = 0 )
#if( $currentLCID == $session.getInstitutionID() )
    #set( $isMyWebCT = 1 )
    #set( $id_param_name = 'tid' )

    ## check if it's an Institution role
    #set( $roles = $context.getRoleIDs($session, $currentLCID) )
    #foreach( $role in $roles )
        #set( $isInstRole = 1 )
    #end
#else
    #set( $id_param_name = 'id' )
#end




<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">	
<head>
<title>LAMS: Modify Lesson</title>

<script language="JavaScript" type="text/javascript">
<!--
	function validateLesson()
	{
		if (document.getElementById("form_action").value==null || document.getElementById("title").value=='')
		{
			alert("Value required for lesson title.");
		}
		else
		{
			document.getElementById("form_action").value="modify_proc";
			formSubmit();
		}
	}
	
	function back()
	{
		document.getElementById("form_action").value="";
		formSubmit();
	}
	
	function doCancel()
	{
		document.getElementById("lsID").value='';
		document.getElementById("form_action").value='';
		formSubmit();
	}
	
	function formSubmit()
	{
		document.modify_form.submit();
	}
//-->
</script>

<link rel="stylesheet" href="/webct/css/styles.jsp?locale=en_US&Id=9778001&colorSetId=A" type="text/css" />
</head>

<body class="listingpage">
<h1>Modify LAMS Lesson</h3>

<br>

<form name="modify_form" id="modify_form" action="$url" method="post">
	<input type="hidden" name="lsID" id="lsID"  value='$lsID'>
	<input type="hidden" name="$id_param_name" value="$pt_id"/>
	<input type="hidden" name="page_id" value="$page_id"/>
	<input type="hidden" name="form_action" id="form_action" value=""/>
	
	<table border='0'>
		<tr>
			<td valign="top"><b><font color=red>*</font>Title</b></td>
			<td><input id="title" type="text" name="title" value="$title"></td>
		</tr>
		<tr>
			<td valign="top"><b>Description</b></td>
			<td><textarea name="description" rows="12" cols="35">$description</textarea></td>
		</tr>
		<tr>
			<td valign="top"><b>Lesson Visibility</b></td>
			<td><input type="Radio" name="isAvailable" value="$hidden" checked>Show Lesson <br>
	            <input type="Radio" name="isAvailable" value="$notHidden">Hide Lesson </td>
		</tr>
		<tr>
			<td valign="top"><b>Schedule Lesson</b></td>
			<td><input type="Radio" name="schedule" value="$hidden" checked>Show Lesson <br>
	            <input type="Radio" name="schedule" value="$notHidden">Hide Lesson </td>
		</tr>
		
	</table>
	<br>
	<hr>
	<br>
	<div class="actionbuttondiv">		
		<a class="action" href="javascript:validateLesson()">Modify Lesson</a>
		<a class="action" href="javascript:doCancel()">Cancel</a>
	</div>
	<br>
	<font color=red>* Required field</font>                                   
</form>

</body>
</html>