<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	
#set( $currentLCID = $session.getCurrentLCID() )
#set( $pt_id = $request.getParameter( $id_param_name ) )
#set( $url = 'ptLaunch.dowebct' )
## check if we're in MyWebCT or a section
#set( $isInstRole = 0 )
#set( $isMyWebCT = 0 )
#if( $currentLCID == $session.getInstitutionID() )
    #set( $isMyWebCT = 1 )
    #set( $id_param_name = 'tid' )

    ## check if it's an Institution role
    #set( $roles = $context.getRoleIDs($session, $currentLCID) )
    #foreach( $role in $roles )
        #set( $isInstRole = 1 )
    #end
#else
    #set( $id_param_name = 'id' )
#end

<head>
<title>LAMS: Teach</title>

<link rel="stylesheet" href="/webct/css/styles.jsp?locale=en_US&Id=9778001&colorSetId=A" type="text/css" />

<script language="JavaScript" type="text/javascript">
<!--
	var learnerWin = null;
	var monitorWin = null;
	var liveEditUrl= null;
	var learnerUrl = null;
	var monitorUrl = null;
	
	function openLearner(lsID)
	{
		learnerUrl = '$learnerUrl' + '&lsid=' + lsID; 
		if(learnerWin && learnerWin.open && !learnerWin.closed){
	        try {
	        	learnerWin.focus();
	        }catch(e){
	        	// popups blocked by a 3rd party
	        }
	    }
	    else{
	        try {
	            learnerWin = window.open(learnerUrl,'lWin','width=800,height=600,resizable=1');
	            learnerWin.focus();
	        }catch(e){
	        	// popups blocked by a 3rd party
	        }
	    }
	}
	

	function openMonitor(lsID)
	{
		monitorUrl = '$monitorUrl' + '&lsid=' + lsID; 
    	if(monitorWin && monitorWin.open && !monitorWin.closed){
    	
            try {
            	monitorWin.focus();
            }catch(e){
            	// popups blocked by a 3rd party
            }
        }
        else{
            try {
            	monitorWin = window.open(monitorUrl,'aWin','width=800,height=600,resizable=1');
            	monitorWin.opener = self;
            	monitorWin.focus();
            }catch(e){
            	// popups blocked by a 3rd party
            }
            
        }
	}
	
	function openAuthorForEditOnFly( ldID )
	{				
		liveEditUrl= '$liveEditUrl' + '&layout=editonfly&learningDesignID=' + ldID;
		if(monitorWin && !monitorWin.closed)
		{
			monitorWin.location = liveEditUrl;
		}
		else
		{
			monitorWin = window.open(liveEditUrl,'width=800,height=600,resizable');
			monitorWin.focus();
		}
	}
	
	function setLsId( lsID, form_action)
	{
		document.getElementById("form_action").value=form_action;
		document.getElementById("lsID").value=lsID;
	}
	
	function modifyLesson( lsID, form_action)
	{
		setLsId( lsID, form_action);
		formSubmit();
	}
	
	function deleteLesson( lsID, form_action)
	{
		var answer = confirm("Do you really want to delete this lesson? Once deleted you cant get it back.")
		if (answer){
			setLsId( lsID, form_action);
			formSubmit();
		}
	}
	
	function formSubmit()
	{
		document.teach_form.submit();
	}

	
//-->

</script>
</head>
<body class="listingpage">

<h1>LAMS Teaching</h1>
<br>
<form enctype="application/x-www-form-urlencoded" name="teach_form" id="teach_form" action="$url" method="post">
	<input type="hidden" name="$id_param_name" value="$pt_id"/>
	<input type="hidden" name="page_id" value="$page_id"/>
	<input type="hidden" name="form_action" id="form_action" value="create_lesson"/>
	<input type="hidden" name="lsID" id="lsID" value="0"/>
	<div class="actionbuttondiv"><a class="action" href="javascript:formSubmit()">Create LAMS Lesson</a></div>
	<br><br>
	<hr>
	<br>
	<h3>LAMS Lessons Running</h3>
	<br>
	
#if( $lessons.size() > 0 )	
	<table width='100%' border='1' cellpadding='10' style="padding:10px 10px 10px 10px;" class="tablebody">	
	<thead>
	<tr>
		<th width="20%">Title</th>
		<th width="30%">Description</th>
		<th width="20%">Status</th>

		
		<th width="30%">Actions</th>
	</tr>
	</thead>
	<tbody>
	#foreach ($lesson in $lessons)
		<tr>
			<td valign='top'><b>$lesson.getTitle()</b></td>
			<td valign='top'><i>$lesson.getDescription()</i></td>
			
			#set( $start = '' )
			#set( $end = '' )
			#set( $endStr = '' )
			
			<td valign='top'>
				<i>
				#if ( $lesson.getSchedule() )
					#set( $start = $lesson.getStartTimestamp() )
					#set( $end = $lesson.getEndTimestamp() )
					#set( $endStr = $end.toString() )
					
					#if( $endStr != '' )
						Scheduled from:<br>
						&nbsp;&nbsp;&nbsp;&nbsp;$start.toString() to<br>	
						&nbsp;&nbsp;&nbsp;&nbsp;$endStr	
					#else
						Scheduled from:<br>
						&nbsp;&nbsp;&nbsp;&nbsp;$start.toString()
					#end
					
					#if( $lesson.getHidden() )
						<br>&nbsp;&nbsp;&nbsp;&nbsp;(Hidden)
					#end
				#elseif( $lesson.getHidden() )
					Hidden
				#else
					Running
				#end
				</i>
			</td>
			
			<!--
			<td valign='top'><i>$lesson.getHidden()</i></td>
			<td valign='top'><i>$lesson.getSchedule()</i></td>
			
			#set( $start = '' )
			#set( $end = '' )
			
			#if( $lesson.getSchedule() )		
				#set( $start = $lesson.getStartTimestamp() )
				#set( $end = $lesson.getEndTimestamp() )
				<td valign='top'><i>$start.toString()</i></td>
				<td valign='top'><i>$end.toString()</i></td>
			#else
   				<td valign='top' align='center'></td>
   				<td valign='top' align='center'></td>
			#end
			-->
	
			<td valign='top'>
				<a class="actionlight" href="javascript:openLearner($lesson.getLessonId())">Open Learner</a>
				<a class="actionlight" href="javascript:openMonitor($lesson.getLessonId())">Open Monitor</a>
				<a class="actionlight" href="javascript:modifyLesson($lesson.getLessonId(),'modify_lesson')">Modify</a>
				<a class="actionlight" href="javascript:deleteLesson($lesson.getLessonId(),'delete_lesson')">Delete</a>
			</td>
	
		</tr>
	#end
	
	</table>
#else
    <i>No LAMS lessons running.</i>
#end
</form>




</body>
</html>