<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>LAMS: Teach</title>
</head>
<body>
<h3>LAMS Teaching</h3>
<br>
<br>

<form enctype="application/x-www-form-urlencoded" name="teach_form" id="teach_form" action="/webct/ptAssistConfig.dowebct" method="post">
	<input type="submit" name="create" value="Create LAMS Lesson"/>
</form>





</body>
</html>