<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="LAMS Tool Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="org.lams.toolbuilder.editors.MultiPageToolEditorContributor"
            class="org.lams.toolbuilder.editors.MultiPageToolEditor"
            id="org.lams.toolbuilder.editors.MultiPageToolEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="LAMS"
            id="org.lams.toolbuilder">
      </category>
      <wizard
            name="LAMS/RAMS Tool Project"
            icon="icons/dolly.ico"
            project="true"
            category="org.lams.toolbuilder"
            class="org.lams.toolbuilder.wizards.LAMSNewToolWizard"
            id="org.lams.toolbuilder.wizards.LAMSNewToolWizard">
      </wizard>
   </extension>

</plugin>
