<!-- The contents of this file will be loaded for each web application -->
<Context cookies="true" crossContext="true">
   <!-- Session persistence is disable by default. To enable for all web
   apps set the pathname to a non-empty value:
   <Manager pathname="SESSIONS.ser" />

   To enable session persistence for a single web app, add a
   WEB-INF/context.xml 
   -->
   <Manager pathname="" />

   <!-- Install an InstanceListener to handle the establishment of the run-as
   role for servlet init/destroy events.
   -->
   <InstanceListener>org.jboss.web.tomcat.security.RunAsListener</InstanceListener>

   <!-- LDEV-3088 Option to set session cookie as secure and httpOnly
	Set secure="true" only if you are using https
    -->
   <SessionCookie secure="false" httpOnly="true" />
   
   <!-- 
   		LAMS Valve
    -->
   	<Valve className="org.lamsfoundation.lams.web.session.LoginFormAuthenticator"
			disableProxyCaching="false" characterEncoding="UTF-8" />
</Context>
