/* CSS file */



.window {
	padding-bottom: 5; padding-top: 5; padding-left: 8; padding-right: 8;
	background-color: #c2d5fe;
	borderStyle: solid;
	borderThicknessLeft: 0; borderThicknessTop: 0;borderThicknessBottom: 0; borderThicknessRight: 0;
	horizontal-align: center;
	corner-radius: 5;
	roundedBottomCorners: true;
	drop-shadow-enabled: false;
	header-colors: #c2d5fe, #2359D6;
	header-height: 20;
	titleStyleName: "groupNameWindowTitle";
	
}	

.windowTitle {
	textAlign: center;
	font-weight:bold;	
}