/* ==================== COMMON ==================== */
.message {
  padding-bottom: 4px; }

.private_message {
  font-style: italic;
  background-color: whitesmoke; }

.messageFrom {
  font-weight: bold; }

/* ==================== LEARNING PAGE STYLES ==================== */
#chatContent {
  table-layout: fixed;
  margin-top: 10px;
  border-spacing: 10px; }

#messages {
  height: 260px;
  overflow: auto;
  border: thin solid #AAAAAA;
  padding: 2px;
  padding-right: 5px; }

#roster {
  height: 260px;
  overflow: auto;
  border: thin solid #AAAAAA;
  font-weight: bold;
  padding: 2px; }

#sendMessageArea {
  border: thin solid #AAAAAA;
  width: 99%; }

#sendMessageButtonCell {
  text-align: right; }

#sendMessageButton {
  width: 100%; }

.selected {
  background-color: whitesmoke;
  padding: 2px;
  cursor: pointer; }

.unselected {
  background-color: white;
  padding: 2px;
  cursor: pointer; }

/* ================== MONITORING ================== */
.edit-pane {
  display: none;
  border: 1px solid;
  padding: 8px; }
