@import "_lams_variables.scss";
 
/* ==================== COMMON ==================== */
.message {
	font-size: 12px;
	padding-bottom: 4px;
}

.private_message {
	font-style: italic;
	background-color: $gray-lightest;
}

.messageFrom {
	font-weight: bold;
}





/* ==================== LEARNING PAGE STYLES ==================== */

#chatContent {
	table-layout: fixed;
	margin-top: 10px;
	border-spacing: 10px;
}

@media (max-width: 767px) {
	#messages {
		height: 100px;
		resize: vertical;
		overflow: auto;
		border: $border-thin-default-light;
		padding: 2px;
		padding-left:5px;
	}
	
}

@media (min-width: 768px) {
	#messages {
		height: 200px;
		resize: vertical;
		overflow: auto;
		border: $border-thin-default-light;
		padding: 2px;
		padding-left:5px;
	}

  
}

#roster {
	height: 200px;
	resize: vertical;
	overflow: auto;
	border: $border-thin-default-light;
	padding: 2px;
}

.unselected div:first-child, .selected div:first-child {
	margin-right: 10px; 
}	

#roster span {
    display: inline;
	font-size: 14px;
    padding-top: 7px;
    vertical-align: top;
}
	
#sendMessageArea {
	border: $border-thin-default-light;
	width: 100%;
}

#sendMessageButtonCell {
	text-align: right;
}

#sendMessageButton {
	width: 100%;
}

#roster>div {
	line-height: 35px;
}
#roster.mode-teacher>div {
	cursor: pointer;
}
.selected {
	background-color: $gray-lightest;
}
.unselected {
	background-color: white;
}

/* ================== MONITORING ================== */
.edit-pane {
	display: none;;
	border: 1px solid;
	padding: 8px;
}