/* ==================== COMMON ==================== */
.message {
	padding-bottom: 4px;
}

.private_message {
	font-style: italic;
	background-color: #e6e6fa;
}

.messageFrom {
	font-weight: bold;
}

/* ==================== LEARNING PAGE STYLES ==================== */
#chat_content {
	width: 500 px;
	/* compensate for content image border */
	margin-left: 4px;
}

#chat_pane {
	width: 98%;
}

#iResp {
	height: 260px;
	margin-right: 12px;
	overflow: scroll;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
}

#roster {
	float: right;
	width: 105px;
	height: 260px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	font-weight: bold;
	padding: 2px;
}

.selected {
	background-color: lime;
	padding: 2px;
	cursor: pointer;
}

.unselected {
	background-color: white;
	padding: 2px;
	cursor: pointer;
}

#msgArea {
	width: 98%;
}

/* ================== MONITORING ================== */
.edit-pane {
	display: none;;
	border: 1px solid;
	padding: 8px;
}