.visible-xs {
	display: none !important;
}

.hidden-xs {
	display: block !important;
}

@media ( max-width : 1200px) {
	html, body {
		font-size: 14px;
	}
	.graph-con:after {
		bottom: 2px;
	}
}

@media ( max-width : 992px) {
	.monitoring-page-wrapper .visible-xs {
		display: block !important;
	}
	.monitoring-page-wrapper .hidden-xs {
		display: none !important;
	}
	.monitoring-page-wrapper .content-left, .monitoring-page-wrapper .content-right {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.monitoring-page-wrapper .content-right {
		margin-top: 2rem;
	}
	.main-content-inner {
		padding: 2rem 2.8rem;
	}
	.monitoring-page-wrapper .hamburger {
		width: 1.5rem;
	}
	.monitoring-page-wrapper .top-menu form {
		display: none;
	}
	.monitoring-page-wrapper .tasks-col-gate p {
		padding-right: 1rem;
	}
	.monitoring-page-wrapper .content-left {
		order: 2;
	}
	.monitoring-page-wrapper .content-right {
		order: 1;
	}
	.monitoring-page-wrapper .tasks {
		order: 3;
	}
	.monitoring-page-wrapper .insight {
		order: 4;
	}
	
	.monitoring-page-wrapper .graph-col {
		margin-top: 3rem;
	}
	
	.monitoring-page-wrapper .graph-con #myChart {
		width: initial !important;
		height: initial !important;
		margin: 0 !important;
	}
	
	.monitoring-page-wrapper .content-left.content-left1 {
		order: 1;
	}
	.monitoring-page-wrapper .user-table-main {
		order: 2;
	}
	.monitoring-page-wrapper .user-page .score-col-inner {
		margin-top: 2rem;
	}
	.monitoring-page-wrapper .table-content-left {
		-ms-flex: 0 0 27rem;
		flex: 0 0 27rem;
		max-width: 100%;
		padding-left: 3.5rem;
		width: 27rem;
	}
	.monitoring-page-wrapper .table-content-right {
		-ms-flex: 0 0 calc(100%);
		flex: 0 0 calc(100%);
		max-width: calc(100%);
	}
	.monitoring-page-wrapper .content-graph2:after {
		bottom: .6rem;
	}
	.monitoring-page-wrapper .user-table {
		width: 33rem;
	}
	.monitoring-page-wrapper .user-table-data {
		overflow-x: auto;
	}
}

@media ( max-width : 550px) {
	.monitoring-page-wrapper .graph-col {
		display: inline-block !important;
	}
}