@import "_lams_variables.scss";
	
html, body {
	height: 100%;
}

div#titleDiv {
	padding: 3px 5px;
    font-size: small;
    font-weight: bold;
	border-bottom: $border-thin-dotted;
}

table#groupsTable {
	height: 375px;
}

table#groupsTable td {
	vertical-align: top;
}

td#learningLibraryCell {
	width: 200px;
	padding: 5px;
	border-right: $border-thin-dotted;
}

#groupTemplate {
	display: none;
}

#newGroupPlaceholder {
	border: $border-thin-dashed;
	cursor: pointer;
}

#newGroupPlaceholder > div {
	text-align: center;
	margin: 60px 5px 0 5px;
}

.groupContainer {
	float: left;
	width: 180px;
	height: 150px;
	margin: 0 10px 10px 0;
	padding: 5px;
	border: $border-thin-solid;
}

.learningLibraryContainerTitle {
	font-weight: bold;
	text-align: center;
}

.removeGroupButton {
	float: left;
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.learningLibraryContainer {
	overflow: auto;
	height: 123px;
	margin-top: 5px;
}

td#learningLibraryCell .learningLibraryContainer {
	height: 100%;
}

.groupContainer input {
	width: 135px;
	margin-right: 5px;
}

.groupContainer .removeGroupButton {
	padding-top: 3px;
}

.draggableLearningLibrary {
	padding: 3px 0px 3px 0px;
	cursor: default;
}

.droppableHighlight {
	padding : 1px !important;
	border: 5px solid $brand-primary-mid !important;
}

.draggableLearningLibrarySelected {
	background-color: $brand-primary-mid !important;
	color: white !important;
}