Source: lams2
Section: contrib/web
Priority: extra
Maintainer: Ernie Ghiglione <admin@lamsfoundation.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lams2
Architecture: all
Depends: openjdk-6-jdk|sun-java6-jdk, lams-jboss4 (>=5.1), debconf (>=0.5), mysql-server|mysql-server-5.1|mysql-server-5.5, mysql-client, adduser
Replaces: lams-jboss4
Description: Learning Activity Management System (LAMS) 2
 LAMS is a revolutionary new tool for designing, managing
 and delivering online collaborative learning activities. 
 It provides teachers with a highly intuitive visual 
 authoring environment for creating sequences of learning 
 activities. These activities can include a range of 
 individual tasks, small group work and whole class 
 activities based on both content and collaboration.
