#overall-feedback {
	margin-left: 23px; 
	margin-top: 10px;
}

table.forum th {
	font-size: inherit;
	border-left: none;
}
table.forum {
	background:none; 
	border: 1px solid #cacdd1; 
	padding-top:0px; 
	margin-bottom: 10px;
	border-spacing: 0px;
    border-collapse: separate;
}
table.forum.question-summary-table {
	width: 83%; 
	padding: 0px 15px 0px; 
	font-style: italic; 
	color:#47bc23; 
	border: none;
}
table.forum.question-summary-table th{
	padding-top:0px; 
}
table.forum.question-summary-table th:first-child{
	width: 30px; 
	border-left: none; 
	padding-left:0px; 
	text-align: center;
}
table.forum.question-summary-table td{
	padding-left: 15px; 
	vertical-align: middle; 
	background: none; 
}
table.forum.question-summary-table td:first-child{
	padding-left: 10px;
}
table.forum.question-summary-table tr:last-child td{
	border-bottom: none;
}

.innerforms {
	border: 0px;
	font-size: small;
	font-style: normal;
	width:100%;
}

div.message {
    background-color: #FFE4C4;
    border: 1px solid #000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 10px auto;
    padding: 8px;
    text-align: left;
    vertical-align: bottom;
}

img.validationWarning, div.errors img.icon, div.messages img.icon {
    border: 0;
    width: 14px;
    height: 13px;
    vertical-align: top;
}
div.message img.icon {
    vertical-align: middle;
}

div.growlUI h1, div.growlUI h2 {
	color: white; 
	margin: 5px 5px 5px 0px; 
	text-align: center;
	font-size: 18px;
}

.question-numbers {
	padding-right: 15px;
	float: left;
	font-weight: bold;
}
.asterisk{
	float: left; 
	padding-right: 5px;
}
.ordering-option {
	vertical-align: middle !important;
} 
.question-type {
	padding-bottom: 7px; 
	font-style: italic;
}
.question-table {
	width: 98%;
}
.has-radio-button {
	padding:5px 0px 2px 15px; 
	width: 5px;
}
.complete-item-gif {
	padding:5px 0px 2px 15px; 
	width: 7px;
}
.complete-item-gif img {
	border:1px;
}
.question-feedback, div.question-feedback {
	padding: 10px 15px 0px; 
	font-style: italic; 
	color:#47bc23;
}

#quesion-summary-title {
	padding: 2px 15px 10px; 
	font-style: italic; 
	color:#47bc23;
}

#pager {
	text-align: center; 
	font-size: 110%;
}
#pager a{
	margin-left: 10px; 
}
.color-red {
	color: red;
}

#warning-answers-required, #warning-words-limit, #warning-mark-hedging-wrong-total,#warning-mark-hedging-wrong-justification{
	display: none;
}

.reg-info {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 80%;
}

.button-disabled {
	opacity:.2;
}

table.table-row-spacing {
	width:100%; 
	border-spacing: 4px; 
	border-collapse: separate;
}
.comments {
	font-size: small; font-style: italic; margin-top: -8px;
}
