@import "_lams_variables.scss";


.innerforms {
	border: 0px;
	font-size: small;
	font-style: normal;
	width:100%;
}

img.validationWarning, div.errors img.icon, div.messages img.icon {
    border: 0;
    width: 14px;
    height: 13px;
    vertical-align: top;
}

div.growlUI h1, div.growlUI h2 {
	color: white; 
	margin: 5px 5px 5px 0px; 
	text-align: center;
	font-size: 18px;
}

.question-numbers {
	padding-right: 15px;
	float: left;
	font-weight: bold;
}

.question-table {
	width: 98%;
}

.complete-item-gif {
	width: 30px;
}
.complete-item-gif img {
	border:1px;
}

.feedback {
	padding-bottom: 10px;
}

.selected-by-groups {
	margin-left: 45px;
}

[data-bs-toggle="collapse"].collapsed .if-not-collapsed,
[data-bs-toggle="collapse"]:not(.collapsed) .if-collapsed,
.max-word-limit-exceeded {
	display: none;
}

.countdown-timeout {
	color: #FF3333 !important;
}

#leader-info {
	margin-bottom: 10px;
}

.question-etherpad {
	padding: 0;
}

@media (min-width: 0px) and (max-width: 767px) {
	.discussion-sentiment-start-button {
		padding: 1px 5px;
	}
}

.discussion-sentiment-start-button .fa-comments {
	color: black !important;
}

.monitor-question-buttons {
	text-align: right;
	float: right;
}

#pager {
	text-align: center; 
	font-size: 110%;
}
#pager a{
	margin-left: 10px; 
}

#warning-answers-required, #warning-words-limit, #warning-mark-hedging-wrong-total{
	display: none;
}

.button-disabled {
	opacity:.2;
}

table.table-row-spacing {
	width:100%; 
	border-spacing: 4px; 
	border-collapse: separate;
}
.comments {
	font-size: small; font-style: italic; margin-top: -8px;
}

.margin-top-minus-10 {
	margin-top: -10px;
}

.aQuestionLink {
	padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 10px
}

.div-hover>div:last-child {
    border-bottom: 1px solid #ddd;
}
.div-hover>.row {
    padding: 12px 0 !important;
}

/*----------countdown growl----------------*/
.jGrowl {
  	font-size: 22px;
  	font-family: $font-family-base;
  	margin-left: 120px;
}
.jGrowl-notification {
	opacity: .8;
	border-radius: 10px;
	width: 400px;
	margin: 10px 20px;
	background: #eedc94 url(#{$url_css_directory}/check48.png) no-repeat 10px 10px;
	padding-bottom: 20px;
}
.jGrowl-message {
	padding-left: 60px;
	padding-top: 5px;
	color: black;
}

/*----------SORTABLE----------------*/
.sortable-chosen {
  background-color: #fff; 
}
.sortable-placeholder {
  background-color: rgba(241, 241, 241, 0.7); 
 }
