<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration
DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.username">@db.username@</property>
		<property name="connection.password">@db.password@</property>
		<property name="connection.url">@db.url.run@</property>
		<property name="connection.driver_class">@db.driver@</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	</session-factory>
</hibernate-configuration>
